$colors: (
    white: #ffffff,
    yellow: #f8e71c,
    yellow-dark: #6b5400,
    red: #d0021b,

    pink: #ff5692,
    pink-light: #ff6174,
    pink-dark: #ff465c,

    green-1: #144c2d,
    green-2: #27a861,
    green-3: #42b16e,
    green-4: #61c66a,
    green-5: #67c870,
    green-o-1: rgba(20, 76, 45, 0.59),

    gray-1: #383838,
    gray-2: #4f4f4f,
    gray-3: #5a5a5a,
    gray-4: #686868,
    gray-5: #7d7979,
    gray-6: #c4c4c4,
    gray-7: #ccc6c6,
    gray-8: #a5a5a5,
    gray-9: #dad7d7,

    gray-o-1: rgba(125, 121, 121, 0.66),

    blue-1: #6e94d2,
    blue-2: #9cb1d4,

    black-1: black,
    black-2: #232323,
    black-3: #262626,

    pink-1: #ff465c, 
    pink-2: #ff5692,
    pink-3: #ff6174,
    yellow-1: #edb627,
    
    none: transparent
);

@function color($color) {
    @return map-get($colors, $color);
}
