@mixin animation($options...) {
    @include thirdPartyProps(animation, $options);
}

@mixin transition($options...) {
    @include thirdPartyProps(transition, $options);
}

@mixin transform($options...) {
    @include thirdPartyProps(transform, $options);
}

@mixin thirdPartyProps($key, $options...) {
    -webkit-#{$key}: $options;
    -moz-#{$key}: $options;
    -ms-#{$key}: $options;
    -o-#{$key}: $options;
    #{$key}: $options;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
}

@mixin appearance($value...) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

%centerXY {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    @include transform(translate(-50%, -50%) !important);
}

%reset-min-width {
    min-width: initial !important;
    min-width: auto !important;
}

%reset-max-width {
    max-width: initial !important;
    max-width: auto !important;
}

@mixin box-space($on, $steps: 3) {
    $parts: ('top', 'bottom', 'left', 'right');
    @each $value in $parts {
        @for $i from 1 through $steps {
            .#{$on}-#{$value}-#{$i} {
                #{$on}-#{$value}: #{$i}rem !important;
            }
        }

        .#{$on}-#{$value}-0 {
            #{$on}-#{$value}: 0 !important;
        }
    }

    @for $i from 1 through $steps {
        .#{$on}-y-#{$i} {
            #{$on}-top: #{$i}rem !important;
            #{$on}-bottom: #{$i}rem !important;
        }

        .#{$on}-x-#{$i} {
            #{$on}-left: #{$i}rem !important;
            #{$on}-right: #{$i}rem !important;
        }
    }

    .#{$on}-y-0 {
        #{$on}-top: 0 !important;
        #{$on}-bottom: 0 !important;
    }

    .#{$on}-x-0 {
        #{$on}-left: 0 !important;
        #{$on}-right: 0 !important;
    }
}

@mixin setColors($colors) {
    @each $name, $value in $colors {
        .bg-#{$name} {
            color: white;
            background-color: $value !important;
        }

        .fill-#{$name} {
            fill: $value !important;
        }

        .color-#{$name} {
            color: $value !important;
        }

        .border-#{$name} {
            border: 1px solid $value !important;
        }
    }
}

@function convertPxToRem($size) {
    @return ($size/16) + rem;
}
