@import './_mixins.scss';
@import './_colors.scss';

$root: '#App';

$primary-color: color(green-2);
$secondary-color: color(green-3);
$info-color: color(green-2);
$success-color: color(green-2);
$processing-color: color(green-2);
$error-color: color(pink-1);
$highlight-color: color(pink-2);
$warning-color: color(yellow-1);
$disabled-color: color(gray-5);
$normal-color: color(gray-4);

$primary-font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Open Sans', Helvetica, Arial, sans-serif;

//layout
$header-sm-margin-top: 10px;
$header-sm-padding: 15px;
$header-margin-top: 0;
$header-height: 68px;
$header-color: $normal-color;
$header-bg-color: white;
$header-logo-sm-width: 71px;
$header-logo-width: 108px;

$content-min-width: convertPxToRem(375);
$content-bg-color: white;

$footer-bg-color: $primary-color;
$footer-align: center;
$footer-sm-padding: 20px;
$footer-height: 100px;
$footer-small-size: 12;
$footer-span-size: 18;
$footer-logo-sm-width: 43px;
$footer-logo-width: 87px;

// link
$link-normal-label-color: $normal-color;
$link-focus-label-color: $primary-color;

//button

$button-primary-height: 4.78em;
$button-primary-font-family: $secondary-font-family;
$button-primary-font-size: 1em;
$button-primary-color: $primary-color;
$button-primary-weight: 400;
$button-primary-label-color: white;
$button-primary-text-align: left;

$button-secondary-height:3.42em;
$button-secondary-font-size: 1em;
$button-secondary-font-family: $secondary-font-family;
$button-secondary-color: $secondary-color;
$button-secondary-weight: bold;
$button-secondary-label-color: white;
$button-secondary-text-align: center;

$button-active-color: color(green-1);
$button-active-label-color: white;

$button-disabled-color: $disabled-color;
$button-disabled-label-color: color(gray-8);

$button-slim-height: 3.125em;
$button-slim-font-size: 1em;
$button-slim-font-family: $secondary-font-family;
$button-slim-color: $secondary-color;
$button-slim-weight: bold;
$button-slim-label-color: white;

//Typography
//           1   2  3  4  5  6  7
$text-sizes: 12 14 16 18 20 24 28;
$text-font-family: $primary-font-family !important;
$text-primary-color: $normal-color;
$text-primary-size: 18;
$text-primary-weight: bold;
$text-line-height-dif: -1.5;

$text-secondary-color: color(gray-light);
$text-secondary-size: 16;
$text-secondary-weight: bold;
$text-default-color: $normal-color;
//
$text-form-primary-color: color(gray-1);
$text-form-primary-weight: bold;
$text-form-primary-size: 1em;
//
$text-form-secondary-color: color(gray-1);
$text-form-secondary-weight: bold;
$text-form-secondary-size: 1em;

// Misceleaneas
$box-margin-size: 5;
$box-padding-size: 5;
$border-radius: 10px;
$border-radius-2: 18px;
$gradient-dark-color: color(black-2);
$gradient-light-color: rgba(0, 0, 0, 0);

$line: 1px solid color(gray-5);
$line-2: 2px solid color(gray-5);
$line-3: 3px solid color(gray-5);

// Tags
$tag-bg-color: rgba(0, 0, 0, 0.33);
$tag-label-color: $normal-color;

// Stepper
$stepper-bullet-color: color(gray-semi-dark);
$stepper-bullet-size: 13px;

$stepper-tail-color: color(gray-semi-dark);
$stepper-tail-size: 3px;
$stepper-tail-top: 5px;

$stepper-bullet-finish-color: $normal-color;
$stepper-bullet-finish-size: 13px;

$stepper-tail-finish-color: $normal-color;
$stepper-tail-finish-size: 3px;
$stepper-tail-finish-top: 5px;

///////////////////////////
// Sections
///////////////////////////

// ** Profile
$profile-header-bg-color: rgba(0, 0, 0, 0.3004);
$profile-header-border-bottom: 1px solid white;
$profile-header-padding: 44px;

// ** ItemWork
$item-work-bg-color: color(gray-2);

// ** Tags
$tags-unchecked-bg-color: color(gray-2);
$tags-unchecked-label-color: $normal-color;

$tags-focus-bg-color: $secondary-color;
$tags-focus-label-color: $normal-color;

$tags-bg-color: $normal-color;
$tags-label-color: color(black);
$tags-sm-label-size: 12;
$tags-label-size: 18;

$info-view-title-color: color(gray-4);
$info-view-title-font-weight: $text-form-primary-weight;
$info-view-title-font-size: convertPxToRem($text-form-primary-size);

$input-border-color: white;
$input-border-focus-color: white;
$input-font-size: 18px;
$input-font-weight: 500;
$input-font-color: color(gray-4);

$select-color: white;
$select-border: 3px solid white;
$select-border-radius: 2px;
$select-bg-color: transparent;
$select-focus-border: 3px solid white;;
$select-focus-bg-color: transparent;
$select-focus-border-radius: 2px;

$box-color:  color(gray-4);
$box-bg-color: color(gray-6);
$box-border-radius: 10px;
