@import './_colors.scss';
@import './_variables.scss';

#{$root} {
    .button,
    button {
        position: relative;
        display: inline-flex;
        width: 100%;
        height: $button-primary-height;
        color: $button-primary-label-color;
        font-weight: $button-primary-weight; 
        font-size: $button-primary-font-size;
        letter-spacing: 0.484848px;
        background-color: $button-primary-color;
        font-family: $button-primary-font-family;
        text-align: $button-primary-text-align;
        border-color: transparent;
        white-space: normal;
        border-radius: $border-radius;
        cursor: pointer;
        z-index: 2;



        &.btn-secondary {
            text-align: $button-secondary-text-align;
            font-family: $button-secondary-font-family;
            height: $button-secondary-height;
            color: $button-secondary-label-color;
            font-size: $button-secondary-font-size;
            font-weight: $button-secondary-weight;
            background-color: $button-secondary-color;
        }

       

        &.bg-none{
            color: $text-default-color;
            &:hover,
            &:focus {
                color: $primary-color;
            }
        }

        span:not(.ico) {
            width: 100%;
        }

        &:not(.full-width) {
            max-width: $content-min-width;
        }

        > .ico {
            position: absolute;
            right: 15px;
            margin-left: 24px;
            top: 10px;
        }

        &.button-text {
            background: transparent;
        }

        &.button-outline {
            background: transparent;
            border: 2px solid $button-disabled-color;
            border-radius: 1;
            &:hover {
                border-color: transparent;
            }
        }

        &.button-icon {
            display: inline-block;
            min-width: initial;
            max-width: initial;
            background: transparent;
            width: auto;
            height: auto;
            border-radius: 50%;
            padding: 0;
        }

        &.plain .ico {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: double;
            color: $button-active-label-color;
            background-color: $button-active-color;
        }

        &.active {
            background-color: $button-active-color;
        }

        &[disabled] {
            color: $button-disabled-label-color;
            background-color: $button-disabled-color;
        }

        &.ant-btn-circle {
            display: inline-block;
            padding: 0;
            width: 32px;
            height: 32px;
            min-width: 32px;
            max-width: 32px;
            min-height: 32px;
            max-height: 32px;
            border-radius: 50%;
        }
    }

    a {
        color: $link-normal-label-color;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            text-decoration: double;
            color: $link-focus-label-color;
        }
    }
}
