/*============================================================================
Table of contents:

  1. BASICS
    1.1. Reset
    1.2. Mixins
    1.3. Colors
    1.4. Grid
    1.5. Button
    1.6. Typography
    1.7. Animation

  2. STRUCTURE
    2.1. General
    2.1.1 General
    2.1.2 Box
    2.1.3 Position
    2.1.4 Size
    2.1.5 Visibility

============================================================================*/
@import './_variables.scss';

/*!
 *  1.1. Resets
*/

@import './override.scss';

/*!
 *  1.2. Mixins
*/

@import './_mixins.scss';

/*!
 *  1.3. Colors
*/

@import './_colors.scss';

$list: (
    primary: $primary-color,
    secondary: $secondary-color,
    info: $info-color,
    success: $success-color,
    processing: $processing-color,
    error: $error-color,
    highlight: $highlight-color,
    warning: $warning-color,
    disabled: $disabled-color,
    normal: $normal-color
);

@include setColors($colors);
@include setColors($list);

/*!
 *  1.4. Grid
*/

@import './grid/grid.scss';

/*!
 *  1.5. Buttons
*/

@import './button.scss';

/*!
 *  1.6. Typography
*/

@import './typography.scss';

/*!
 *  1.7. Animation
*/

@import './animation.scss';

/*!
 *  2.0. STRUCTURE
============================================================================*/

/*!
*  2.1. General
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

/*!
*  2.1.2 Box
*/
@include box-space('margin', $box-margin-size);
@include box-space('padding', $box-padding-size);

.no-padding,
.no-padding-x {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padding,
.no-padding-y {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.no-margin,
.no-margin-x {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.no-margin,
.no-margin-y {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/*!
*  2.1.3 Position
*/

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed !important;
    top: 0;
    left: 0;

    &.to-bottom {
        top: auto;
        bottom: 0;
    }

    &.to-right {
        right: 0;
        left: auto;
    }
}

.position-absolute {
    @extend .position-fixed;
    position: absolute !important;
}

.center {
    @extend %centerXY;
}

.centerY {
    top: 50%;
    @include transform(translateY(-50%));
}

.flip-vertical {
    @include transform(rotate(-180deg));
}

.flip-horizontal {
    @include transform(scale(-1, 1));
}

/*!
*  2.1.4 Size
*/

.full-size,
.full-width {
    width: 100%;
}

.full-size,
.full-height {
    height: 100%;
}

.full-viewport,
.full-viewport-width {
    width: 100vw;
    min-width: 1024px;
}

.full-viewport,
.full-viewport-height {
    height: 100vh;
    min-height: 600px;
}

.full-size-inherit,
.inherit-width {
    width: inherit;
}

.full-size-inherit,
.inherit-height {
    height: inherit;
}

.img-ratio-width {
    width: 100%;
    height: auto;
}

/*!
*  2.1.5 Visibility
*/

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hidden {
    display: none !important;
}

.show {
    display: initial !important;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-inline {
    display: inline !important;
}

.main-content {
    min-height: calc(100vh - $footer-height);
}

.vertical-middle {
    vertical-align: middle;
}

#{$root} {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        border-bottom: $line-3;
        -webkit-text-fill-color: $normal-color;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    section {
        // min-width: $content-min-width;
        @media screen and (max-width: 414px) {
            max-width: $content-min-width;
        }
    }

    .small-content {
        max-width: $content-min-width;
    }
}

.img-ratio-height {
    width: 100%;
}
.img-ratio-width {
    max-width: 100%;
    height: auto;
}

.img-size-cover {
    object-fit: cover;
}

.img-size-fit {
    object-fit: fit;
}

.img-size-contain {
    object-fit: contain;
}

.img-align-left {
    object-position: left;
}

.img-align-top {
    object-position: top;
}

.img-align-bottom {
    object-position: bottom;
}

.img-align-right {
    object-position: right;
}

.cover {
    display: block;
    width: 100%;

    object-fit: cover;
    object-position: top;
}

.img-align-center {
    object-position: center;
}

.blur {
    filter: blur(2px);
    opacity: 0.4;
}

.border-radius {
    border-radius: $border-radius !important;
}

.border-radius-2 {
    border-radius: $border-radius-2 !important;
}
.no-border-radius {
    border-radius: 0 !important;
}

.cursor {
    cursor: pointer;
}

.box {
    padding: 15px;
    background: $box-bg-color;
    border-radius: $box-border-radius;
    color: $box-color;
    h2 {
        color: $box-color;
    }
}



