@import './_colors.scss';
@import './_variables.scss';

#{$root} {
    .ant-form-item-label label {
        color: $input-font-color;
        font-weight: $text-form-primary-weight;
        font-size: $text-form-primary-size;

        &:before {
            content: '';
        }
    }

    .required .ant-form-item-label label {
        &:after {
            content: '*';
        }
    }

    .field-number .ant-form-item-control .field-input .ant-form-item-control {
        line-height: 1;

        &.has-success {
            color: color(white);
            .ant-input {
                border-bottom-color: color(green);
            }

            .ant-form-item-children:after {
                content: '';
                font-family: 'arial';
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url(../svgs/Check.svg);
            }
        }

        &.has-error {
            color: color(pink-light);
            .ant-input {
                border-bottom-color: $error-color;
            }
            .ant-select {
                border-color: $error-color !important;
            }
        }
    }

    .ant-input {
        font-family: 'Open sans', Helvetica, Arial, sans-serif;
        color: color(gray-4);
        background-color: transparent;
        border: none;
        border-bottom: $line !important;
        border-radius: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-size: $input-font-size;
        font-weight: $input-font-weight;
        &:focus {
            border-bottom-color: $input-border-focus-color;
            outline: transparent;
        }
    }

    .ant-layout-content > section,
    .ant-layout-content > article {
        width: 100%;
    }

    .ant-form-explain {
        color: color(pink);
    }

    .ant-row:before,
    .ant-row:after {
        display: block !important;
    }

    .field-select {
        .ant-select {
            .ant-select-selection {
                background: #dad7d7;
                border-radius: 10px;
                color: $text-default-color;
            }
            .ant-select-arrow {
                color: $text-default-color;
            }

            &.ant-select-open {
                .ant-select-selection {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
        }

        .has-error {
            .ant-select .ant-select-selection {
                border-color: $error-color;
            }
        }
    }

    .ant-upload-btn {
        background-color: color(gray-semi-dark);
        color: color(white);
    }

    .ant-upload .ant-upload-drag {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .ant-upload-list-item {
        width: 70px;
        height: 70px;
        padding: 0;
        border: none;
        border-radius: 0;
        .selected {
            border: 3px solid color(gray-semi-dark);
        }
    }

    [role='button'].ant-button {
        color: color(white);
        border: none;
        background: transparent;


    }

    .ant-select-selection--multiple .ant-select-selection__choice {
        color: rgb(0, 0, 0);
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.81);
        border: 1px solid #e8e8e8;
        border-radius: 5px;
    }

    .ant-collapse {
        position: relative;
        font-family: inherit;
        font-size: convertPxToRem(18);
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;

        .ant-collapse-header {
            position: relative;
            padding: 28px 30px;
            border-bottom: 4px solid #505050;
        }

        .arrow {
            position: absolute;
            right: 25px;
            top: 18px;
            left: auto;
        }

        .ant-collapse-content {
            color: color(white);
            border: none;
            background: transparent;
        }

        .ant-collapse-item {
            border: none;
            border-radius: 0;
        }
    }

    .ant-switch {
        background: black;
        border: 3px solid color(gray-semi-dark);
        height: 27px;

        &:after {
            background: color(gray-light);
        }
    }

    .ant-switch-checked:after {
        background: color(green);
    }

    .ant-tabs-tab-active.ant-tabs-tab {
        color: $button-secondary-color;
    }

    .ant-tabs-tab {
        font-weight: bold;
        font-size: 24px;
        color: $text-form-primary-color;
        text-align: center;
    }

    .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar {
        border-right: none;
    }

    .ant-tabs-ink-bar {
        background: transparent;
    }

    .ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
        border-left: 3px solid #5c5c5c;
    }

    .ant-tag,
    .ant-tag.ant-tag-checkable {
        height: auto;
        padding: 3px 10px;
        border: none;
        border-radius: 5px;
        background: $tags-unchecked-bg-color;
        font-weight: bold;
        font-size: convertPxToRem($tags-sm-label-size);
        color: $tags-unchecked-label-color;

        @media screen and (min-width: 641px) {
            font-size: convertPxToRem($tags-label-size);
        }

        &.ant-tag-checkable-checked {
            color: $tags-label-color;
            background: $tags-bg-color;
        }

        &:focus {
            color: $tags-focus-label-color;
            background: $tags-focus-bg-color;
        }
    }

    .ant-tag {
        color: $tags-label-color;
        background: $tags-bg-color;
    }

    .ant-steps {
    }

    .ant-steps-item {
        .ant-steps-item-tail {
            margin: 0;

            &:after {
                width: 100%;
                margin-left: 0px;
                background: color(gray-4);
            }
        }

        .ant-steps-item-icon {
            margin-left: 0;
            width: 13px;
            height: 13px;
            line-height: 13px;
        }

        .ant-steps-icon-dot {
            top: -3px;
            background: color(gray-4);
        }

        .ant-steps-item-content {
            display: none;
        }

        &.ant-steps-item-finish {
            .ant-steps-icon-dot {
                background: $primary-color;
            }

            .ant-steps-item-tail:after {
                background: $primary-color;
            }
        }
    }

    .ant-btn-sm {
        height: $button-slim-height !important;
    }
}

.ant-select-dropdown-content {
    padding-top: 5px;
    margin-top: -5px;
    background: #dad7d7;
    z-index: 0;

    .ant-select-dropdown-menu-item {
        background: rgba(255, 255, 255, 0.33);
        border-radius: 5px !important;
        width: 98%;
        margin-left: 1%;
        margin-bottom: 5px;

        &:focus,
        &.ant-select-dropdown-menu-item-active {
            background: #67c870;
        }
    }
}
