@import './_colors.scss';
@import './_variables.scss';
@import './_mixins.scss';

#{$root} {
    @each $value in $text-sizes {
        .size-#{index($text-sizes, $value)} {
            font-size: convertPxToRem($value) !important;
            line-height: convertPxToRem($value + $text-line-height-dif);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-default-color;
        font-weight: 500;
    }

    small {
        font-size: convertPxToRem(9);
        line-height: convertPxToRem(13);
    }

    @for $i from 1 through 9 {
        $size: $i * 100;
        .font-weight-#{$size} {
            font-weight: $size !important;
        }
    }

    .text-weight-bold {
        font-weight: 500!important;
    }

    .text-weight-normal {
        font-weight: 400!important;
    }

    .text-weight-light {
        font-weight: 100!important;
    }

    .text-align-center {
        text-align: center;
    }

    .text-align-right {
        text-align: right;
    }

    .text-align-left {
        text-align: left;
    }

    .text-align-justify {
        text-align: justify;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .text-capitalize {
        text-transform: capitalize;
    }

    .text-lowercase {
        text-transform: lowercase;
    }

    .title {
        color: $text-primary-color;
        font-size: convertPxToRem($text-primary-size);
        font-weight: $text-primary-weight;
        line-height: convertPxToRem($text-primary-size + 6);
    }

    .subtitle {
        color: $text-secondary-color;
        font-size: convertPxToRem($text-secondary-size);
        font-weight: $text-secondary-weight;
        line-height: convertPxToRem($text-secondary-size + 6);
    }

    p,
    small,
    div,
    td,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .main-font {
        font-family: $text-font-family;
    }
}
