
<script>

import EventBus from 'utils/EventBus';

export default {
    props: {
        form: { type: Object },
        formName: { type: String },
        formData: { type: Object },
        index: { type: Number },
        mapper: { type: Object },
        extraData: { type: Object },
    },

    data() {
        return {
            condition: true
        }
    },
   
    created() {
        EventBus(this.formName)
            .subscribe('fieldChange', this.verifyConditions)
    },

    methods: {
        verifyConditions() {
             const { 
                form, 
                formData, 
                condition
            } = this;
            let value = condition;

            try {
                if (typeof form.condition === 'function') {
                    value = this.form.condition(formData || {}, this.form, this.extraData);
                }

                if (value !== condition) {
                    this.condition = value;
                }

            } catch (e) {
                console.log(`BuilderSchema :: eval(form.condition) >> ${form.condition} >> ${e.message}`);
                return null;
            }
        }
    },

    render() {
        const { 
            form, 
            formData, 
            formName,
            mapper, 
            index, 
            condition
        } = this;
        const type = form.type;
        const Field = mapper[type];

        if (!Field) {
            console.log(`Invalid field: "${form.key}" >> ${form.type}!`);
            return null;
        }

        if (!condition) {
            return null;
        }

        return <Field 
                    form={form}
                    formData={formData}
                    formName={formName}
                    mapper={mapper}
                />
    }
}
</script>