
<template>
    <a-form-item
        :label="label"
        :hasFeedback="hasFeedback"
        :validateStatus="validateStatus"
        :help="help"
        :isRequired="isRequired"
        :class="`field-number ${form.className || 'cell-12'}  ${isRequired ? 'required' : ''}`"
    >
        <a-input-number
            v-bind="attr"
            type="number"
            :title="tooltip"
            :name="name"
            :disabled="disabled"
            :value="value"
            @change="onChangeValidate"
        />
    </a-form-item>
</template>

<script>
import FieldMixin from '../FieldMixin'
export default {
    name: 'FieldNumber',
    mixins: [FieldMixin]
}
</script>
