
<template>
    <a-form-item 
        :label="label"
        :validateStatus="validateStatus"
        :help="help"
        :class="`field-upload ${form.className || 'cell-12'} ${isRequired ? 'required' : ''}`">
        <img :src="previewImage" style="width: 100%"/>
        <a-upload
            v-bind="attr"          
            :fileList="fileList"
            @preview="handlePreview"
            @change="handleChange"
        >
            <div v-if="fileList.length < 3">
                <a-icon type="plus" />
                <div class="ant-upload-text">Upload</div>
            </div>

        </a-upload>
    </a-form-item>

</template>

<script>
    import FieldMixin from '../FieldMixin'
    export default {
         name: 'FieldUpload',
         mixins: [FieldMixin],
         data () {
            return {
            previewVisible: false,
            previewImage: '',
            fileList: [{
                uid: '-1',
                name: 'xxx.png',
                status: 'done',
                url: 'https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png',
            }],
            }
        },
        methods: {

            handleCancel () {
                this.previewVisible = false
            },

            handlePreview (file) {
                this.previewImage = file.url || file.thumbUrl
                this.previewVisible = true
            },

            handleChange ({ fileList }) {
                this.fileList = fileList
            },
        },
    }
</script>
