


<template>
    <a-form-item 
        :label="label"
        :validateStatus="validateStatus"
        :help="help"
        :isRequired="isRequired"
        :class="`field-switch ${form.className || 'cell-12'}  ${isRequired ? 'required' : ''}`">
        <a-switch
            v-bind="attr"
            :title="tooltip"
            :name="name"
            :disabled="disabled"
            :value="value"
            @change="onChangeValidate"
        />
    </a-form-item>
</template>

<script>
    import FieldMixin from '../FieldMixin'
    export default {
        name: 'FieldSwitch',
        mixins: [FieldMixin],
    }
</script>
