<script>
    import FieldMixin from '../FieldMixin'
    export default {
        name: 'FieldRadiobutton',
        mixins: [FieldMixin],
        render() {
            return (
                <a-form-item 
                    label={this.$t(this.label)}
                    validateStatus={this.validateStatus}
                    help={this.$t(this.help)}
                    class={`field-radio ${this.form.className || 'cell-12'}  ${isRequired ? 'required' : ''}`}>
                        <a-radio-group 
                            {...this.attr}
                            title={this.form.title}
                            name={this.form.key[0]}
                            disabled={this.form.readonly}
                            value={this.value}
                            onChange={onChangeValidate}
                        >
                            {
                                this.options.map((item, index) => (
                                    <a-radio 
                                        value={item.value} 
                                        key={`${item.value}_${index}`}>
                                            {item.label}
                                    </a-radio>
                                ))
                            }
                        </a-radio-group>
                </a-form-item>
            )
        }
    }
</script>
