
<template>
    <a-form-item
        class="field-upload"
        :label="label"
        :validateStatus="validateStatus"
        :help="help"
        :class="className"
    >
        <a-upload-dragger
            v-if="!isMaxLength"
            v-bind="attr"
            name="file"
            :beforeUpload="beforeUpload"
            :showUploadList="false"
        >
            <div>
                <p class="ant-upload-drag-icon">
                    <a-icon :type="loading ? 'loading' : 'cloud-upload'"/>
                </p>
                <p v-if="loading" class="ant-upload-text">{{ $t('form.upload') }}</p>
                <p v-else class="capture-text">{{ $t('form.drag_or_click_files') }}</p>
            </div>
        </a-upload-dragger>
        <button v-if="hasPicture" @click.stop="handleCollapse" class="upload-collapse-list">
            {{ $t('form.all_content') }}
            <a-icon :type="arrow"/>
        </button>
        <p v-if="isMaxLength" class="upload-collapse-list">{{ $t('form.max_file') }}</p>
        <div class="grid thumb-uploaded" v-show="!collapsed">
            <div
                id="work-thumbs"
                v-for="(file, indexFile) in fileList"
                :key="`${indexFile}_thumb`"
                class="cell auto"
            >
                <div class="upload-thumb">
                    <img
                        v-if="file.fileType == 'image'"
                        :src="file.url"
                        class="img-size-cover upload-thumb-source"
                    >
                    <FieldVideoWork
                        v-if="file.fileType == 'video'"
                        class="field-video-work img-size-cover upload-thumb-source"
                        :index="indexFile"
                        :posterUrl="file.poster"
                        @poster="onPoster"
                    ></FieldVideoWork>
                    
                    <span class="upload-thumb-actions">
                        <button
                            @click.prevent="handleRemove(file)"
                            class="upload-delete-btn bg-none"
                        >
                            <i aria-hidden="true" class="anticon anticon-close-circle"></i>
                            <span class="visuallyhidden">{{ $t('form.remove_file') }}</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="link-container">
            <p class="link">{{ $t('form.add_file_vimeo_youtube') }}</p>
            <input id="videoLink" type="text" value="YOUTUBE">
            <span id="add-link" @click="addLink">+</span>
        </div>
    </a-form-item>
</template>

<script>
import FieldMixin from '../FieldMixin'
import FieldVideoWork from './FieldVideoWork' //custom component

function getBase64(img, callback) {
    const reader = new FileReader()
    reader.addEventListener('load', () => callback(reader.result))
    reader.readAsDataURL(img)
}


export default {
    name: 'FieldUploadWork',

    components: {
        FieldVideoWork
    },

    mixins: [FieldMixin],

    data() {
        return {
            collapsed: false,
            loading: false,
            fileList: [...(this.options || [])],
            photos: [],
            videoLink: {}
        }
    },

    mounted() {
        this.videoLink = document.getElementById('videoLink')
        if (this.value && this.value.length) {
            this.fileList = [...(this.value || [])]
        }
    },

    updated() {
        const selected = document.querySelector(`.upload-thumb.selected`)
        const newSelected = document.querySelector(
            `.upload-thumb img[src="${this.value}"]`
        )

        if (selected) {
            selected.classList.remove('selected')
        }

        if (newSelected) {
            newSelected.parentNode.classList.add('selected')
        }
    },

    computed: {
        hasPicture() {
            return !!this.fileList.length
        },

        isMaxLength() {
            return this.fileList.length == this.form.maxLength
        },

        arrow() {
            return this.collapsed ? 'up' : 'down'
        },

        className() {
            return {
                [this.form.className]: !!this.form.className,
                'cell-12': !!!this.form.className,
                collapsed: this.collapsed,
                required: this.isRequired
            }
        }
    },

    methods: {
        handleCancel() {},

        handleRemove(file) {
            const url = file.url
            this.fileList = this.fileList.filter(item => item.url != url)

            if (this.value === url) {
                this.handlePreview({ url: '' })
            }
        },

        handlePreview(file, other) {
            //Aca mandar el Array
            this.photos = this.fileList
            this.onChangeValidate(this.fileList || [])
        },

        handleCollapse(event) {
            event.preventDefault()
            this.collapsed = !this.collapsed
        },

        onPoster(data) {
            const vm = this
            const index = data.index
            if (null != this.fileList[index]) {
                const videoData = this.fileList[index]
                videoData.poster = data.poster
                const list = this.fileList.slice()
                this.fileList.length = 0
                vm.fileList = list
                vm.onChangeValidate(vm.fileList || [])
            }
        },

        beforeUpload(file) {
            let errors = 0
            const size = file.size / 1024
            if (this.form.minSize && size < this.form.minSize) {
                const sizeKB = size < 1 ? size * 1024 : size
                this.$message.error(
                    `File must bigger than ${this.form.minSize}MB!`
                )
                errors += 1
            }

            if (this.form.maxSize && size > this.form.maxSize) {
                this.$message.error(
                    `File must smaller than ${this.form.maxSize}MB!`
                )
                errors += 1
            }

            if (!!!errors && this.form.action) {
                const vm = this
                this.value = ''
                this.loading = true
                const data = {
                    file: file,
                    fileType: 'to Define'
                }
                this.form.action(data).then(response => {
                    try {
                        response.fileType =
                            response.mimetype.indexOf('video') != -1
                                ? 'video'
                                : 'image'
                        response.url = response.url
                        vm.fileList.push(response)
                        vm.loading = false
                        vm.handlePreview(response)
                    } catch (error) {
                        this.$message.error(`${file.name} file upload failed.`)
                    }
                })
            }

            return false
        },

        beforeUploadPoster(file) {
            let errors = 0
            const size = file.size / 1024
            if (this.form.minSize && size < this.form.minSize) {
                const sizeKB = size < 1 ? size * 1024 : size
                this.$message.error(
                    `File must bigger than ${this.form.minSize}MB!`
                )
                errors += 1
            }

            if (this.form.maxSize && size > this.form.maxSize) {
                this.$message.error(
                    `File must smaller than ${this.form.maxSize}MB!`
                )
                errors += 1
            }

            if (!!!errors && this.form.action) {
                const vm = this
                const fileType = 'to be confirmed'
                this.value = ''
                this.loading = true
                const data = {
                    file: file,
                    fileType: fileType
                }
                this.form.action(data).then(response => {
                    try {
                        response.fileType = response.mimetype
                        vm.fileList.push(response)
                        vm.loading = false
                    } catch (error) {
                        this.$message.error(`${file.name} file upload failed.`)
                    }
                })
            }

            return false
        },

        addLink() {
            const value = this.videoLink.value
            if (null == value || this.loading) {
                return
            }

            var item = {
                url: value,
                fileType: 'video',
                mimetype: 'video/mp4',
                urlVideo: value
            }

            this.fileList.push(item)
        }
    }
}
</script>
<style lang="scss">
.field-upload {
    background-color: black;
    padding-bottom: 15px;

    .ant-upload.ant-upload-drag {
        border: none;
        background: transparent;
        color: white;
    }

    .ant-upload .ant-upload-btn {
        width: 100%;
        height: 234px;
        padding: 0;
        .image-selected {
            object-fit: cover;
            width: 100%;
            height: 234px;
        }
    }

    .ant-form-item-control-wrapper {
        width: 100%;
        padding: 5px;
        margin: auto;
        background-color: rgba(85, 82, 82, 0.57);
    }

    #{$root} section.link-container {
        min-width: 17.125rem;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    p.link,
    .ant-upload.ant-upload-drag p.ant-upload-text {
        color: white;
        width: 80%;
        margin: auto;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    input#videoLink {
        font-size: 12px;
        width: 80%;
        height: 24px;
    }

    #add-link {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
        padding: 0px 14px;
        font-size: 21px;
        font-weight: bolder;
        line-height: 1;
        color: rgba(0, 0, 0, 0.65);
        text-align: center;
        background-color: #fafafa;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        position: relative;
        top: 4px;
        left: 4px;
        cursor: pointer;
    }

    .ant-upload.ant-upload-drag p.capture-text {
        color: white;
        width: 80%;
        margin: auto;
        font-size: 14px;
    }

    .upload-collapse-list {
        display: block !important;
        height: auto !important;
        margin: 8px 0;
        padding: 7px 0;
        background-color: rgba(16, 16, 16, 0.26) !important;
        color: color(gray-light) !important;
        text-align: center;
        line-height: 1;
    }

    .thumb-uploaded {
        margin: 0 -7px;
        .cell {
            padding: 5px 7px;
        }
    }

    .upload-thumb {
        width: 70px;
        height: 70px;

        &.selected video,
        &.selected img {
            border: 2px solid gray;
        }

        video,
        img,
        .upload-select-btn,
        .upload-thumb-actions {
            width: 100% !important;
            height: 100% !important;
        }

        .upload-select-btn {
            background: transparent !important;
        }

        .upload-thumb-actions {
            position: absolute;
            top: 0;
            left: 0;
        }

        .upload-delete-btn {
            position: absolute !important;
            top: -4px !important;
            right: 0px !important;
            width: 15px !important;
            height: 15px !important;
            z-index: 2;
            padding: 0;

            background: white;
            border-radius: 50%;
            &:before {
                color: red;
            }
        }
    }
}
</style>