
<script>
import FieldMixin from '../FieldMixin'
export default {
    name: 'FieldDuoSelect',
    mixins: [FieldMixin],

    data() {
        return {
            coordValue: '',
            coordOptions: [],
            currentOptions: [],
            currentValue: ''
        }
    },

    methods: {
        onCoordChangeValidate(value) {
            this.setCurrentOptions(value)
        },

        onSelectChangeValidate(value) {
            this.onChangeValidate(value)
        },

        filterOption(input, option) {
            return (
                option.componentOptions.children[0].text
                    .toLowerCase()
                    .indexOf(input.toLowerCase()) >= 0
            )
        },

        setCurrentOptions(value) {
            const current = this.coordOptions.filter(
                item => value === item.value
            )[0]

            if (current) {
                this.coordValue = current.value
                this.currentOptions = current.options
                this.value = this.currentOptions[0].value
            }
        },

        setPopulateResult(result = {}, error = false) {
            this.coordOptions = []
            Object.entries(result.titleMap).forEach(([key, value]) => {
                this.coordOptions.push({
                    label: key,
                    value: key,
                    options: value.map(item => {
                        return { ...item, value: `${item.label}_${key}` }
                    })
                })
            })

            if (!this.value || !this.value.includes('_')) {
                this.setCurrentOptions(this.coordOptions[0].value)
            } else {
                this.setCurrentOptions(this.value.split('_')[0])
            }

            // vm.attr.placeholder = '...'
        }
    },

    render() {
        return (
            <a-form-item
                label={this.$t(this.label)}
                validateStatus={this.validateStatus}
                help={this.$t(this.help)}
                class={`field-select ${this.form.className || 'cell-12'}  ${
                    this.isRequired ? 'required color-read' : ''
                }`}
            >
                <a-input-group compact>
                    <a-select
                        style="width: 70%"
                        class={`${this.form.optionClassName || ''} `}
                        allowClear={this.getAttrValue('allowClear', false)}
                        autoFocus={this.getAttrValue('autoFocus', false)}
                        placeholder={this.getAttrValue('placeholder', '...')}
                        mode={this.getAttrValue('mode', 'default')}
                        showSearch={this.getAttrValue('showSearch', true)}
                        showArrow={this.getAttrValue('showArrow', true)}
                        dropdownClassName={this.getAttrValue(
                            'dropdownClassName'
                        )}
                        filterOption={this.filterOption}
                        optionFilterProp="children"
                        dropdownMatchSelectWidth={this.getAttrValue(
                            'dropdownMatchSelectWidth',
                            true
                        )}
                        dropdownStyle={this.getAttrValue('dropdownStyle', {})}
                        title={this.form.title}
                        name={this.name}
                        value={this.value}
                        disabled={this.disabled}
                        onChange={this.onSelectChangeValidate}
                    >
                        {this.currentOptions.map((item, index) => (
                            <a-select-option
                                item={item}
                                value={item[this.valueKey]}
                                key={`${item[this.valueKey]}_${index}`}
                            >
                                {item[this.labelKey]}
                            </a-select-option>
                        ))}
                    </a-select>

                    <a-select
                        style="width: 30%"
                        class={`coord-select ${this.form.prefixClassName || ''}`}
                        allowClear={this.getAttrValue('allowClear', false)}
                        autoFocus={this.getAttrValue('autoFocus', false)}
                        mode={this.getAttrValue('mode', 'default')}
                        showSearch={this.getAttrValue('showSearch', true)}
                        showArrow={this.getAttrValue('showArrow', true)}
                        filterOption={this.filterOption}
                        optionFilterProp="children"
                        value={this.coordValue}
                        disabled={this.disabled}
                        onChange={this.onCoordChangeValidate}
                    >
                        {this.coordOptions.map((item, index) => (
                            <a-select-option
                                item={item}
                                value={item.value}
                                key={`${item.value}`}
                            >
                                {item.label}
                            </a-select-option>
                        ))}
                    </a-select>
                </a-input-group>
            </a-form-item>
        )
    }
}
</script>

<style lang="scss">

</style>