
<script>
    import FieldMixin from '../FieldMixin'
    export default {
        name: 'FieldSocial',
        mixins: [FieldMixin],
        data: {
            accounts: [],
            icon: {},
        },

        created() {
            this.accounts = [...(this.value||[])];
        },

        methods: {

            // Generar la accion de agregar medias
            onAppend() {

            },

            getRemoveItem(index) {
                const label =
                    typeof this.form.removeLabel === 'function'
                        ? this.form.removeLabel(index, this.accounts.length)
                        : this.form.removeLabel || 'Remove'
                return label
            },

            getAddLabel() {
                const label =
                    typeof this.form.buttonLabel === 'function'
                        ? this.form.buttonLabel(this.accounts.length)
                        : this.form.buttonLabel || 'Add'
                return label
            },
        },

        render() {
             return (
                    <div 
                        class={`field-social ${this.form.className || 'cell-12'}  ${this.isRequired ? 'required' : ''}`}>
                            <div class="grid">
                            {/*Icono de la social media*/}
                            <div class="cell auto "><a-icon class="size-4" type={ this.form.icon} /> </div>

                            {/*title de la social media*/}
                            <p class="cell auto size-4 padding-left-1">{ this.label }</p>

                            {/*Lista de cuentas media {avatar, nickname, followers, remove button} */}
                            <ul class="field-social-accounts cell-12">
                                {
                                    this.accounts.map( (account, index) => (
                                        <li class="field-social-account">
                                            <img src={account.avatar} alt={account.title} class="field-social-account-avatar" />
                                            <div class="field-social-account-nickname">{account.nickname}</div>
                                            <div class="field-social-account-followers">{account.followers}</div>
                                            <a-button  
                                                icon="close"
                                                class="field-social-account-remove" 
                                                onClick={(event) => this.remove(index)}>
                                            </a-button>
                                        </li>
                                    ))
                                }
                            </ul>
                            {/*boton de agregar otra cuenta*/}
                            <a-button class="bg-gray-semi-dark"  size="small" onClick={this.onAppend}>
                                {this.getAddLabel()} 
                                <span class="ico">
                                    <a-icon type='plus' /> 
                                </span>
                            </a-button>
                        </div>
                </div>
             )
        }
    }
</script>
