
<template>
    <a-form-item
        class="skills-container"
        :validateStatus="validateStatus"
        :help="help"
        :class="`field-slider ${form.className || 'cell-12'} ${isRequired ? 'required' : ''}`"
    >
        <template v-slot:label>
            {{label}}
            <a-popover v-if="form.description">
                <template slot="content">
                    <p>{{$t(form.description)}}</p>
                </template>
                <a-button type="default" shape="circle" class="text-align-center bg-disabled" :title="$t('skills.help')">?</a-button>
            </a-popover>
        </template>
        <p class="text-align-right" style="margin-bottom: -10px;" :style="{ visibility:  value == 10 ? 'hidden'  : 'visible'}">{{max}}</p>
        <a-slider
            v-bind="attr"
            :title="tooltip"
            :disabled="disabled"
            :value="currentValue"
            :min="min"
            :max="max"
            @change="onChange"
            overlayClassName="tooltip-skills"
            :tooltipVisible="true"
        />
    </a-form-item>
</template>

<script>
import FieldMixin from '../FieldMixin'
export default {
    name: 'FieldSKill',
    mixins: [FieldMixin],

    props: {
        min: { type: Number, default: 0 },
        max: { type: Number, default: 10 }
    },

    computed: {
        currentValue() {
            return isNaN(this.value) ? 0 : +this.value
        }
    },

    methods: {
        onChange(value) {
            this.value = value
            this.onChangeValidate(Number(value))
        }
    }
}
</script>

<style lang="scss">
/*
    #7D7979; circle
    border: 5px solid #CCC6C6; line
    */

#{$root} .skills-container .ant-form-item-label label {
    font-weight: normal !important;
}

#{$root} .ant-form-item {
    margin-bottom: 0;
}

.skills-container .ant-slider-handle {
    margin-left: -10px;
    margin-top: -7px;
    width: 20px;
    height: 20px;
    background-color: #7d7979;
    border: none;
}

.skills-container .ant-slider-handle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.skills-container .ant-slider-rail {
    height: 0px;
    border-radius: 2px;
    border: 3px solid #ccc6c6;
}

.skills-container .ant-slider-track {
    position: absolute;
    height: 6px;
    border-radius: 4px;
    background-color: #7d7979;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.skills-container .ant-slider:hover .ant-slider-track {
    background-color: #7d7979;
}

.skills-container .ant-btn.ant-btn-default.ant-btn-circle {
    color: white;
    font-weight: bold;
    background-color: rgba(104, 101, 101, 0.53);;
    width: 20px;
    font-size: 12px;
    height: 20px;
    border: none;
}

.ant-tooltip.ant-tooltip-placement-top .ant-tooltip-inner {
    color: #7d7979;
    font-weight: bold;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    transform: translateY(8px);
}
.ant-tooltip.ant-tooltip-placement-top .ant-tooltip-arrow {
    border: none;
}
</style>
