<template>
    <div class="box" >
        <div class="season-container">
            <div class="season-slider-container"
                 :style="containerStyle">
                <div
                    class="season-tile"
                    v-for="(item, index) in years"
                    :key="`${item.year}_${index}`"
                >
                   <div class="season-semester" 
                        :class="item.index1==semesterIndex?'selected':'unselected'" 
                        @click="handleChange(item.year, 1, item.index1)"
                    ></div>
                    <div
                        class="season-semester season-semester-last"
                        :class="item.index2==semesterIndex?'selected':'unselected'"
                        @click="handleChange(item.year, 2, item.index2)"
                    ></div>
                    <!-- 
                    -->
                    <p class="season-year">{{item.year}}</p>
                </div>
            </div>
        </div>
        <span class="season-prev" @click="prevOnclick">&#10094;</span>
        <span class="season-next" @click="nextOnclick">&#10095;</span>
        <a-select
                class="full-width"
                @change="handleChangeMonth"
                :defaultValue="currentMonth"
            >
                <a-select-option
                    v-for="(month, index) of months"
                    :value="index"
                    :key="`position_${index}`"
                >{{$t(month)}}</a-select-option>
        </a-select>
    </div>
</template>


<script>
export default {
    name: 'FieldSeasonSelector',
    props: {
        tileWidth: { type: Number, default: 100 },
        onChange: { type: Function },
        model: { type: Object },
    },

    data() {
        return {
            currentTile: 0,
            totalTiles: 0,
            years:[],
            months:[],
            currentYear: null,
            currentSemester: 1,
            currentMonth: null,
            semesterIndex:null,
            containerStyle:'',
            sliderLength:'',
            positionLeft:'left:-5px',
        }
    },

    created(){
        const length = 2019-1989;
        const years = [];
        var year = 1989;
        var semesterIndex = 0;
        for(var index=0; index < length; index++){
            var data = {}
                data.year = ++year;
                data.index1 = semesterIndex++;
                data.index2 = semesterIndex++;
            years.push(data);
        }
        this.years = years;
        if(null == this.model){
            this.currentYear = this.years[0].years; 
            this.handleChange(this.currentYear, this.currentSemester, 0);

        }
    },

    mounted() {
        //let dataObejct = model; // EZE
        const vm = this;
        var tileContainer = document.querySelector('.box .season-slider-container');
        this.totalTiles = this.years.length;
        const totalLength = this.years.length * 2 * (this.tileWidth);
        this.sliderLength = 'width:'+totalLength+'px;';
        
        this.containerStyle = this.sliderLength + this.positionLeft;
        
        setTimeout(function(){
            vm.move(0);
        }, 100);
    },

    methods: {
        handleChange(year, semester, semesterIndex) {
            this.currentYear = year;
            this.currentSemester = semester;
            this.months = semester == 1 ?   ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio"] :
                                            ["Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"];
            this.handleChangeMonth(0);
            this.semesterIndex = semesterIndex;
        },

        handleChangeMonth(value) {
            this.currentMonth = value;
            this.emitOnChange();
        },

        emitOnChange(){
            var isOK = null != this.currentYear && 
                       null != this.currentSemester &&
                       null != this.currentMonth;
            if(isOK){
                let month = this.currentMonth;
                if(this.currentSemester == 2){
                    month += 6;
                }
                this.$emit('onChange', { year:this.currentYear, 
                                        semester:this.currentSemester, 
                                        month })
            }
        },

        prevOnclick (event) {
            if (this.currentTile == 0) {
                return
            }
            this.currentTile--
            this.move(this.currentTile)
        },

        nextOnclick (event) {
            if (this.currentTile == this.totalTiles - 3) {
                return
            }
            this.currentTile++
            this.move(this.currentTile)
        },

        move(tileIndex) {
            var position = -(this.tileWidth * tileIndex);
            this.positionLeft = "left:"+position+"px;";
            this.containerStyle = this.sliderLength + this.positionLeft;
        }
    }
}
</script>
<style lang="scss">
    .season-container {
        height: 100px;
        width: 300px;
        overflow: hidden;
        position: relative;
    }

    .season-slider-container {
        width: 303px;
        height: 50px;
        position: absolute;
        transition: 0.6s ease;
    }

    .season-tile {
        list-style: none;
        width: 100px;
        height: 50px;
        border-right: solid 1px black;
        display: inline-flex;
        align-items: stretch;
        margin: 0;
        padding: 0;
        float: left;
    }
    .season-semester {
        background-color: green;
        margin: auto;
        width: 50px;
        height: 25px;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .season-tile .season-semester-last {
        border-left: solid 1px black;
    }

    .season-arrow {
        background-color: red;
        width: 10px;
        height: 10px;
        cursor: pointer;
        padding: 3px;
    }

    /*//////////////////////////////////*/

    .season-prev,
    .season-next {
        cursor: pointer;
        position: relative;
        top: -102px;
        width: 20px;
        padding: 16px;
        color: gray;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .season-next {
        right: -240px;
    }

    .season-prev {
        left: -27px;
    }

    .season-prev:hover,
    .season-next:hover {
        color: rgba(0, 0, 0, 0.8);
    }

    .season-year {
        float: left;
        position: absolute;
        top: 29px;
        padding: 5px;
        pointer-events: none;
    }

    .box .selected {
        opacity:1;
    }

    .box .unselected {
        opacity:0.6;
    }
</style>