
<script>
    import FieldMixin from '../FieldMixin'
    import FieldBuilder from '../FieldBuilder.vue'

    export default {
         mixins: [FieldMixin],
         name: 'FieldSet',
         component: {
            FieldBuilder
         },

         render(createElement) {
            const {onChange} = this;
            const forms = this.items.map((form, index) => {
                return  <FieldBuilder 
                            key={`${form.title} ${index}`}
                            form={form}
                            index={index}
                            mapper={this.mapper}
                            formData={this.formData}
                            formName={this.formName}
                        />
            });

            const label = this.label
                            ? (<p class={`subtitle extra-bold text-green form-label ${this.form.titleClassName || ''}`}>{this.form.title}</p>) 
                            : null;

            return (
                <div class={`field-set ${this.form.className || 'cell-12'}`} style={this.form.style}>
                    {label}
                    <div class={`grid ${this.form.gridClassName||''}`}>
                        {forms}
                    </div>
                </div>
            );
        }
    }
</script>

<style lang="scss">

    $separator: 4px solid rgba(255,255,255, .215);

    .field-set-separator {
        border-top: $separator;
        border-bottom: $separator;
        margin: 20px 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .field-set-separator-top {
        border-top: $separator;
        padding-top: 20px;
        margin-top: 20px;
    }

    .field-set-separator-bottom {
        border-bottom: $separator;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

</style>
