
<script>
import FieldMixin from '../FieldMixin'
export default {
    name: 'FieldSelect',
    mixins: [FieldMixin],

    data() {
        return {
            otherValue: ''
        }
    },

    //TODO: validar si el valor no esta en el combo y tiene others que lo

    methods: {
        onOtherChangeValidate(event) {
            this.otherValue = event.target.value
            this.onChangeValidate(this.otherValue)
        },

        onSelectChangeValidate(value) {
            this.otherValue = ''
            this.onChangeValidate(value)
        },

        filterOption(input, option) {
            return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
        }
    },

    render() {
        return (
            <a-form-item
                label={this.$t(this.label)}
                validateStatus={this.validateStatus}
                help={this.$t(this.help)}
                class={`field-select ${this.form.className || 'cell-12'}  ${
                    this.isRequired ? 'required color-read' : ''
                }`}
            >
                <a-select
                    
                    allowClear={this.getAttrValue('allowClear', false)}
                    autoFocus={this.getAttrValue('autoFocus', false)}
                    placeholder={this.getAttrValue('placeholder', '...')}
                    mode={this.getAttrValue('mode', 'default')}
                    showSearch={this.getAttrValue('showSearch', true)}
                    showArrow={this.getAttrValue('showArrow', true)}
                    dropdownClassName={this.getAttrValue('dropdownClassName')}
                    filterOption={this.filterOption}
                    optionFilterProp="children"
                    dropdownMatchSelectWidth={this.getAttrValue(
                        'dropdownMatchSelectWidth',
                        true
                    )}
                    dropdownStyle={this.getAttrValue('dropdownStyle', {})}
                    title={this.form.title}
                    name={this.name}
                    value={!this.otherValue.length ? this.value : 'Otro'}
                    disabled={this.disabled}
                    onChange={this.onSelectChangeValidate}
                >
                    {this.options.map((item, index) => (
                        <a-select-option
                            item={item}
                            value={item[this.valueKey]}
                            key={`${item[this.valueKey]}_${index}`}
                        >
                            {item[this.labelKey]}
                        </a-select-option>
                    ))}
                </a-select>

                {this.form.others && (
                    <a-form-item label={this.form.others.title || 'Otros'}>
                        <a-input
                            name={`other_${this.name}`}
                            {...this.form.others.attr}
                            value={this.otherValue}
                            onChange={this.onOtherChangeValidate}
                        />
                    </a-form-item>
                )}
            </a-form-item>
        )
    }
}
</script>
