
<script>
    import FieldMixin from '../FieldMixin'
    import FieldBuilder from '../FieldBuilder.vue'

    export default {
         mixins: [FieldMixin],
         name: 'FieldCollapse.',
         component: {
            FieldBuilder
         },

         render(createElement) {
            const {onChange} = this;
            const forms = this.tabs.map((item, itemIndex) => {
                return (
                    <a-collapse-panel 
                        header={item.title} 
                        key={itemIndex}
                        showArrow={item.showArrow}
                        disabled={item.disabled && item.disabled(this.formData)}
                    >
                    {
                         this.items.map((form, index) => {
                                return  <FieldBuilder 
                                            key={`${form.title} ${index}`}
                                            form={form}
                                            index={index}
                                            mapper={this.mapper}
                                            formData={this.formData}
                                            formName={this.formName}
                                        />
                            })
                    }
                    </a-collapse-panel>
                )
            })
           
            const label = this.label
                            ? (<p class="subtitle extra-bold text-green form-label">{this.form.title}</p>) 
                            : null;

            return (
                <div class={`field-collapse ${this.form.className || 'cell-12'}`} style={this.form.style}>
                    {label}
                    <a-collapse class={`${this.form.gridClassName||''}`}>
                        {forms}
                    </a-collapse>
                </div>
            );
        }
    }
</script>
