
<template>
    <a-form-item 
        :label="label"
        :validateStatus="validateStatus"
        :help="help"
        :class="`field-rate ${form.className || 'cell-12'} ${isRequired ? 'required' : ''}`">
        <a-rate
            v-bind="attr"
            :title="tooltip"
            :disabled="disabled"
            :value="value"
            @change="onChangeValidate"
        />
    </a-form-item>

</template>

<script>
    import FieldMixin from '../FieldMixin'
    export default {
         name: 'FieldRate',
         mixins: [FieldMixin],
    }
</script>
