
<template>
    <UploadVideo
        :value="this.value"
        :posterUrl="this.posterUrl"
        :label="this.label"
        :hideButton="this.form.hideButton"
        :action="this.form.action"
        @upload="(file) => beforeUpload (file)"
    />
</template>

<script>
import FieldMixin from '../FieldMixin'
import UploadVideo from 'components/UploadVideo'
export default {
    name: 'FieldUploadVideo',

    mixins: [FieldMixin],

    components: {
        UploadVideo
    },

    props: {
        index: { type: Number },
        posterUrl: { type: String }
    },

    data() {
        return {
            loading: false
        }
    },

    computed: {
      
    },

    methods: {
        handleCancel() {},

        handlePreview(file) {
            //  console.log("handlePreview");
            //Aca mandar el dato
        },

        beforeUpload(file) {
            // console.log("01 FieldVideoWork beforeUpload");
            // console.log(file);

            const vm = this
            const data = {
                file: file,
                fileType: 'image'
            }

        }
    }
}
</script>
<style  lang="scss">
.upload-dragger {
    position: relative;
}
#work-thumbs .ant-upload.ant-upload-drag .ant-upload-drag-container,
#work-thumbs .ant-upload .ant-upload-drag .ant-upload-drag-container,
#work-thumbs .field-upload .ant-upload .ant-upload-btn {
    display: table-cell;
    vertical-align: top;
    height: 70px !important;
}

#work-thumbs span.upload-thumb-actions {
    pointer-events: none;
    .upload-delete-btn {
        pointer-events: auto;
    }
}

.upload-cover {
    position: absolute;
    opacity: 0.3;
    top: 25%;
    left: 0;
    text-shadow: 1px 1px gray;
}
</style>