<template >
    <a-form-item
        class="brand-upload"
        :label="label"
        :validateStatus="validateStatus"
        :help="help"
        :class="className"
    >
        <a-upload-dragger
            v-if="!isMaxLength"
            v-bind="attr"
            name="file"
            :beforeUpload="beforeUpload"
            :showUploadList="false"
        >
            <div>
                <p class="ant-upload-drag-icon">
                    <a-icon :type="loading ? 'loading' : 'cloud-upload'"/>
                </p>
                <p v-if="loading" class="ant-upload-text">{{$t('Subiendo archivo')}}</p>
                <p
                    v-else
                    class="capture-text"
                >{{$t('Haga clic o arrastre el archivo a esta área para subir')}}</p>
            </div>
        </a-upload-dragger>
        <div class="grid thumb-uploaded" v-show="!collapsed">
            <div
                id="work-thumbs"
                v-for="(file) in fileList"
                :key="file.ui"
                class="cell auto"
            >
                <div class="upload-thumb">
                    <img
                        :src="file.url"
                        class="img-size-cover upload-thumb-source"
                    >
                    <span class="upload-thumb-actions">
                        <button
                            @click.prevent="handleRemove(file)"
                            class="upload-delete-btn bg-none"
                        >
                            <i aria-hidden="true" class="anticon anticon-close-circle"></i>
                            <span class="visuallyhidden">{{$t('Remover archivo')}}</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </a-form-item>
</template>

<script>
import FieldMixin from '../FieldMixin'
import FieldVideoWork from './FieldVideoWork' //custom component

function getBase64(img, callback) {
    const reader = new FileReader()
    reader.addEventListener('load', () => callback(reader.result))
    reader.readAsDataURL(img)
}

export default {
    name: 'BrandAndLogoWork',
    components: {
        FieldVideoWork
    },

    mixins: [FieldMixin],
    data() {
        return {
            collapsed: false,
            loading: false,
            fileList: [...(this.options || [])],
            photos: [],
            url:String
        }
    },

    created() {
        if (this.value && this.value.length) {
            this.fileList = [this.value || []]
        }
    },

    updated() {
        const selected = document.querySelector(`.upload-thumb.selected`)
        const newSelected = document.querySelector(
            `.upload-thumb img[src="${this.value}"]`
        )

        if (selected) {
            selected.classList.remove('selected')
        }

        if (newSelected) {
            newSelected.parentNode.classList.add('selected')
        }
    },

    computed: {
        hasPicture() {
            return !!this.fileList.length
        },

        isMaxLength() {
            return this.fileList.length == this.form.maxLength
        },

        arrow() {
            return this.collapsed ? 'up' : 'down'
        },

        className() {
            return {
                [this.form.className]: !!this.form.className,
                'cell-12': !!!this.form.className,
                collapsed: this.collapsed,
                required: this.isRequired
            }
        }
    },

    methods: {
        handleCancel() {},

        handleRemove(file) {
            const url = file.url
            this.fileList = this.fileList.filter(item => item.url != url)

            if (this.value === url) {
                this.handlePreview({ url: '' })
            }
        },

        handlePreview(file, other) {
            //Aca mandar el Array
            this.photos = this.fileList;
            if(this.fileList.length > 0){
                this.onChangeValidate(this.fileList[0].url)
            }
        },

        handleCollapse(event) {
            event.preventDefault()
            this.collapsed = !this.collapsed
        },

        beforeUpload(file) {
            console.log('beforeUpload BRAND');
            let errors = 0
            const size = file.size / 1024
            console.log('Size: ', size)
            if (this.form.minSize && size < this.form.minSize) {
                const sizeKB = size < 1 ? size * 1024 : size
                this.$message.error(
                    `File must bigger than ${this.form.minSize}MB!`
                )
                errors += 1
            }

            if (this.form.maxSize && size > this.form.maxSize) {
                this.$message.error(
                    `File must smaller than ${this.form.maxSize}MB!`
                )
                errors += 1
            }

            if (!!!errors && this.form.action) {
                const vm = this
                console.log(file)
                this.value = ''
                this.loading = true
                const data = {
                    file: file,
                    fileType: 'to Define'
                }
                this.form.action(data).then(response => {
                    try {
                        response.fileType = response.mimetype.indexOf("video") != -1 ? "video" : "image";
                        response.url = response.url;
                        vm.fileList = [];
                        vm.fileList.push(response);
                        vm.loading = false;
                        vm.handlePreview(response);
                    } catch (error) {
                        this.$message.error(`${file.name} file upload failed.`)
                    }
                })
            }

            return false
        },

        beforeUploadPoster(file) {
            console.log('beforeUploadPoster')
            let errors = 0
            const size = file.size / 1024
            console.log('Size: ', size)
            if (this.form.minSize && size < this.form.minSize) {
                const sizeKB = size < 1 ? size * 1024 : size
                this.$message.error(
                    `File must bigger than ${this.form.minSize}MB!`
                )
                errors += 1
            }

            if (this.form.maxSize && size > this.form.maxSize) {
                this.$message.error(
                    `File must smaller than ${this.form.maxSize}MB!`
                )
                errors += 1
            }

            if (!!!errors && this.form.action) {
                const vm = this
                console.log(file);
                const fileType = 'to be confirmed';
                this.value = ''
                this.loading = true
                const data = {
                    file: file,
                    fileType: fileType
                }
                this.form.action(data).then(response => {
                    try {
                        response.fileType = response.mimetype;
                        vm.fileList.push(response);
                        vm.loading = false;
                        vm.handleVideoPreview(response);
                    } catch (error) {
                        this.$message.error(`${file.name} file upload failed.`)
                    }
                })
            }

            return false
        }
    }
}
</script>
<style lang="scss">
.brand-upload {
    background-color: #888888;
    padding-bottom: 15px;

    .ant-upload.ant-upload-drag {
        border: none;
        background: transparent;
        color: white;
    }

    .ant-upload .ant-upload-btn {
        width: 100%;
        height: 100px;
        padding: 0;
        .image-selected {
            object-fit: cover;
            width: 100%;
            height: 100px;
        }
    }

    .ant-form-item-control-wrapper {
        width: 100%;
        padding: 5px;
        margin: auto;
        background-color: rgba(85, 82, 82, 0.57);
    }

    .ant-upload.ant-upload-drag p.ant-upload-text {
        color: white;
        width: 80%;
        margin: auto;
    }

    .ant-upload.ant-upload-drag p.capture-text {
        color: white;
        width: 80%;
        margin: auto;
        font-size: 10px;
    }

    .upload-collapse-list {
        display: block !important;
        height: auto !important;
        margin: 8px 0;
        padding: 7px 0;
        background-color: rgba(16, 16, 16, 0.26) !important;
        color: color(gray-light) !important;
        text-align: center;
        line-height: 1;
    }

    .thumb-uploaded {
        margin: 0 -7px;
        .cell {
            padding: 5px 7px;
        }
    }

    .upload-thumb {
        width: 70px;
        height: 70px;

        &.selected video,
        &.selected img {
            border: 2px solid gray;
        }

        video,
        img,
        .upload-select-btn,
        .upload-thumb-actions {
            width: 100% !important;
            height: 100% !important;
        }

        .upload-select-btn {
            background: transparent !important;
        }

        .upload-thumb-actions {
            position: absolute;
            top: 0;
            left: 0;
        }

        .upload-delete-btn {
            position: absolute !important;
            top: -4px !important;
            right: 0px !important;
            width: 15px !important;
            height: 15px !important;
            z-index: 2;
            padding: 0;

            background: white;
            border-radius: 50%;
            &:before {
                color: red;
            }
        }
    }
}
</style>