<script>
import FieldMixin from '../FieldMixin'
import PositionArea from 'components/PositionArea'
export default {
    name: 'FieldArea',
    mixins: [FieldMixin],

    methods: {
        onBeforeChangeValidate(value) {
            this.onChangeValidate(value)
        }
    },

    render() {
        const key = this.form.key.toString()
        return (
            <a-form-item
                label={this.$t(this.label)}
                validateStatus={this.validateStatus}
                help={this.$t(this.help)}
                class={`field-radio text-align-center ${this.form.className || 'cell-12'}  ${
                    this.isRequired ? 'required' : ''
                }`}
            >
                <PositionArea
                    class="field-area-container"
                    title={this.$t(this.form.title)}
                    name={key}
                    readonly={this.form.readonly}
                    value={this.value}
                    onChange={this.onBeforeChangeValidate}
                >
                </PositionArea>
            </a-form-item>
        )
    }
}
</script>
<style lang="scss">

</style>

