
<template>
    <div class="field-upload upload-thumb">
        <a-upload-dragger
            name="innerfile"
            :beforeUpload="beforeUpload"
            :showUploadList="false"
            class="upload-dragger"
            role="button"
        >
            <img :src="url" class="img-size-cover upload-thumb-source">
            <div class="upload-cover">{{ $t('form.upload_cover') }}</div>
        </a-upload-dragger>
    </div>
</template>

<script>
function getBase64(img, callback) {
    const reader = new FileReader()
    reader.addEventListener('load', () => callback(reader.result))
    reader.readAsDataURL(img)
}

export default {
    name: 'FieldVideoWork',

    props: {
        index: { type: Number },
        posterUrl: { type: String }
    },

    data() {
        return {
            loading: false,
            defaultPoster: require('../../../assets/images/video-poster.jpg')
        }
    },

    computed: {
        url() {
            return !!!this.posterUrl ? this.defaultPoster : this.posterUrl
        }
    },

    methods: {
        handleCancel() {},

        handlePreview(file) {
            //  console.log("handlePreview");
            //Aca mandar el dato
        },

        beforeUpload(file) {
            // console.log("01 FieldVideoWork beforeUpload");
            // console.log(file);

            const vm = this
            const data = {
                file: file,
                fileType: 'image'
            }
            this.$store
                .dispatch('Miscs/UploadFileWork', data)
                .then(response => {
                    try {
                        // console.log("02 Upload promisse");
                        // console.log(response);
                        vm.$emit('poster', {
                            poster: response.url,
                            index: vm.index
                        })
                    } catch (error) {
                        this.$message.error(`${file.name} file upload failed.`)
                    }
                })
        }
    }
}
</script>
<style  lang="scss">
#work-thumbs .ant-upload.ant-upload-drag .ant-upload-drag-container,
#work-thumbs .ant-upload .ant-upload-drag .ant-upload-drag-container,
#work-thumbs .field-upload .ant-upload .ant-upload-btn {
    display: table-cell;
    vertical-align: top;
    height: 70px !important;
}

#work-thumbs span.upload-thumb-actions {
    pointer-events: none;
    .upload-delete-btn {
        pointer-events: auto;
    }
}

.upload-cover {
    position: absolute;
    opacity: 0.3;
    top: 25%;
    left: 0;
    text-shadow: 1px 1px gray;
}
</style>