
<script>
import moment from 'moment'
import FieldMixin from '../FieldMixin'
import { range, hasLegalAge } from 'utils/helpers'

export default {
    name: 'FieldSelect',
    mixins: [FieldMixin],
    data() {
        return {
            init: false,
            dataSource: [
                {
                    label: 'Dia',
                    value: '',
                    defaultValue: '',
                    options: range(1, 31)
                },
                {
                    label: 'Mes',
                    value: '',
                    defaultValue: '',
                    options: range(1, 12)
                },
                {
                    label: 'Año',
                    value: '',
                    defaultValue: '',
                    options: range(
                        this.form.minYears || new Date().getFullYear() - 110,
                        this.form.maxYears || new Date().getFullYear()
                    ).reverse()
                }
            ]
        }
    },

    created() {
        this.convertValue()
    },

    updated() {
        this.convertValue()
    },

    computed: {},

    methods: {
        onSelectChange(value, source) {
            if (this.initialized) {
                source.value = value
                const date = this.dataSource.map(({ value, defaultValue }) =>
                    value ? value : ''
                )
                const dateSerialized = `${date.reverse().join('-')}T00:00:00`

                if (dateSerialized.length === 19) {
                    this.onChangeValidate(dateSerialized)
                }
            }

            this.initialized = true
        },

        convertValue() {
            
            if (!this.value || !this.value.length) {
               // this.value = `${moment(new Date()).format('YYYY-MM-DD')}T00:00:00`
            }

            try {
                const day = moment(this.value).format('DD')
                const year = moment(this.value).format('YYYY')
                const month = moment(this.value).format('MM')

                if (this.dataSource[0].value != day) {
                    this.dataSource[0].value = day
                }

                if (this.dataSource[1].value != month) {
                    this.dataSource[1].value = month
                }

                if (this.dataSource[2].value != year) {
                    this.dataSource[2].value = year
                }
            } catch (error) {
                console.log(`fieldDateSelect >> ${error}`)
            }
        }
    },

    render() {
        return (
            <a-form-item
                label={this.$t(this.label)}
                validateStatus={this.validateStatus}
                help={this.$t(this.help)}
                class={`field-data-select ${this.form.className ||
                    'cell-12'}  ${this.isRequired ? 'required' : ''}`}
            >
                <div class="grid field-select">
                    {this.dataSource.map((source, index) => (
                        <a-select
                            class=" cell-4"
                            placeholder={source.label}
                            title={`${this.label}: ${source.label}`}
                            name={`${this.label}_${source.label}`}
                            value={source.value}
                            disabled={this.disabled}
                            onChange={event =>
                                this.onSelectChange(event, source)
                            }
                        >
                            {source.options.map((value, index) => (
                                <a-select-option
                                    value={value}
                                    key={`${value}_${index}`}
                                >
                                    {value}
                                </a-select-option>
                            ))}
                        </a-select>
                    ))}
                </div>
            </a-form-item>
        )
    }
}
</script>

<style lang="scss">
.field-data-select {
    .grid {
        margin: 0 -10px;
        .ant-select {
             padding: 0 10px;
        }
    }
}
</style>