
<template>
    <div>
        <FieldSeasonSelector @onChange="onSeasonSelected"/>
    </div>
</template>

<script>
import FieldMixin from '../FieldMixin'
import FieldSeasonSelector from './FieldSeasonSelector'

export default {
    name: 'FieldSeason',
    mixins: [FieldMixin],

    components: {
        FieldSeasonSelector,
    },

    props: {
        year: { type: Number, default: 1989 },
        month: { type: Number, default: 1},
        semester: { type: Number, default: 0}
    },

    created() {
        if (this.value) {
            // WITH VALUE
        }else{
            // NO VALUE
        }
    },

    computed: {
        currentValue() {
            return isNaN(this.value) ? 0 : +this.value
        },

        years(){
            this.years = [];
            const length = 2019 - 1989;
            for(var index=0; index < length; index++){
                this.years.push(1989+index);
            }
            return this.years;
        }
    },

    methods: {
        onSeasonSelected(value) {
            this.value = value
            this.onChangeValidate(value)
        }
    }
}
</script>
