
<template>
    <a-form-item
        :label="label"
        :hasFeedback="hasFeedback"
        :validateStatus="validateStatus"
        :help="help"
        :class="`field-input ${form.className || 'cell-12'} ${isRequired ? 'required' : ''}`"
    >
        <a-input
            :type="type"
            :title="tooltip"
            :name="name"
            v-bind="attr"
            :disabled="disabled"
            :value="value"
            @change="onChangeValidate"
            @focus="onFocusHandle"
            @blur="onBlurHandle"
        >
            <div slot="addonAfter" type="setting" v-if="form.afterValue">{{form.afterValue}}</div>
            <div slot="addonBefore" type="setting" v-if="form.beforeValue">{{form.beforeValue}}</div>
        </a-input>
    </a-form-item>
</template>

<script>
import FieldMixin from '../FieldMixin'
export default {
    name: 'FieldText',
    mixins: [FieldMixin],
    methods: {

        onFocusHandle(event) {
            if (event.target.value === (this.form.default||'').toString()) {
                this.onChangeValidate('')
            }
        },

        onBlurHandle(event) {
            if (event.target.value === '') {
                this.onChangeValidate((this.form.default||'').toString() || '')
            }
        }
    }
}
</script>
