
<template>
    <a-form-item
        class="field-upload"
        :label="label"
        :validateStatus="validateStatus"
        :help="help"
        :class="className"
    >
        <a-upload-dragger
            v-bind="attr"
            name="file"
            :beforeUpload="beforeUpload"
            :showUploadList="false"
        >
            <img v-if="value" :src="value" style="width: 100%" class="image-selected">
            <div v-show="!value">
                <p class="ant-upload-drag-icon">
                    <a-icon :type="loading ? 'loading' : 'cloud-updload'"/>
                </p>
                <p v-if="loading" class="ant-upload-text">Subiendo imagen</p>
                <p
                    v-else
                    class="ant-upload-text"
                >Haga clic o arrastre el archivo a esta área para subir</p>
            </div>
        </a-upload-dragger>

        <button
            v-if="hasPicture"
            @click.stop="handleCollapse"
            class="upload-collapse-list"
        >Todas las fotos
            <a-icon :type="arrow"/>
        </button>

        <div class="grid thumb-uploaded" v-show="!collapsed">
            <div v-for="file in fileList" :key="file.ui" class="cell auto">
                <div class="upload-thumb">
                    <img :src="file.url" class="img-size-cover upload-thumb-source">
                    <span class="upload-thumb-actions">
                        <button
                            @click.prevent="handlePreview(file)"
                            class="upload-select-btn bg-none"
                        >
                            <span class="visuallyhidden">Seleccionar esta imagen como avatar</span>
                        </button>
                        <button
                            @click.prevent="handleRemove(file)"
                            class="upload-delete-btn bg-none"
                        >
                            <i aria-hidden="true" class="anticon anticon-close-circle"></i>
                            <span class="visuallyhidden">Remover imagen</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </a-form-item>
</template>

<script>
import FieldMixin from '../FieldMixin'

function getBase64(img, callback) {
    const reader = new FileReader()
    reader.addEventListener('load', () => callback(reader.result))
    reader.readAsDataURL(img)
}

export default {
    name: 'FieldChooseImage',
    mixins: [FieldMixin],
    data() {
        return {
            collapsed: false,
            loading: false,
            fileList: [...(this.options || [])]
        }
    },

    created() {
        if (this.value && this.value.length) {
            this.fileList.push({ url: this.value })
        }
    },

    updated() {
        const selected = document.querySelector(`.upload-thumb.selected`)
        const newSelected = document.querySelector(
            `.upload-thumb img[src="${this.value}"]`
        )

        if (selected) {
            selected.classList.remove('selected')
        }

        if (newSelected) {
            newSelected.parentNode.classList.add('selected')
        }
    },

    computed: {
        hasPicture() {
            return !!this.fileList.length
        },

        arrow() {
            return this.collapsed ? 'up' : 'down'
        },

        className() {
            return {
                [this.form.className]: !!this.form.className,
                'cell-12': !!!this.form.className,
                collapsed: this.collapsed,
                required: this.isRequired
            }
        }
    },

    methods: {
        handleCancel() {},

        handleRemove(file) {
            const url = file.url
            this.fileList = this.fileList.filter(item => item.url != url)

            if (this.value === url) {
                this.handlePreview({ url: '' })
            }
        },

        handlePreview(file) {
            if (!this.fileList.length) {
                file.url = this.currentImage
            }

            this.onChangeValidate(file.url || '')
        },

        handleCollapse(event) {
            event.preventDefault()
            this.collapsed = !this.collapsed
        },

        beforeUpload(file) {
            let errors = 0
            const size = file.size / 1024 / 1024
            if (this.form.minSize && size < this.form.minSize) {
                //TODO reemplazar por una libreria que calcule los tamanos
                const sizeKB =
                    this.form.minSize < 1
                        ? this.form.minSize * 1024
                        : this.form.minSize
                const unit = this.form.minSize < 1 ? 'KB' : 'MB'
                this.$message.error(`Image must bigger than ${sizeKB}${unit}!`)
                errors += 1
            }

            if (this.form.maxSize && size > this.form.maxSize) {
                this.$message.error(
                    `Image must smaller than ${this.form.maxSize}MB!`
                )
                errors += 1
            }

            if (!!!errors && this.form.action) {
                const vm = this
                if (!this.currentImage) {
                    this.currentImage = this.value
                }
                this.value = ''
                this.loading = true
                this.form.action(file).then(response => {
                    try {
                        vm.fileList.push(response)
                        vm.loading = false
                        vm.handlePreview(response)
                    } catch (error) {
                        this.$message.error(`${file.name} file upload failed.`)
                    }
                })
            }

            return false
        }
    }
}
</script>
<style lang="scss">
.field-upload {
    background-color: black;
    padding-bottom: 15px;

    .ant-upload.ant-upload-drag {
        border: none;
        background: transparent;
        color: white;
    }

    .ant-upload .ant-upload-btn {
        width: 100%;
        height: 234px;
        padding: 0;
        .image-selected {
            object-fit: cover;
            width: 100%;
            height: 234px;
        }
    }

    .ant-form-item-control-wrapper {
        width: 100%;
        padding: 5px;
        margin: auto;
        background-color: rgba(85, 82, 82, 0.57);
    }

    .ant-upload.ant-upload-drag p.ant-upload-text {
        color: white;
        width: 80%;
        margin: auto;
    }

    .upload-collapse-list {
        display: block !important;
        height: auto !important;
        margin: 8px 0;
        padding: 7px 0;
        background-color: rgba(16, 16, 16, 0.26) !important;
        color: color(gray-light) !important;
        text-align: center;
        line-height: 1;
    }

    .thumb-uploaded {
        margin: 0 -7px;
        .cell {
            padding: 5px 7px;
        }
    }

    .upload-thumb {
        width: 70px;
        height: 70px;

        &.selected img {
            border: 2px solid gray;
        }

        img,
        .upload-select-btn,
        .upload-thumb-actions {
            width: 100% !important;
            height: 100% !important;
        }

        .upload-select-btn {
            background: transparent !important;
        }

        .upload-thumb-actions {
            position: absolute;
            top: 0;
            left: 0;
        }

        .upload-delete-btn {
            position: absolute !important;
            top: -4px !important;
            right: 0px !important;
            width: 15px !important;
            height: 15px !important;
            z-index: 2;
            padding: 0;

            background: white;
            border-radius: 50%;
            &:before {
                color: red;
            }
        }
    }
}
</style>