
<template>
    <div
        :class="`field-help ${form.className || 'cell-12'}`">
            {{$t(form.description)}}
    </div>
</template>

<script>
    export default {
        name: 'Help',
        props: {
            form: { type: Object },
        },
    }
</script>
