
<script>
import _ from 'lodash/lang'

import utils from '../formUtils'
import FieldMixin from '../FieldMixin'
import FieldBuilder from '../FieldBuilder.vue'

export default {
    mixins: [FieldMixin],

    name: 'FieldSecuency',

    component: {
        FieldBuilder
    },

    props: {
        nextLabel: { type: String }
    },

    data() {
        return {
            currentStep: 0
        }
    },

    computed: {
        isLastStep() {
            console.log('->', this.currentStep, this.fields.length)
            return this.currentStep >= this.fields.length - 1
        },

        isFirstStep() {
            return this.currentStep === 0
        }
    },

    methods: {
        prev() {
            if (this.currentStep - 1 > -1) {
                this.currentStep--
            }
        },

        next() {
            if (this.currentStep + 1 < this.fields.length) {
                this.currentStep++
            }
        },

        getForm() {
            const form = this.items[this.currentStep]
            console.log(this.form)
            //const copy = this.copyWithIndex(form, index);
            return (
                <FieldBuilder
                    key={`${form.title} ${this.currentStep}`}
                    form={form}
                    index={this.currentStep}
                    mapper={this.mapper}
                    formData={this.formData}
                    formName={this.formName}
                />
            )
        }
    },

    render(createElement) {
        const { onChange } = this
        const label = this.label ? (
            <p
                class={`subtitle extra-bold text-green form-label ${this.form
                    .titleClassName || ''}`}
            >
                {this.form.title}
            </p>
        ) : null

        return (
            <div
                class={`field-secuency ${this.form.className || 'cell-12'}`}
                style={this.form.style}
            >
                {label}
                <div class={`grid ${this.form.gridClassName || ''}`}>
                    {this.getForm()}
                </div>
                <div class="grid margin--x padding-x">
                    <div class="cell-6">
                        <a-button
                            disabled={this.isFirstStep}
                            tooltip={this.prevLabel}
                            onClick={this.prev}
                            size="small"
                            class="margin-bottom-1"
                        >
                            {this.form.prevLabel}
                            <span class="ico">
                                <a-icon type="next" />
                            </span>
                        </a-button>
                    </div>
                    <div class="cell-6">
                        <a-button
                            disabled={this.isLastStep}
                            tooltip={this.nextLabel}
                            onClick={this.next}
                            size="small"
                            class="margin-bottom-1"
                        >
                            {this.form.nextLabel}
                            <span class="ico">
                                <a-icon type="next" />
                            </span>
                        </a-button>
                    </div>
                </div>
            </div>
        )
    }
}
</script>

<style lang="scss">
$separator: 4px solid rgba(255, 255, 255, 0.215);

.field-set-separator {
    border-top: $separator;
    border-bottom: $separator;
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.field-set-separator-top {
    border-top: $separator;
    padding-top: 20px;
    margin-top: 20px;
}

.field-set-separator-bottom {
    border-bottom: $separator;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
</style>
