
<template>
    <div
        :class="`separator no-padding-x ${form.className || 'cell-12'}`">
    </div>
</template>

<script>
    export default {
        name: 'Separator',
         props: {
            form: { type: Object },
        },
    }
</script>

<style lang="scss">
    .separator {
        border-bottom: 4px solid  $secondary-color;
        opacity: .215;
        margin: 20px 0;
    }
</style>
