<script>
import FieldMixin from '../FieldMixin'
export default {
    name: 'TabSet',
    mixins: [FieldMixin],
    render() {
        const children = this.form.items.map((form, index) => {
            const content = form.items.map((item, itemIndex) => (
                <div class="grid" key={`${form.title}_${itemIndex}`}>
                    {this.props.createField({
                        index: itemIndex,
                        form: item,
                        formData: this.formData,
                        formName: this.formName,
                        mapper: this.mapper
                    })}
                </div>
            ))
            return (
                <a-tab-pane tab={this.$(form.title)} key={index}>
                    {content}
                </a-tab-pane>
            )
        })
        return (
            <div className={this.props.form.className || 'cell-12'}>
                <a-tabs defaultActiveKey="1">{children}</a-tabs>
            </div>
        )
    }
}
</script>
