<template>
    <article class="manager-talent grid full-size-inherit grid-center" aria-live="assertive">
        <HeaderContract class="cell-12" :title="title" name="SF40">
            <template v-if="isManager && isAuthenticated">
                <div class="margin-top-2">
                    <a-input
                        class="manager-talent-search"
                        :placeholder="$t('buscar')"
                        enterButton
                        @change="onSearch"
                    >
                        <a-icon slot="prefix" type="search"/>
                    </a-input>
                </div>

                <h3  v-if="false" class="size-1 margin-top-1 text-weight-normal">{{ $t('filtros') }}</h3>
                <div v-if="false">
                    <TagCheckable
                        class="auto tag margin-bottom-1"
                        v-for="(tag, index) in tags"
                        :key="`${tag}_${index}`"
                        :isChecked="isChecked(tag)"
                        :label="tag"
                        @change="handleChange"
                    />
                </div>
            </template>
        </HeaderContract>
        <section class="cell">
            <ProgressBox :loading="isLoading">
                <div :loading="isLoading" class="grid padding-x grid-bottom">
                    <ItemContract
                        class="cell medium-3"
                        v-for="(item) in model"
                        :key="`${item.contract.id}_contract`"
                        :id="item.contract.id"
                        :status="item.contract.status"
                        :title="checkUser(item.user).name"
                        :sector="checkUser(item.user).sector || [item.user.razonSocial || '']"
                        :picture="checkUser(item.user).picture"
                        :city="checkUser(item.user).country"
                        :age="checkUser(item.user).birthday"
                    />

                    <div class="cell-12">
                        <a-pagination
                            v-show="false"
                            class="text-align-center"
                            size="small"
                            v-model="page"
                            :total="totalPage"
                        />
                    </div>
                </div>
            </ProgressBox>
        </section>
    </article>
</template>


<script>
import { debounce } from 'lodash/function'
import ButtonBack from 'components/ButtonBack.vue'
import NavBurger from 'components/NavBurger.vue'
import InfoView from 'components/InfoView.vue'
import ProgressBox from 'components/ProgressBox.vue'
import ItemContract from 'components/ItemContract.vue'
import HeaderContract from 'components/HeaderContract.vue'
import TagCheckable from 'components/TagCheckable.vue'
import MixinMisc from 'mixins/MixinMisc.vue'
import MixinUser from 'mixins/MixinUser.vue'
import MixinContract from 'mixins/MixinContract.vue'

export default {
    name: 'ContractList',
    mixins: [MixinMisc, MixinUser, MixinContract],

    components: {
        ButtonBack,
        NavBurger,
        InfoView,
        ItemContract,
        HeaderContract,
        ProgressBox,
        TagCheckable
    },

    data() {
        return {
            tags: [],
            checkeds: [],
            searchResult: '',
            page: 0,
            totalPage: 50
        }
    },

    created() {
        this.getData()
    },

    computed: {
        status() {
            return this.$store.state.Contract.status
        },

        model() {
            try {
                return this.status.info.data.contracts
            } catch (e) {
                return []
            }
        },

        title() {
            return this.isManager ? 'talentos' : 'manager.contratos'
        },

        isLoading() {
            return this.status.code === 0
        }
    },

    methods: {
        checkUser(user) {
            return (
                user || {
                    name: 'Test',
                    sector: ['Test'],
                    picture: 'https://placeimg.com/640/480/any',
                    city: '',
                    age: ''
                }
            )
        },

        onSearch(value) {
            this.searchResult = value.target.value
            this.afterStopChangeSendData()
        },

        afterStopChangeSendData() {
            clearTimeout(this.delay)
            this.delay = setTimeout(() => {
                this.getData()
            }, 400)
        },

        getData(page = 0) {
            if (
                this.searchResult.length ||
                this.tags.length != this.checkeds.length
            ) {
                this.SearchContract({
                    query: this.searchResult,
                    filters: this.checkeds.toString(),
                    page: this.page,
                    userId: this.currentUser.id
                })
            } else {
                this.GetContracts(this.currentUser.id)
            }
        }
    }
}
</script>
<style lang="scss">
.manager-talent-search {
    background-color: black;
    border: 3px solid #4a4a4a;
    border-radius: 15px;
    color: white;
    input {
        border-bottom-color: transparent !important;
    }

    .anticon-search:before {
        color: white;
    }
    section {
        padding: 0 15px;
    }
}
</style>