<template>
    <article class="manager-contract grid full-size-inherit grid-center" aria-live="assertive">
        <HeaderContract class="cell-12" title="contrato">
            <h2 class="size-18 text-weight-normal">{{ user.name }}</h2>
        </HeaderContract>
        <section class="cell padding-x margin-top-2 container" :class="subtitle.color">
            <h4>{{ $t(subtitle.label) }}</h4>
            <info-view :model="contract" :schema="info" :editable="isManager" @edit="onHandleEdit"/>
            <div class="text-align-center full-width margin-top-2" v-if="isAuthenticated">
                <TButton
                    size="small"
                    @click="gotoContractHandle"
                    class="bg-gray-4 margin-y margin-x"
                    label="manager.ver_contrato"
                />
                <TButton
                    size="small"
                    v-if="!isManager"
                    @click="rejectHandle"
                    class="bg-blue-2 margin-y margin-x"
                    label="manager.desestimar_contrato"
                />
                <TButton
                    size="small"
                    v-if="!isManager"
                    @click="confirmHandle"
                    class="bg-blue-1 margin-y margin-x"
                    label="manager.confirmar_contrato"
                />
            </div>
        </section>
    </article>
</template>


<script>
import moment from 'moment'
import InfoView from 'components/InfoView.vue'
import HeaderContract from 'components/HeaderContract.vue'
import TButton from 'components/TButton.vue'
import MixinMisc from 'mixins/MixinMisc.vue'
import MixinUser from 'mixins/MixinUser.vue'
import MixinContract from 'mixins/MixinContract.vue'
import ContractInfo from 'config/contract.info'

export default {
    name: 'ContractInfo',

    mixins: [MixinMisc, MixinUser, MixinContract],

    components: {
        InfoView,
        HeaderContract,
        TButton
    },

    data() {
        return {
            info: ContractInfo,
            data: {}
        }
    },

    created() {
        this.GetContract(this.contractId, this.currentUser.id).then(
            response => {
                if (response.status.code < 400) {
                    this.data = response.status.info.data
                } else {
                    console.log('Error')
                }
            }
        )
    },

    computed: {
        contractId() {
            return this.$route.params.contractId
        },

        contract() {
            return this.data.contract || {}
        },

        user() {
            return this.data.user || {}
        },

        subtitle() {
            const title = {
                color: 'no-sent',
                label: 'manager.contrato_no_enviado'
            }

            if (this.isContractConfirm(this.contract.status)) {
                title.color = 'verified'
                title.label = 'manager.contrato_verificado'
            } else if (this.isContractPending(this.contract.status)) {
                title.color = 'no-verified'
                title.label = 'manager.contrato_enviado'
            }

            return title
        }
    },

    methods: {
        onHandleEdit() {
            this.$router.push({
                name: 'ContractEdit',
                params: { contrractId: this.contractId }
            })
        },

        gotoContractHandle() {},

        rejectHandle() {
            this.RejectContract(this.contractId, this.currentUser.id)
                .then( response => {
                    this.$router.replace({ name: 'Contracts'})
                })
        },

        confirmHandle() {
            this.ConfirmContract(this.contractId, this.currentUser.id)
                .then( response => {
                    this.$router.replace({ name: 'Contracts'})
                })
        }
    }
}
</script>
<style lang="scss">
.manager-contract {
    .no-sent h4,
    .no-sent .info-view-description {
        color: color(pink-2)!important;
    }
    .no-verified h4,
    .no-verified .info-view-description {
        color: color(yellow-1)!important;
    }
}
</style>