<template>
    <article class="grid full-size-inherit grid-center" aria-live="assertive">
        <HeaderContract class="cell-12" title="contrato" :name="userName">
            <h2>{{ user.name }}</h2>
        </HeaderContract>
        <ProgressBox :loading="isLoading" class="cell contract-form-section padding-top-2">
            <SchemaForm
                :showTitle="true"
                :schema="schema"
                :form="form"
                :formData="contract"
                @submitData="sendForm"
                @fieldChange="onFieldChange"
                v-if="data.contract.id"
            >
                <a-form-item class="cell small-text-align-left text-align-center">
                    <TButton
                        htmlType="submit"
                        class="text-align-center"
                        :label="submitLabel"
                        size="small"
                    />
                </a-form-item>
            </SchemaForm>
        </ProgressBox>
    </article>
</template>


<script>
import HeaderContract from 'components/HeaderContract.vue'
import TButton from 'components/TButton.vue'
import ProgressBox from 'components/ProgressBox.vue'
import MixinMisc from 'mixins/MixinMisc.vue'
import MixinUser from 'mixins/MixinUser.vue'
import MixinContract from 'mixins/MixinContract.vue'
import schema from 'schemas/contract'
import form from 'config/contract.form'
import SchemaForm from 'components/SchemaForm'

export default {
    name: 'ContractForm',

    mixins: [MixinMisc, MixinUser, MixinContract],

    components: {
        HeaderContract,
        SchemaForm,
        ProgressBox,
        TButton
    },

    data() {
        return {
            schema,
            form,
            data: {},
            error: {},
            errorText: '',
            submitLabel: 'manager.contrato_verificado'
        }
    },

    created() {
        this.GetContract(this.contractId, this.userInfoLogged.id).then(
            response => {
                switch (response.status.code) {
                    case 404:
                        return (this.data = {})
                    case 200:
                        return (this.data = response.status.info.data)
                }
            }
        )
    },

    computed: {
        isLoading() {
            return this.$store.state.Contract.status.code === 0
        },

        contractId() {
            return this.$route.params.contractId
        },

        contract() {
            return this.data.contract || {}
        },

        user() {
            return this.data.user || {}
        }
    },

    methods: {
        setHelperText(hasError) {},

        sendForm({ valid, errors }, data) {
            let checkValid = valid
            this.errorText = ''

            if (errors.length) {
                const hasErrors = errors.filter(item => {
                    let flag = true
                    if (
                        (item.schemaPath.includes('/required/5') ||
                            item.dataPath.includes('/tutor')) &&
                        hasLegalAge(data.birthday)
                    ) {
                        flag = false
                    }
                    return flag
                })
                checkValid = !!!hasErrors.length
            }

            if (checkValid) {
                const vm = this
                this.UpdateContract(
                    this.contractId,
                    this.userInfoLogged.id,
                    this.contract
                ).then(r => {
                    if (r.status.code < 400) {
                        this.$router.push({
                            name: 'ContractInfo',
                            params: { contractId: this.contractId }
                        })
                    } else {
                        this.showNotification('errors.SERVER')
                    }
                })
            } else {
                this.showNotification('errors.INVALID_FORM')
            }
        },

        onFieldChange({ key, value, data, validation }) {
            //console.log('onFieldChange', key, value, validation.error, data,);
        },

        showNotification(error) {
            this.$notification.error({
                message: this.$t(error),
                description: this.$t(this.errorText)
            })
        }
    }
}
</script>
<style lang="scss">
.contract-form-section {
    min-height: calc(100vh - #{$header-height + $footer-height});
    max-width: $content-min-width;
    margin: 0 auto;
}
</style>