
<div class="season-container">
    <div class="season-slider-container">
        <div class="season-tile">
            <div class="season-semester"></div>
            <div class="season-semester season-semester-last"></div><!-- 
            --><p class="season-year">2019</p>
        </div><!-- 
        --><div class="season-tile">
            <div class="season-semester"></div>
            <div class="season-semester season-semester-last"></div><!-- 
            --><p class="season-year">2019</p>
        </div><!-- 
        --><div class="season-tile">
            <div class="season-semester"></div>
            <div class="season-semester season-semester-last"></div><!-- 
            --><p class="season-year">2019</p>
        </div>
    </div>
    
</div>
<span class="season-prev">&#10094;</span>
<span class="season-next">&#10095;</span>
<script>
    var semesterList = document.querySelectorAll(".season-semester");
    for(var index=0; index < semesterList.length; index++){
        var item = semesterList[index];
        item.onclick = (function(itemIndex){
            return function(){
                console.log(itemIndex);
            }
        })(index)

    }

    var tileContainer = document.querySelector('.season-slider-container');
    tileContainer.style.width = index*100;
    var currentTile = 0;

    var prev = document.querySelector('.season-prev');
        prev.onclick = function(event){
            currentTile--;
            move(currentTile);
        }

    var next = document.querySelector('.season-next');
        next.onclick = function(event){
            currentTile++;
            move(currentTile);
        }

    function move(tileIndex){
        var position = -100*tileIndex;
        tileContainer.style.left = position;
        console.log(tileContainer.style.left);
    }
</script>

<style>
    .season-container {
        height:100px;
        width:300;
        overflow: hidden;
            margin-left: 40px;
        position: relative;
    }

    .season-slider-container {
        width:303px;
        height:50px;
        position: absolute;
        transition: 0.6s ease;
        margin-left: 45px;
    }

    .season-tile {
        list-style: none;
        width:100px;
        height:50px;
        border-right: solid 1px black;
        display: inline-flex;
        align-items: stretch;
        margin:0;
        padding: 0;
        float: left;
    }
    .season-semester {
        background-color: green;
        margin: auto;
        width:50px;
        height:25px;
        margin:0;
        padding: 0;
    }

    .season-tile .season-semester-last {
        border-left: solid 1px black;
    }

    .skills-arrow{
        background-color: red;
        width:10px;
        height:10px;
        cursor:pointer;
        padding: 3px;
    }

    /*//////////////////////////////////*/

    .season-prev, .season-next {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 20px;
        padding: 16px;
        color: gray;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    .season-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .season-prev:hover, .season-next:hover {
        color: rgba(0,0,0,0.8);
    }

    .season-year {
        float: left;
        position: absolute;
        top: 10px;
        padding: 5px;
    }
</style>