<template>
    <button
        :aria-label="label"
        class="hamburger hamburger--collapse"
        type="button"
        v-bind:class="{ 'is-active': isActive }"
    >
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</template>

<script>
export default {
    name: 'Burger',

    props: {
        isActive: { type: Boolean },
        label: { type: String, default: 'abrir_menu'},
        width: { type: Number, default: 30 },
        height: { type: Number, default: 30 },
        
    }

}
</script>

<style lang="scss">
.hamburger {
    display: inline-block;
    top: 15px;
    left: 15px;
    position: absolute;
    overflow: visible;
    margin: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    z-index: 100 !important;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent !important;
    width: auto !important;
    min-width: 30px;

    &:focus {
        outline-color: transparent;
        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            background-color: $primary-color;
        }
    }

    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 26px;
        height: 24px;
    }

    .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
        border-radius: 3px;
        background-color: currentColor;
    }

    .hamburger-inner:after,
    .hamburger-inner:before {
        display: block;
        content: '';
    }

    .hamburger-inner:before {
        top: -10px;
    }

    .hamburger-inner:after {
        bottom: -10px;
    }

    .hamburger--3dx .hamburger-box {
        perspective: 80px;
    }

    .hamburger-inner {
        top: 2px;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-duration: 0.275s;

        &:before {
            top: 10px;
            transition: opacity 0.125s ease 0.275s;
        }

        &:after {
            top: 18px;
            transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    &.is-active {
        .hamburger-inner {
            transition-delay: 75ms;
            transform: translate3d(0, 10px, 0) rotate(135deg);

            &:before {
                transition-delay: 0s;
                opacity: 0;
            }

            &:after {
                transition-delay: 75ms;
                transform: translate3d(0, -18px, 0) rotate(-270deg);
            }
        }
    }
}
</style>