// Edition Button

<template>
    <a-tooltip placement="left" :title="label" v-if="canEdit">
        <a-button class="button-icon edit-button" @click="handleClick">
            <label class="visuallyhidden">{{ label }}</label>
            <img src="~/assets/svgs/Edit-white.svg">
            <img src="~/assets/svgs/Edit-black.svg" class="edit-button-hover">
        </a-button>
    </a-tooltip>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'
export default {
    name: 'ButtonEdition',
    mixins: [MixinUser],

    props: {
        label: { type: String, required: true },
        labelPosition: { type: String },
        handleClick: { type: Function }
    }
}
</script>

<style lang="scss" scoped>
.edit-button-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.edit-button {
    background: transparent !important;
}

.edit-button:hover,
.edit-button:focus,
.edit-button:active {
    .edit-button-hover {
        opacity: 1;
    }
}
</style>