// 

<template>
    <button class="button-icon" @click="click">
        <label class="visuallyhidden">Haz clic para volver una página</label>
        <img src="~/assets/svgs/arrow-left.svg">
    </button>
</template>

<script>
export default {
    name: 'ButtonBack',
    props: {
        action: { type: Object }
    },
    methods: {
        click() {
           //this.$router.go(-1)
            this.$router.push(this.action || { name: 'Portada' })
        }
    }
}
</script>

<style lang="scss" scoped>
</style>