<script>
import {
  AutoComplete,
  Cascader,
  Checkbox,
  DatePicker,
  Form,
  Input,
  InputNumber,
  Radio,
  Select,
  Switch,
  Tabs,
  Transfer,
  Upload
} from "ant-design-vue";

const DynamicForm = {
  name: "DynamicForm",

  props: {
    schema: { type: Object, required: true },
    model: { type: Object },
    onSubmitValid: { type: Function },
    onSubmitError: { type: Function }
  },

  data() {
    return {
      confirmDirty: false,
      autoCompleteResult: [],
      fieldMapper: {
        autocomplete: AutoComplete,
        checkbox: Checkbox,
        'boolean': Checkbox,
        currency: Input,
        date: DatePicker,
        // 'dateRange': DatePicker,
        // 'fieldset': FieldSet,
        // 'help': Help,
        number: InputNumber,
        password: Input,
        radios: Radio,
        select: Select,
        tabs: Tabs,
        text: Input,
        textarea: Input,
        toggle: Switch,
        transfer: Transfer,
        upload: Upload
      }
    };
  },

  methods: {
    // Validate and submit form
    handleSubmit(e) {
      e.preventDefault();
      const vm = this;
      this.form.validateFields((err, values) => {
        // console.log("Received values of form: ", err, values);
        if (!err) {
          this.$emit("submitValid", values);
        } else {
          this.$emit("submitError", err);
        }
        this.$emit("submitData", err, values);
      });
    },

    // DirtyValues
    handleConfirmBlur(e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },

    handlerChange(event, key) {
      const vm = this;
      const error = this.form.getFieldsError([key]) || {};
      vm.$emit("fieldChange", {
        event,
        key,
        error: (error[key] || [])[0] || ""
      });
    },

    // Get field view
    getField(schemaForm, key, createElement) {
      const { field } = schemaForm;
      let fieldView = this.fieldMapper["text"];

      if (field && this.fieldMapper[field.viewType]) {
        fieldView = this.fieldMapper[field.viewType];
      } 
      else if (this.fieldMapper[schemaForm.type]) {
        fieldView = this.fieldMapper[schemaForm.type];
      }

      const slot = field.slot ? this.$scopedSlots.default({
          text: field.slot 
      }) : null

      return createElement(fieldView, {attrs: {...field, type: field.type || 'hidden' }}, slot);
    },

    // Get Dynamic fields
    getFields(properties, createElement) {
      const { getFieldDecorator } = this.form;
      const children = Object.entries(properties)
                             .filter(([key, schemaForm]) => {
                                let flag = true;
                                if ('hidden' in schemaForm && typeof schemaForm.hidden === 'function') {
                                    flag = !schemaForm.hidden(this.form.getFieldsValue());
                                }
                                return flag;
                             })
                             .map(([key, schemaForm], index) => {
        const {
          message,
          type,
          minLength,
          maxLength,
          pattern,
          validator,
          whitespace,
          title,
          errorMessage = {},
          field = {}
        } = schemaForm;
        const { style = {}, span = 24, className = "cell-12" } = schemaForm.attr || {};

        return (
          <div
            key={`${key}_${index}`}
            style={style}
            class={` ${className}`}
          >
            <a-form-item label={title} class="item">
              {
                getFieldDecorator(key, {
                  rules: [
                    {
                      type,
                      message: errorMessage.type
                    },
                    {
                      min: minLength,
                      message: errorMessage.min
                    },
                    {
                      max: maxLength,
                      message: errorMessage.max
                    },
                    {
                      pattern,
                      message: errorMessage.pattern
                    },
                    {
                      validator: validator
                        ? (rule, value, callback) =>
                            validator(this.form, rule, value, callback)
                        : null
                    },
                    {
                      whitespace,
                      message: errorMessage.whitespace
                    },
                    {
                      required: this.schema.required.indexOf(key) !== -1,
                      message:
                        errorMessage.required || `Please enter your ${title}`
                    }
                  ]
              })
              (this.getField(schemaForm, key, createElement))}
            </a-form-item>
          </div>
        );
      })

      return children;
    },
    // Cleanr all fields
    handleReset() {
      this.form.resetFields();
    }
  },

  render(createElement) {
    const { getFieldDecorator } = this.form;
    const { autoCompleteResult } = this;

    return (
      <a-form onSubmit={this.handleSubmit} class="full-width">
        <div class="grid grid-center full-width">
            {this.getFields(this.schema.properties, createElement)}
            {this.$slots.default}
        </div>
      </a-form>
    );
  }
};

export default Form.create({
  
  onFieldsChange(instance, changedFields) {
    const hasError = Object.entries(instance.getFieldsError()).some(
      ([key, value]) => !!value
    );
    instance.$emit("fieldChange", changedFields, hasError, instance);
  },

  mapPropsToFields (props) {
    const fields = {};
    Object.entries(props.model||{})
          .forEach( ([key, value]) => {
              fields[key] = Form.createFormField({
                ...value
              })
          });
    return fields;
  }
})(DynamicForm);
</script>