<template>
    <header class="sign-header">
        <div class="sign-content">
            <p class="text-align-center">
                <img src="~/assets/images/logo-green.svg" alt="Uflow logo">
            </p>
            <p v-if="showLegend"
                class="text-align-center"
            >{{$t(lengend)}}</p>
            <slot></slot>
            <h1 v-if="!secondary" class="size-4 sign-header-title"><strong>{{ $t(label) }}</strong></h1>
            <h3 v-if="secondary" class="size-4 sign-header-title">{{ $t(label) }}</h3>
        </div>
    </header>
</template>

<script>
export default {
    name: 'HeaderSign',
    props: {
        label: { type: String },
        secondary: { type: Boolean },
        showLegend: { type: Boolean, default: true }
    }
}
</script>

<style lang="scss">
.sign-header {
    position: relative;
    overflow: hidden;
    padding-top: 79px;
    margin-bottom: 15px;

    h3.sign-header-title,
    h1.sign-header-title {
        padding-top: 98px;
        padding-bottom: 15px;
        color: white;
        z-index: 1;
    }

    h3.sign-header-title {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .sign-content {
        position: relative;
        margin: auto;
        max-width: $content-min-width;
        z-index: 1;
    }

    &.shadow:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 1);
        background: -moz-linear-gradient(
            0deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -webkit-gradient(0deg, $gradient-dark-color 2%, $gradient-light-color 30.15%);
        background: -webkit-linear-gradient(
            0deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -o-linear-gradient(
            0deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -ms-linear-gradient(
            0deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: linear-gradient(0deg, $gradient-dark-color 2%, $gradient-light-color 30.15%);
        z-index: 0;
    }
}
</style>
 
