<template>
    <header class="header-manager">
        <div class="grid full-width padding-x">
            <div class="cell-2">
                <ButtonBack :action="getActions()"/>
            </div>
            <h2 class="cell-8 size-6 text-align-center size-6 text-weight-normal">{{ userName }}</h2>
            <div class="cell-2 cell-align-right text-align-right">
                <NavBurger/>
            </div>
            <h1 class="cell-12 size-6">
                <strong>{{ $t(title) }}</strong>
            </h1>
            <div class="cell-12">
                <slot></slot>
            </div>
        </div>
    </header>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'
import ButtonBack from 'components/ButtonBack.vue'
import NavBurger from 'components/NavBurger.vue'

export default {
    name: 'HeaderContract',

    mixins: [MixinUser],

    components: {
        ButtonBack,
        NavBurger
    },

    props: {
        title: { type: String, default: 'TestName' },
        name: { type: String, default: 'SF40' }
    },

    methods: {
        getActions() {
            const section = this.$route.name !== 'Contracts' ? 'Contracts' : 'Portada'
            return { name: section }
        }
    }
}
</script>

<style lang="scss">
.header-manager {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 8px;
    // height: 11.93em;
    background: linear-gradient(
        360deg,
        rgba(70, 70, 70, 0.83976) 0%,
        #151515 33.15%,
        rgba(70, 70, 70, 0.8398) 100%
    );
}
</style>
 
