<template>
    <header class="header-about-you cell-12">
        <div class="grid full-width padding-x" :class="container">
            <div class="cell-6">
                <ButtonBack v-if="showBack"/>
            </div>
            <h1 class="cell-12 size-6 text-align-center color-white">{{ $t(label) }}</h1>
        </div>
    </header>
</template>

<script>
import ButtonBack from 'components/ButtonBack.vue'

export default {
    name: 'HeaderContract',

    components: {
        ButtonBack
    },

    props: {
        label: { type: String, default: 'about.about-you' },
        container: { type: String },
        showBack: { type: Boolean, default: true },
    }
}
</script>

<style lang="scss" scoped>
header.header-about-you {
    padding-top: 10px;
    margin-bottom: 8px;
    background: color(gray-7);
    height: 120px;
}
</style>
 
