<template>
    <header class="cell-12">
      <div class="grid full-width padding-x">
        <div class="cell-6">
            <ButtonBack />
        </div>
        <div class="cell-6 cell-align-right text-align-right">
            <NavBurger />
        </div>
        <h1 class="cell-6 size-6">
            About Miren
        </h1>
        <div class="cell-6 cell-align-right text-align-right">
             <img class="thumb" :src="model.picture">
        </div>
      </div>
    </header>
</template>