<template>
    <div class="info-view-container">
        <p v-if="showTitle">{{$t(title)}}</p>
        <button-edition
            v-if="editable"
            :label="labelEdition"
            :handleClick="handleAction"
            class="info-view-edit"
        />

        <component 
            :is="getView()"
            :model="model"
            :schema="schema"
         />
    </div>
</template>

<script>
import ButtonEdition from 'components/ButtonEdition'
import list from 'components/infoViews/InfoList'
import behavior from 'components/infoViews/InfoBehavior'
import skills from 'components/infoViews/InfoSkills'
import season from 'components/infoViews/InfoSeason'

const mapper = {
    list,
    behavior,
    skills,
    season
}

export default {
    name: 'InfoView',

    components: {
        ButtonEdition,
        ...mapper
    },

    props: {
        showTitle: { type: Boolean },
        model: { type: Object, required: true },
        schema: { type: Object, required: true },
        editable: { type: Boolean },
        params: { type: Object }
    },

    computed: {
        title() {
            return this.schema.title
        },

        labelEdition() {
            return `Edit ${this.title}`
        },
    },

    methods: {
        handleAction() {
            this.$emit('edit', this.model, this.params)
        },

        getView(type) {
            const schemaType = this.schema.type || 'list'
            return schemaType in mapper ? mapper[schemaType] : mapper.list
        }
    }
}
</script>

<style lang="scss">
.info-view-container {
    position: relative;
}

.info-view-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        border-bottom: 1px solid color(gray);
    }
}

.info-view-title {
    color: $info-view-title-color;
    font-weight: $info-view-title-font-weight;
    font-size: $info-view-title-font-size;
}

.info-view-description {
    margin: 0;
    text-align: right;
    color: $text-default-color;
    font-size: convertPxToRem(18);
    margin-bottom: 7px;
}

.info-view-edit {
    float: right;
}

@media screen and (min-width: 641px) {
    .info-view-title {
        font-size: convertPxToRem(18);
    }

    .info-view-description {
        font-size: convertPxToRem(24);
    }
}
</style>