
/**
* Item Portfolio
*/

<template>
    <ProgressBox
        :id="id"
        :loading="loading"
        :hasError="hasError"
        :showOnError="true"
        :fixed="false"

        class="item-portfolio"
        @click="$emit('click', $event)"
        @keydown="$emit('keydown', $event)"
    >
        <img
            class="item-portfolio-picture"
            :src="cover"
            :alt="title"
            v-if="!hasError"
            @load="imageCompleteHandle"
            @error="imageErrorHandle"
            @abort="imageErrorHandle"
        >
        <img v-if="isVideo" class="item-portfolio-play-caret" src="~/assets/svgs/Play.svg" atl>
        <div class="item-portfolio-info" :class="{'video-type': isVideo}">
            <h3 :id="`${id}_label`" class="title">{{title}}</h3>
        </div>
    </ProgressBox>
</template>

<script>
import MixinWorks from 'mixins/MixinWorks.vue'
import ProgressBox from 'components/ProgressBox'
export default {
    name: 'ItemPortfolio',

    mixins: [MixinWorks],

    components: {
        ProgressBox
    },

    props: {
        title: { type: String, required: true },
        id: { type: String },
        poster: { type: String },
        fileType: { type: String },
        onClick: { type: Function },
        onKeydonw: { type: Function }
    },

    data() {
        return {
            loading: true,
            hasError: false
        }
    },

    computed: {
        isVideo() {
            try {
                return this.fileType === 'video'
            } catch (error) {
                return false
            }
        },
        cover() {
            this.hasError = !this.poster.length 
            return this.poster
        }
    },

    methods: {
        imageCompleteHandle() {
            this.loading = false
        },

        imageErrorHandle() {
            this.hasError = true
        }
    }
}
</script>

<style lang="scss">
.item-portfolio {
    .item-portfolio-picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-portfolio-info {
        position: absolute;
        left: 20px;
        bottom: 30px;
    }

    .item-portfolio-play-caret {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 58px;
        height: 58px;
        transform: translate(-50%, -50%);
    }
}
</style>
 
