<template>
    <div class="item-manager">
        <div class="grid padding-y">
            <template v-if="isManager && isAuthenticated">
                <div
                    class="cell-6"
                    v-if="isContractConfirm(status)"
                >{{ $t('manager.mostrar_portfolio') }}</div>

                <div class="cell-6 text-align-right" v-if="isContractConfirm(status)">
                    <a-switch :checked="isChecked('showWork')" @change="handleToogleInWorkChange"/>
                </div>

                <div class="cell-12">
                    <TButton class="item-manager-chat-btn" label="manager.chat" :block="true"/>
                </div>
            </template>

            <div class="info grid full-width">
                <div class="cell auto position-relative">
                    <img class="item-manager-picture img-size-cover" :src="picture" :alt="title">
                </div>

                <div class="cell item-manager-info padding-left-1">
                    <h2 :id="`${id}_label`" class="title">{{ title }}</h2>
                    <p class>
                        {{ sector[0] }}
                        <br>
                        {{ city || '' }}
                        <br>
                        {{ getAge(age) }}
                    </p>
                </div>
                <TButton
                    class="position-absolute item-manager-contract-btn size-2 text-weight-normal"
                    :class="statusColor"
                    size="small"
                    label="manager.ver_contrato"
                    @click="handleGoToContract"
                >
                    <template v-slot:right>
                        <a-icon type="right"/>
                    </template>
                </TButton>
            </div>
        </div>
    </div>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'
import MixinContract from 'mixins/MixinContract.vue'
import MixinWorks from 'mixins/MixinWorks.vue'
import ProgressBox from 'components/ProgressBox'
import TButton from 'components/TButton'
import {getYearsOld} from 'utils/DateUtils'
export default {
    name: 'ItemContract',

    mixins: [MixinUser, MixinContract, MixinWorks],

    components: {
        ProgressBox,
        TButton
    },

    props: {
        id: { type: String },
        title: { type: String },
        sector: { type: Array },
        picture: { type: String },
        city: { type: String },
        age: { type: String },
        status: { type: Number },
        showBook: { type: Boolean }
    },

    data() {
        return {
            loading: true,
            hasError: false
        }
    },

    computed: {
        statusColor() {
            return {
                'gray-2': this.isContractConfirm(this.status),
                'bg-yellow-1': this.isContractPending(this.status),
                'bg-pink-3': this.isContractRejected(this.status)
            }
        }
    },

    methods: {
        imageCompleteHandle() {
            this.loading = false
        },

        imageErrorHandle() {
            this.hasError = true
        },

        isChecked() {
            return this.showBook === true
        },

        handleToogleInWorkChange(evt) {
            this.ShowInBook(this.id, evt)
        },

        handleGoToContract() {
            this.$router.push({
                name: 'ContractInfo',
                params: { contractId: this.id }
            })
        },

        getAge(age) {
            return age && age.length ?  `${getYearsOld(age)} años`  : '' 
        }
    }
}
</script>

<style lang="scss">
.item-manager {
    .info {
        position: relative;
        overflow: hidden;
        padding: 15px;
        background: $item-work-bg-color;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px 13px;
        cursor: pointer;
    }

    .item-manager-picture {
        display: block;
        width: 90px;
        height: 86px;
        border-radius: 4px;
    }
    .item-manager-contract-btn {
        right: 13px;
        bottom: 10px;
        top: auto;
        left: auto;
        width: auto !important;
        border-radius: 6px;
    }

    .item-manager-chat-btn {
        width: 100% !important;
        max-width: initial !important;
    }
}

#{$root} .item-manager .ant-btn-sm {
    height: 2.125em !important;
}
</style>
 
