
/**
* Info 
*/

<template>
    <div class="info-view-container">
        <div class="grid">
            <template v-if="isAuthenticated">
                <div class="cell-6 padding-y">Mostrar en trabajos</div>
                <div class="cell-6 padding-y text-align-right">
                    <a-switch :checked="isChecked('showWork')" @change="handleToogleInWorkChange"/>
                </div>
                <div class="cell-6 padding-y">Mostrar en book</div>
                <div class="cell-6 padding-y text-align-right">
                    <a-switch
                        :checked="isChecked('showBook')"
                        @change="handleToggleInProfileChange"
                    />
                </div>
            </template>
            <div v-if="null != model" class="cell-12" v-on:click="openWork">
                <div class="grid work-info">
                    <div class="cell-12">
                        <div class="grid nowrap">
                            <div
                                class="cell auto work-img-container"
                                v-for="(photo, index) in photos"
                                :key="`${photo.url}_${index}`"
                            >
                                <img
                                    :src="photo.fileType=='image'?photo.url:photo.poster"
                                    class="work-img img-size-cover"
                                    alt
                                >
                            </div>
                        </div>
                    </div>
                    <h3 class="cell-12 size-6 margin-bottom-0 work-info-title">{{ title }}</h3>
                    <p class="cell-12 work-info-address">{{ address }}</p>
                    <div class="work-info-tags">
                        <a-tag
                            class="cell auto work-tag margin-bottom-1"
                            v-for="(tag, index) in tags"
                            :key="`${tag}_${index}`"
                        >{{ tag }}</a-tag>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'
import MixinWorks from 'mixins/MixinWorks.vue'
import { plainObject } from 'utils/helpers'

export default {
    name: 'ItemWork',

    mixins: [MixinUser, MixinWorks],

    props: {
        model: { type: Object, required: true }
    },

    computed: {
        photos() {
            return this.model.photos
        },

        title() {
            return this.model.title
        },

        address() {
            return this.model.address
        },

        tags() {
            return [...this.model.work, ...this.model.sector, ...this.model.rol]
        }
    },

    methods: {
        openWork(event) {
            this.$router.push({
                name: 'Work',
                params: { workId: this.model.id }
            })
        },

        handleToogleInWorkChange(evt) {
            this.ShowInWorks(this.model.id, evt)
        },

        handleToggleInProfileChange(evt) {
            this.ShowInBook(this.model.id, evt)
        },

        isChecked(prop) {
            return this.model[prop] === true
        }
    }
}
</script>

<style lang="scss">
.info-view-container {
    .work-info {
        overflow: hidden;
        padding: 15px;
        background: $item-work-bg-color;
        border-radius: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .work-img-container {
        padding-right: 15px;
    }

    .work-img {
        border-radius: 4px;
        height: 70px;
        width: 70px;
    }

    .work-info-address {
        font-size: convertPxToRem(12);
        font-weight: normal;
    }

    @media screen and (min-width: 641px) {
        .work-info {
            padding: 29px 32px;
        }

        .work-img {
            width: 20vw;
            max-width: 300px;
            height: 22vw;
            max-height: 320px;
        }

        .work-img-container {
            padding-right: 15px;
        }

        .work-info-title {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .work-info-address {
            font-size: convertPxToRem(18);
        }
    }
}
</style>
 
