<template>
    <div class="library">
        <MediaSource :source="source" :type="type" :active="active" />
        <div class="file-list">
            <a-table
                class="full-width"
                :columns="columns"
                :dataSource="items"
                :rowSelection="rowSelection"
            >
                <template slot="operation" slot-scope="text, record">
                    <a-popconfirm
                        v-if="items.length"
                        title="Sure to delete?"
                        @confirm="() => onDelete(record.key, record)"
                    >
                        <a href="javascript:;">
                            <a-icon type="delete"/>
                            {{$t('delete')}}
                        </a>
                    </a-popconfirm>
                </template>
            </a-table>
        </div>
    </div>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'
import MediaSource from 'components/MediaSource.vue'

const columns = [
    { title: 'Url', dataIndex: 'url', key: 'url' },
    {
        title: 'Remove',
        dataIndex: '',
        key: 'x',
        scopedSlots: { customRender: 'operation' }
    }
]

export default {
    name: 'Library',

    mixins: [MixinUser],

    components: {
        MediaSource
    },

    props: {
        active: { type: Boolean },
        accepts: { type: String },
        onSelect: { type: Function }
    },


    data() {
        return {
            current: null,
            columns
        }
    },

    
    created() {
        this.$store.dispatch('Library/Get')
    },

    computed: {

        items() {
            return this.$store.state.Library.datasource.map( (item, key) => ({ ...item, key, type: 'video'}))
        },

        selected() {
            return this.current || { url: '', type: '' }
        },

        source() {
            return this.selected.url
        },

        type() {
            return this.selected.type
        },

        rowSelection() {
            const { selectedRowKeys } = this
            const vm = this
            return {
                type: 'radio',

                onChange: (selectedRowKeys, selectedRows) => {
                    this.current = selectedRows[0]
                    vm.$emit('select', this.current)
                },

                getCheckboxProps: record => ({
                    props: {
                        disabled: record.name === 'Disabled User', // Column configuration not to be checked
                        name: record.name
                    }
                })
            }
        }
    },

    methods: {
        onDelete(key, data) {
            const dataSource = [...this.items]
            this.data = dataSource.filter(item => item.key !== key)
            this.$store.dispatch('Library/Delete', data.id)
        }
    }
}
</script>

<style lang="scss">
.ant-table {
    width: 100%;
    overflow: hidden;

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        padding: 15px 5px;
    }

    .ant-table-thead > tr > th.ant-table-selection-column,
    .ant-table-tbody > tr > td.ant-table-selection-column {
        min-width: initial;
        width: auto;
    }
}
</style>