<template>
    <div class="media-source" :style="size">
        <template v-if="source">
            <div :id="idVideoContainer" v-if="type == 'video'" class="full-size media-source-video"></div>
            <img v-else-if="type == 'image'" :src="source" alt class="full-size media-source-image">
        </template>
        <template v-else>
            <div class="empty" :style="size">
                <a-icon type="picture"/>
            </div>
        </template>
    </div>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'
import VideoManager from 'core/reproducibles/VideoManager'
import v1 from 'uuid'

export default {
    name: 'MediaSource',

    mixins: [MixinUser],

    props: {
        active: { type: Boolean },
        type: { type: String },
        source: { type: String },
        width: { type: String },
        height: { type: String }
    },

    data() {
        return {
            idVideoContainer: v1()
        }
    },

    mounted() {
        console.log('created', this.source)
        this.createMedia()
    },

    beforeUpdated() {
        console.log('beforeUpdated', this.active)
    },

    updated() {
        console.log('update', this.active)

        if (!this.active) {
            VideoManager.getById(this.idVideoContainer).pause()

        }
        this.createMedia()
    },

    beforeDestroy() {
        VideoManager.destroy(this.idVideoContainer)
    },

    computed: {
        size() {
            const width = this.width ? String(this.width) : '100%'
            const height = this.height ? String(this.height) : '200px'

            const styles = {}
            styles.width = styles.width = isNaN(width) ? width : `${width}px`
            styles.height = styles.height = isNaN(height)
                ? height
                : `${height}px`

            return styles
        },

        isThirdParty() {
            return /player.vimeo.com|www.youtube.com/.test(this.source)
        }
    },

    methods: {
        createMedia() {
            if (this.type == 'video') {
                VideoManager.create({
                    url: this.source,
                    id: this.idVideoContainer,
                    height: this.size.height
                })
            }
        }
    }
}

/*

<iframe
                v-if="type == 'video' && isThirdParty"
                :src="source"
                width="500"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                :style="size"
            />
            <video
                v-else-if="type == 'video'"
                :src="source"
                controls
                alt
                class="media-source-video full-size"
            />
            */
</script>



<style lang="scss">
.media-source {
    background: $disabled-color;
    width: 100%;

    overflow: hidden;

    .empty {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 80px;
        height: 350px;
        > i {
            margin: auto;
        }
    }

    .media-source-video {
        text-align: center;
    }

    img,
    .media-source-video iframe,
    .media-source-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
</style>