<template>
    <div class="text-align-right">
        <button
            aria-label="Abrir menu"
            @click="toggle"
            class="hamburger hamburger--collapse"
            type="button"
            v-bind:class="{ 'is-active': isActive }"
        >
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <transition name="full">
            <nav v-if="isActive" class="nav-list" :class="[{ 'is-active': isActive}, alignType]">
                <div class="nav-list-container">
                    <header class="header-hamburger">
                        <slot name="header"></slot>
                    </header>
                    <main>
                        <slot name="main"></slot>
                        <nav>
                            <ul>
                                <li v-for="nav in currentNav" :key="nav.label">
                                    <template v-if="!nav.type">
                                        <router-link
                                            :class="nav.class"
                                            :to="nav.to"
                                            exact-active-class="nav-active"
                                        >{{ nav.label }}</router-link>
                                    </template>
                                </li>
                                <li v-if="!isAuthenticated || isManager">
                                    <div class="grid grid-center">
                                        <div class="cell-11 large-3">
                                            <router-link
                                                class="text-white create-portfolio ant-btn ant-btn-primary ant-btn-sm"
                                                to="/"
                                            >crea gratis tu propio portfolio</router-link>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </main>
                    <footer>
                        <slot name="footer"></slot>
                    </footer>
                </div>
            </nav>
        </transition>
    </div>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'

export default {
    name: 'NavBurger',

    mixins: [MixinUser],

    data() {
        return {
            isActive: false
        }
    },

    computed: {
        userName() {
            return this.currentUser.name
        },

        currentNav() {
            const status = this.isAuthenticated ? 'online' : 'offline'
            const user = this.isManager ? 'manager' : 'talent'
            return this.navConfig[user][status]
        },

        alignType() {
            return this.isAuthenticated && !this.isManager ? 'align-right' : ''
        },

        navConfig() {
            return {
                talent: {
                    online: [
                        {
                            label: 'book',
                            to: { name: 'Portada' },
                            class: 'title'
                        },
                        {
                            label: 'trabajos',
                            to: { name: 'Works' },
                            class: 'title'
                        },
                        {
                            label: 'about you',
                            to: { name: 'About' },
                            class: 'title'
                        },
                        {
                            label: 'contratos',
                            to: { name: 'Contracts' },
                            class: 'title'
                        },
                        { type: 'separator' },
                        {
                            label: 'derechos de imagen',
                            to: '/',
                            class: 'title'
                        },
                        {
                            label: 'ofertas de trabajo',
                            to: '/',
                            class: 'title'
                        },
                        { label: 'contabilidad', to: '/', class: 'title' },
                        { type: 'separator' },
                        {
                            label: 'personaliza tu URL',
                            to: '/',
                            class: 'title'
                        },
                        { type: 'separator' },
                        {
                            label: 'Preguntas frecuentes',
                            to: '/',
                            class: 'small color-gray'
                        },
                        {
                            label: 'Confirmación',
                            to: '/',
                            class: 'small color-gray'
                        },
                        {
                            label: 'Cerrar sessión',
                            to: { name: 'LogOut' },
                            class: 'small color-gray'
                        }
                    ],
                    offline: [
                        {
                            label: 'portfolio',
                            to: {
                                name: 'Portada',
                                params: { id: this.currentUser.id }
                            },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: 'trabajos',
                            to: {
                                name: 'Works',
                                params: { id: this.currentUser.id }
                            },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: `about ${this.userName}`,
                            to: {
                                name: 'About',
                                params: { id: this.currentUser.id }
                            },
                            class: 'text-white hamburger-button'
                        }
                    ]
                },
                manager: {
                    online: [
                        {
                            label: 'portfolio',
                            to: { name: 'Portada' },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: 'talentos',
                            to: { name: 'Contracts' },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: `about you`,
                            to: { name: 'About' },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: 'facturación',
                            to: { name: 'Bills' },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: 'Cerrar sesión',
                            to: { name: 'LogOut' },
                            class: 'text-white hamburger-button'
                        }
                    ],
                    offline: [
                        {
                            label: 'portfolio',
                            to: { name: 'Portada' },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: 'talentos',
                            to: { name: 'Contracts' },
                            class: 'text-white hamburger-button'
                        },
                        {
                            label: `about you`,
                            to: { name: 'About' },
                            class: 'text-white hamburger-button'
                        }
                    ]
                }
            }
        }
    },

    methods: {
        toggle() {
            this.isActive = !this.isActive
        }
    }
}
</script>

<style lang="scss">
.nav-list {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    text-align: center;
    font-size: 6em;
    z-index: 99;

    .nav-active {
        color: color(cyan) !important;
    }

    &.align-right .nav-list-container {
        position: absolute;
        right: 0;
        left: auto;
        width: auto;
        text-align: right;
        width: 325px;
        min-height: 100vh;
        padding: 50px;
        background: color(black);
    }

    &.align-left .nav-list-container {
        position: absolute;
        left: 0;
        width: auto;
        text-align: left;
        width: 325px;
        min-height: 100vh;
        padding: 50px;
        background: color(black);
    }

    &.is-active {
        display: block;
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    a {
        display: block;
        color: white;
        font-size: 18px;
    }

    .full-enter-active,
    .full-leave-active {
        transition: opacity 5s;
    }
    .full-enter,
    .full-leave-to {
        opacity: 0;
    }

    .align-left-enter-active,
    .align-left-leave-active {
        transition: transform 0.5s;
    }
    .align-left-enter,
    .align-left-leave-to {
        transform: translateX(-100%);
    }
}

.hamburger {
    display: inline-block;
    position: relative;
    overflow: visible;
    margin: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    z-index: 100 !important;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent !important;
    width: auto !important;
    min-width: 30px;

    &:focus {
        outline-color: transparent;
        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            background-color: #ff5692;
        }
    }

    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 26px;
        height: 24px;
    }

    .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
        border-radius: 3px;
        background-color: #fff;
    }

    .hamburger-inner:after,
    .hamburger-inner:before {
        display: block;
        content: '';
    }

    .hamburger-inner:before {
        top: -10px;
    }

    .hamburger-inner:after {
        bottom: -10px;
    }

    .hamburger--3dx .hamburger-box {
        perspective: 80px;
    }

    .hamburger-inner {
        top: 2px;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-duration: 0.275s;

        &:before {
            top: 10px;
            width: 75%;
            transition: opacity 0.125s ease 0.275s;
        }

        &:after {
            top: 18px;
            transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    &.is-active {
        .hamburger-inner {
            transition-delay: 75ms;
            transform: translate3d(0, 10px, 0) rotate(135deg);

            &:before {
                transition-delay: 0s;
                opacity: 0;
            }

            &:after {
                transition-delay: 75ms;
                transform: translate3d(0, -18px, 0) rotate(-270deg);
            }
        }
    }
}

#{$root} a.text-white.create-portfolio.router-link-active {
    font-size: 20px;
    font-weight: bold;
    padding: 18px 7px;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
    background: $button-slim-color;
    /*border: solid white;*/
}

#{$root} div.text-white.hamburger-button,
#{$root} a.text-white.hamburger-button {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}

header.header-hamburger {
    height: 120px;
}

.align-right ul {
    text-align: right;
}

nav ul {
    list-style: none;

    padding-right: 15px;

    li {
        font-weight: bold;
        padding-bottom: 7px;

        a {
            text-decoration: none !important;
            &.small {
                font-size: 13px;
            }
        }

        &:empty {
            padding: 30px 0;
        }
    }
}
</style>