<template>
    <transition name="full">
        <nav v-if="isActive" class="nav-list is-active">
            <button
                aria-label="Abrir menu"
                @click="close"
                class="hamburger hamburger--collapse"
                type="button"
                v-bind:class="{ 'is-active': isActive }"
            >
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="nav-list-container">
                <header class="header-hamburger">
                    <slot name="header"></slot>
                </header>
                <main>
                    <slot name="main"></slot>
                    <nav>
                        <ul>
                            <li v-for="nav in currentNav" :key="nav.label"  @click="close">
                                <template v-if="!nav.type">
                                    <router-link
                                        :class="nav.class"
                                        :to="nav.to"
                                       
                                        exact-active-class="nav-active"
                                    >{{ nav.label }}</router-link>
                                </template>
                            </li>
                            <li v-if="!isAuthenticated || isManager">
                                <div class="grid grid-center">
                                    <div class="cell-11 large-3">
                                        <router-link
                                            class="text-white create-portfolio"
                                            to="/"
                                        >crea gratis tu propio portfolio</router-link>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </main>
                <footer>
                    <slot name="footer"></slot>
                </footer>
            </div>
        </nav>
    </transition>
</template>

<script>
import MixinUser from 'mixins/MixinUser.vue'

export default {
    name: 'NavBurger',

    mixins: [MixinUser],

    data() {
        return {}
    },

    computed: {
        isActive() {
            return this.$store.state.Navigation.open // Crear store para el manejo de estados del menu
        },

        userName() {
            return this.currentUser.name
        },

        currentNav() {
            // const status = this.isAuthenticated ? 'online' : 'offline'
            // const user = this.isManager ? 'manager' : 'talent'
            // return this.navConfig[user][status]
            return this.$store.state.Navigation.current
        },

        alignType() {
            return this.isAuthenticated && !this.isManager ? 'align-right' : ''
        }
    },

    methods: {
        close() {
            this.$store.dispatch('Navigation/Close')
        }
    }
}
</script>

<style lang="scss" scoped>
.nav-list {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    text-align: center;
    font-size: 6em;
    z-index: 99;

    a {
        color: white !important;
    }

    a.nav-active {
        color: $primary-color!important;
    }

    &.align-right .nav-list-container {
        position: absolute;
        right: 0;
        left: auto;
        width: auto;
        text-align: right;
        width: 325px;
        min-height: 100vh;
        padding: 50px;
        background: color(black);
    }

    &.align-left .nav-list-container {
        position: absolute;
        left: 0;
        width: auto;
        text-align: left;
        width: 325px;
        min-height: 100vh;
        padding: 50px;
        background: color(black);
    }

    &.is-active {
        display: block;
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    a {
        display: block;
        color: white !important;
        font-size: 18px;
    }

    .full-enter-active,
    .full-leave-active {
        transition: opacity 5s;
    }
    .full-enter,
    .full-leave-to {
        opacity: 0;
    }

    .align-left-enter-active,
    .align-left-leave-active {
        transition: transform 0.5s;
    }
    .align-left-enter,
    .align-left-leave-to {
        transform: translateX(-100%);
    }
}

.hamburger {
    position: fixed !important;
    top: 24px;
    right: 20px;
    left: auto !important;
    width: 24px !important;
    height: 24px !important;
    display: inline-block;
    position: absolute;
    overflow: visible;
    margin: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    z-index: 100 !important;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent !important;
    width: auto !important;
    min-width: 30px;

    &:focus {
        outline-color: transparent;
        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            background-color: $primary-color;
        }
    }

    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 26px;
        height: 24px;
    }

    .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
        border-radius: 3px;
        background-color: #fff;
    }

    .hamburger-inner:after,
    .hamburger-inner:before {
        display: block;
        content: '';
    }

    .hamburger-inner:before {
        top: -10px;
    }

    .hamburger-inner:after {
        bottom: -10px;
    }

    .hamburger--3dx .hamburger-box {
        perspective: 80px;
    }

    .hamburger-inner {
        top: 2px;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-duration: 0.275s;

        &:before {
            top: 10px;
            transition: opacity 0.125s ease 0.275s;
        }

        &:after {
            top: 18px;
            transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    &.is-active {
        .hamburger-inner {
            transition-delay: 75ms;
            transform: translate3d(0, 10px, 0) rotate(135deg);

            &:before {
                transition-delay: 0s;
                opacity: 0;
            }

            &:after {
                transition-delay: 75ms;
                transform: translate3d(0, -18px, 0) rotate(-270deg);
            }
        }
    }
}

#{$root} a.text-white.create-portfolio.router-link-active {
    font-size: 20px;
    font-weight: bold;
    padding: 18px 7px;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
    border: 4px white solid;
    border-radius: 10px;
    /*border: solid white;*/
}

#{$root} div.text-white.hamburger-button,
#{$root} a.text-white.hamburger-button {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}

header.header-hamburger {
    height: 120px;
}

.align-right ul {
    text-align: right;
}

nav ul {
    list-style: none;

    padding-right: 15px;

    li {
        font-weight: bold;
        padding-bottom: 7px;

        a {
            text-decoration: none !important;
            &.small {
                font-size: 13px;
            }
        }

        &:empty {
            padding: 30px 0;
        }
    }
}
</style>