
<template>
    <ProgressBox :loading="loading" class="talent full-size">
        <div class="grid">
            <div class="cell-12 header-div">
                <div class="grid cover-info padding-x">
                    <div class="cover-info-bluring" :style="coverStyle"></div>
                    <div class="cell-10 talent-title">
                        <h1 class="text-white headline">{{userName}}</h1>
                    </div>
                    <div class="cell-2 auto">
                        <NavBurger/>
                    </div>
                    <div class="cell-10 talent-title">
                        <a-tag
                            class="cell auto portfolio-tag margin-bottom-1"
                            v-for="(tag, index) in tags"
                            :key="`${tag}_${index}`"
                        >{{ tag }}</a-tag>
                    </div>
                    <div class="cell-2 text-align-right">
                        <ButtonEdition
                            label="Organiza tus trabajos"
                            id="ButtonEdition"
                            :handleClick="startEdit"
                            v-if="!editList"
                        />
                    </div>
                </div>
                <img class="cover" :class="expandCover" :src="picture">
                <div class="grid grid-center padding-y portfolio-nav" v-if="isAuthenticated">
                    <div class="cell-12 large-6 text-align-center" :class="{'large-12': isManager}">
                        <a-button @click="editHandle">{{ $t(editLabel) }}</a-button>
                    </div>
                    <div class="cell-12 large-6 text-align-center" v-if="!isManager">
                        <a-button @click="createHandle">{{ $t(createLabel) }}</a-button>
                    </div>
                </div>
            </div>
            <gallery
                :options="{
                    vimeoVideoIdProperty: 'vimeo',
                    vimeoPlayerIdPrefix: 'vimeo-player-',
                    vimeoClickToPlay: true,
                    vimeoPlayerUrl: '//player.vimeo.com/video/VIDEO_ID?api=1&autoplay=1&muted=1&player_id=PLAYER_ID'
                }"
                :images="currentList"
                :index="currentIndex"
                @close="currentIndex = null"
            ></gallery>

            <div class="cell-12 gallery-div" id="Works">
                <draggable
                    v-model="currentList"
                    :options="{group:'people', disabled: !editList, delay: getDelay()}"
                    @start="drag=true"
                    @end="drag=false"
                    class
                >
                    <transition-group
                        name="no"
                        class="grid-gallery grid padding-x padding-y"
                        tag="div"
                        :class="{'portfolio-editable': editList}"
                    >
                        <ItemPortfolio
                            class="cell-12 medium-6"
                            tabindex="0"
                            role="button"
                            v-for="(item, index) in currentList"
                            :aria-labelledby="`${item.id}_label`"
                            :aria-pressed="isPressed(item.id)"
                            :class="{active: isPressed(item.id)}"
                            :key="`${item.id}`"
                            :id="`${item.id}`"
                            :title="item.title"
                            :poster="item.poster"
                            :fileType="item.fileType"
                            @keydown="handleCommand( $event,item.id, index)"
                            @click="handleCommand( $event, item.id, index)"
                        />
                    </transition-group>
                </draggable>
            </div>
            <div class="cell-12 text-align-center margin-bottom-2" v-if="isAuthenticated">
                <a-button @click="endEdit" v-if="editList">{{$t('guardar')}}</a-button>
            </div>
        </div>

        <router-view></router-view>
    </ProgressBox>
</template>

<script type="text/javascript">
import VueGallery from 'vue-gallery'
import draggable from 'vuedraggable'
import TweenMax from 'gsap/TweenMax'
import ScrollToPlugin from 'gsap/ScrollToPlugin'
import 'blueimp-gallery/js/blueimp-gallery-vimeo'

// @ is an alias to /src
import NavBurger from 'components/NavBurger.vue'
import ButtonEdition from 'components/ButtonEdition'
import ItemPortfolio from 'components/ItemPortfolio'
import ProgressBox from 'components/ProgressBox'
// Helpers
import MixinMisc from 'mixins/MixinMisc.vue'
import MixinUser from 'mixins/MixinUser.vue'
import MixinWorks from 'mixins/MixinWorks.vue'
// Helper para modificar la posicion de item dentro del array
import { addToPosition, plainObject } from 'utils/helpers'

const plugins = [ScrollToPlugin]
//
export default {
    name: 'Portfolio',

    mixins: [MixinMisc, MixinUser, MixinWorks],

    props: {
        onEdit: { type: Function },
        onCreate: { type: Function },
        onChange: { type: Function }
    },

    components: {
        NavBurger,
        ButtonEdition,
        ItemPortfolio,
        gallery: VueGallery,
        draggable,
        ProgressBox
    },

    data() {
        return {
            editList: false,
            currentList: [],
            currentIndex: null,
            pressed: null
        }
    },

    beforeRouteLeave(to, from, next) {
        // TODO: implementar que si existe algun cambio sin guardar
        // Se despliegue algun tipo de alerta  this.$confirm({})
        next()
    },

    updated() {
        const vm = this
        this.$nextTick(function() {
            if (vm.pressed) {
                if ('activeElement' in document) {
                    //  document.activeElement.blur()
                }

                document.getElementById(vm.pressed).focus()
            }
        })
    },

    computed: {

        tags() {
            return this.currentUserTags
        },

        picture() {
            return this.currentUser.picture
        },

        loading() {
            return this.currentUserIsLoading
        },

        createLabel() { 
            return 'agregar_trabajos' 
        },
        
        editLabel() {
            return (this.currentUser.steps || [false]).some(item => !item)
                ? 'completar_perfil'
                : 'editar_perfil'
        },

        coverStyle() {
            return {
                backgroundImage: `url(${this.picture})`
            }
        },

        expandCover() {
            return {
                'expand-cover': !this.currentList.length,
                'expand-extra-cover':
                    this.isAuthenticated && !this.currentList.length
            }
        }
    },

    methods: {

        changeHandle() {
           throw new Error('The method changeHandle was not defined')
        },

        editHandle() {
            throw new Error('The method editHandle was not defined')
        },

        createHandle() {
            throw new Error('The method createHandle was not defined')
        },

        startEdit() {
            this.editList = true
            TweenMax.to(window, 1, { scrollTo: '#Works' })
        },

        endEdit() {
            this.editList = false
            this.pressed = null
            this.changeHandle();
        },

        openGallery(index) {
            if (!this.editList) {
                this.currentIndex = index
            }
        },

        isPressed(id) {
            return this.pressed === id
        },

        getDelay() {
            return !!document.ontouchstart ? 1000 : 0
        },

        handleCommand(event, id, index) {
            const { type, keyCode } = event
            let isActivable = type === 'click'
            let isExec = false
            let isEsc = false

            if (type === 'keydown') {
                // Verificar si es Enter o Space
                // Activar o desactivar
                isActivable = isKeyIn(keyCode, [13, 32])
                // Verifiar si el tipo es Up o Down
                // para iniciar una ejecucion
                isExec = isKeyIn(keyCode, [37, 38, 39, 40])
                // Verificar el keycode es una tecla de anulacion
                isEsc = isKeyIn(keyCode, [27])
                // Verificar el keycode es tab
                const isTab = isKeyIn(keyCode, [9]) && this.pressed

                // Prevenir la burbuja de tecla
                // Si es Activable, ejecutable o (anulador o tab si estan en edicion)
                if (
                    isActivable ||
                    (this.editList && (isExec || isEsc || isTab))
                ) {
                    event.preventDefault()
                }
            }

            if (isActivable) {
                if (!this.editList) {
                    this.openGallery(index)
                } else {
                    // Toggle
                    this.pressed = this.pressed ? null : id
                }
            } else if (this.editList) {
                if (isEsc) {
                    this.pressed = null
                } else if (isExec && this.isPressed(id)) {
                    // Se crea el cambio de posicion mediante teclado
                    // Se detecta la direccion hacia donde va a ir la imagen seleccionada
                    const direction =
                        (keyCode === 40 || keyCode === 39 ? 1 : -1) * 1
                    // Se identifica cual seria su posicion
                    const endPosition = index + direction
                    // Se verifica que la posicion no se unbounding del array
                    if (
                        endPosition >= 0 &&
                        endPosition < this.currentList.length
                    ) {
                        // Se genera el intercambio de posiciones

                        const start = this.currentList[index]
                        const end = this.currentList[endPosition]
                        const temp = [...this.currentList]

                        temp.splice(index, 1, end)
                        temp.splice(endPosition, 1, start)

                        this.currentList = temp
                    }
                }
            } else if (this.currentIndex && isEsc) {
                this.currentIndex = null
            }
        }
    }
}
</script>

<style lang="scss" >
.cover {
    display: block;
    width: 100%;
    max-height: 600px;

    object-fit: cover;
}

.cover-info {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 153px;

    .cell {
        z-index: 2;
    }
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.talent-title {
    padding-top: 15px;
    padding-left: 15px;
}

.portfolio-tag {
    background: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    color: white;
    border: transparent;
}

.expand-cover {
    height: calc(100vh - 311px);
}

.expand-extra-cover {
    height: calc(100vh - 400px);
}

.portfolio-nav {
    button span {
        width: 100%;
    }
}

.talent .edit-button {
    margin-left: -15px;
    @media screen and (min-width: 768px) {
        margin-right: -15px;
        margin-left: 0;
    }
}

.portfolio-editable .item-portfolio {
    cursor: move;
    max-height: 250px;
    max-width: 25%;
    @media screen and (max-width: 768px) {
        padding: 5px;

        .item-portfolio-play-caret {
            width: 30px;
            height: 30px;
        }

        .title {
            font-size: 0.9125rem !important;
            line-height: 1 !important;
        }
        .item-portfolio-info {
            bottom: 15px !important;
        }
    }
}

.item-portfolio:focus {
    outline: transparent;
}
.item-portfolio.active {
    transform: scale(0.95);

    border: 2px solid white;
    border-radius: 15px;
}

.item-portfolio.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px dashed white;
    border-radius: 15px;
}

.item-portfolio {
    /*transition: all .2s ease-out;*/
}

.item-portfolio.sortable-chosen:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px dashed white;
    border-radius: 15px;
}
</style>