<script>
import classNames from 'classnames'

export default {
    name: 'PositionArea',

    props: {
        onChange: { type: Function },
        readonly: { type: Boolean, default: false },
        value: { type: Number },
        title: { type: String },
        name: { type: String },
        result: { type: Object, defualt: {} }
    },

    data() {
        return {
            row: 5,
            cols: 3
        }
    },

    methods: {
        getFields() {
            const fields = []
            const totalArea = this.row * this.cols
            const compare = Object.entries(this.result || {})
                .filter(
                    ([key, prop]) =>
                        typeof prop === 'object' && 'fieldZone' in prop
                )
                .map(([key, prop]) => prop.fieldZone)

            for (let index = 0; index < totalArea; index++) {
                const value = compare.filter(field => field === index + 1)
                    .length

                fields.push(
                    <a-radio-button
                        class={classNames('position-area cell-4 cell-center', {
                            'ant-radio-button-wrapper-checked': !!value
                        })}
                        value={index}
                        key={`field_area_${index}`}
                    >
                        {!!value ? (
                            <span class="grid grid-middle grid-center full-height">
                                {`${((value / compare.length) * 100).toFixed(
                                    2
                                )}%`}
                            </span>
                        ) : (
                            ''
                        )}
                    </a-radio-button>
                )
            }

            return fields
        },

        _onChangeHandle(event) {
            this.$emit('change', event.target.value + 1)
        }
    },

    render() {
        return (
            <a-radio-group
                class={classNames(
                    'position-area-container text-align-center full-width',
                    {
                        disabled: this.readonly
                    }
                )}
                title={this.title}
                name={this.name}
                value={(this.value || 0) - 1}
                onChange={this._onChangeHandle}
            >
                <div class="grid full-width">{this.getFields()}</div>
                <div class={classNames('position-area-overlay')}>
                    <div class="position-area-box-small-top" />
                    <div class="position-area-box-big-top" />
                    <div class="position-area-circle-small" />
                    <div class="position-area-circle-big" />
                    <div class="position-area-box-line" />
                    <div class="position-area-box-small-bottom" />
                    <div class="position-area-box-big-bottom" />
                </div>
            </a-radio-group>
        )
    }
}
</script>
<style lang="scss">
.position-area-container {
    position: relative;
    overflow: hidden;
    padding: 1px;
    width: 300px;
    background: rgba(20, 76, 45, 0.8);

    &.disabled {
        cursor: none;
        pointer-events: none;
    }

    .position-area {
        margin: 0 !important;
        height: 99px !important;
        background: #42b16e;
        border: 1px solid rgba(20, 76, 45, 0.8) !important;
        border-radius: 0 !important;

        &.ant-radio-button-wrapper-checked {
            color: white;
            background: rgba(20, 76, 45, 0.8);
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        &::before {
            background: transparent !important;
        }
    }

    .position-area-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        pointer-events: none;

        div {
            position: absolute;
            border: 4px solid white;
        }

        .position-area-box-line,
        .position-area-circle-small,
        .position-area-circle-big {
            border-radius: 50%;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .position-area-circle-small {
            width: 18px;
            height: 18px;
            background: white;
        }

        .position-area-circle-big {
            width: 100px;
            height: 100px;
        }

        .position-area-box-line {
            width: 100%;
            height: 1px;
            border-radius: 0;
            border-width: 2px;
        }

        .position-area-box-small-top,
        .position-area-box-small-bottom {
            width: 56px;
            height: 56px;
        }

        .position-area-box-big-top,
        .position-area-box-big-bottom {
            width: 156px;
            height: 156px;
        }

        [class*='-top'] {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        [class*='-bottom'] {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}
</style>

