
<template>
    <div
        @click="$emit('click', $event)"
        @keydown="$emit('keydown', $event)"
        @focus="$emit('focus', $event)"
        @blur="$emit('blur', $event)"
    >
        <div class="loader-roller" v-if="isLoading" :style="styles">
            <div v-for="(dot, index) of dots" :key="`${dot}_${index}`"></div>
        </div>
        <div class="full-size" v-show="isComplete">
            <slot></slot>
        </div>
        <slot name="error" v-if="hasError">
            <a-alert message="Error" :description="errorMessage" type="error" showIcon/>
        </slot>
    </div>
</template>

<script>
export default {
    name: 'ProgressBox',

    props: {
        loading: { type: Boolean },
        showOnError: { type: Boolean, default: false },
        hasError: { type: Boolean, default: false },
        errorMessage: { type: String, default: 'Error' },
        size: { type: Number, default: 60 },
        color: { type: String, default: 'black' },
        fixed: { type: Boolean, default: true }
    },

    data() {
        return {
            dots: 8
        }
    },

    computed: {
        isLoading() {
            return this.loading && !this.hasError
        },

        isComplete() {
            return !this.isLoading || (this.hasError && this.showOnError)
        },

        styles() {
            const size = this.size ? String(this.size) : null
            const color = this.color ? String(this.color) : null

            const styles = {}
            if (size) {
                styles.width = styles.height = `${size}px`
            }

            if (color) {
                //styles.backgroundColor = color
            }

            if (!this.fixed) {
                styles.position = 'absolute'
            }

            const position = `calc(50% - ${size / 2}px)`
            styles.top = position
            styles.left = position

            return styles
        }
    }
}
</script>

<style>
.loader-spinner {
    position: fixed;
    width: 60px;
    height: 60px;

    display: block;
    margin: 0 auto;

    -webkit-animation: spinner 1.2s infinite ease-in-out;
    animation: spinner 1.2s infinite ease-in-out;
    backface-visibility: initial;
}

.loader-roller {
    position: fixed;
    display: inline-block;
    width: 64px;
    height: 64px;
}
.loader-roller div {
    animation: loader-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.loader-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
.loader-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.loader-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.loader-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.loader-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.loader-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.loader-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.loader-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.loader-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.loader-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.loader-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.loader-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.loader-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.loader-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.loader-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.loader-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.loader-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes loader-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg)
            rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
</style>