<template>
    <section class="radar-skills box">
        <slot>
            <h2>{{$t(title)}}</h2>
        </slot>
        <p class="text-align-center">
            <span class="padding-right-1" v-for="(skill, index) of skills" :key="index">
                <i
                    :style="{background: skill.color, width:  '20px', height: '10px', display: 'inline-block', paddingRight: '15px' }"
                    :aria-label="`color ${skill.color}`"
                ></i>
                <strong class=""> {{$t(skill.legend)}}</strong>
            </span>
        </p>
        <p class="position-relative">
            <Radar class="radar" :labels="labels" :datasets="datasets" :width="300" :height="300"/>
            <Pie class="pie" :labels="pielabels" :datasets="legend" :width="275" :height="275"/>
        </p>
        <slot name="footer"></slot>
    </section>
</template>

<script>
import Pie from 'components/graphs/Pie.vue'
import Radar from 'components/graphs/Radar.vue'

export default {
    name: 'RadarHabilities',

    components: { Radar, Pie },

    props: {
        title: { type: String, default: 'skills.title' },
        skills: {
            type: Array,
            default: function() {
                return []
            }
        }
    },

    computed: {
        labels() {
            return this.skills.reduce(
                (labels, skill) => [
                    ...labels,
                    ...Object.keys(skill.data)
                        .filter(skill => skill != 'videos')
                        .map(i => '')
                ],
                []
            )
        },

        pielabels() {
            return this.skills.reduce(
                (labels, skill) => [...labels, skill.legend],
                []
            )
        },

        datasets() {
            const chartData = this.skills.reduce(
                (values, skill) => ({
                    ...values,
                    data: [...values.data, ...Object.values(skill.data)]
                }),
                {
                    data: [],
                    backgroundColor: 'rgba(220, 28,28, 0)',
                    borderColor: '#DC1C1C'
                }
            )

            return [chartData]
        },

        legend() {
            return [
                this.skills.reduce(
                    (values, skill) => ({
                        ...values,
                        data: [
                            ...values.data,
                            Object.keys(skill.data)
                                .filter(key => key !== 'videos')
                                .reduce((count, value) => count + 1, 0)
                        ],
                        backgroundColor: [
                            ...values.backgroundColor,
                            skill.color
                        ]
                    }),
                    {
                        data: [],
                        borderColor: 'transparent',
                        backgroundColor: []
                    }
                )
            ]
        },

        options() {}
    },

    methods: {}
}
</script>

<style lang="scss">
.radar-skills canvas {
    margin: auto;
}

.radar {
    position: relative;
    z-index: 1;
}
.pie {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.legend {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
</style>