<template>
    <div class="box-season-selector" >
        <div class="season-selector-container">
            <div class="season-selector-slider-container">
                <div
                    class="season-selector-tile"
                    v-for="(year, index) in years"
                    :key="`${year}_${index}`"
                >
                    <div class="season-selector-semester" @click="handleChange(year, 1, index)"></div>
                    <div
                        class="season-selector-semester season-selector-semester-last"
                        @click="handleChange(year, 2, index)"
                    ></div>
                    <!-- 
                    -->
                    <p class="season-selector-year">{year}</p>
                </div>
            </div>
        </div>
        <a class="season-selector-prev">&#10094;</a>
        <a class="season-selector-next">&#10095;</a>
    </div>
</template>


<script>
export default {
    name: 'SeasonSelector',
    props: {
        seasons: { type: Array, default: [] },
        tileWidth: { type: Number, default: 100 },
        tileHeight: { type: Number, default: 50 },
        onChange: { type: Function },
    },

    data() {
        return {
            currentTile: 0,
            totalTiles: 0,
            years(){
                const length = 2019-1989;
                var year = 1989;
                const totalYears = [];
                for(var index=0; index < totalYears; index++){
                    totalYears.push(++year);
                }
                return totalYears;
            } 
        }
    },

    mounted() {
        let dataObejct = model;
        const vm = this
        var semesterList = document.querySelectorAll('.season-selector-semester')

        var tileContainer = document.querySelector('.season-selector-slider-container')
        tileContainer.style.width = this.seasons.length * 2 * this.tileWidth
        tileContainer.style.height = this.tileHeight

        var prev = document.querySelector('.season-selector-prev')
        prev.onclick = function(event) {
            if (vm.currentTile == 0) {
                return
            }
            vm.currentTile--
            move(vm.currentTile)
        }

        var next = document.querySelector('.season-selector-next')
        next.onclick = function(event) {
            if (vm.currentTile == vm.totalTiles - 1) {
                return
            }
            vm.currentTile++
            move(vm.currentTile)
        }

        function move(tileIndex) {
            var position = -(vm.tileWidth * tileIndex)
            tileContainer.style.left = position
        }
    },

    methods: {
        handleChange(year, semester) {
            this.$emit('onChange', { year, semester })
        }
    }
}
</script>
<style lang="scss">

.season-selector-container {
    height: 100px;
    width: 300px;
    overflow: hidden;
    margin-left: 40px;
    position: relative;
}

.season-selector-slider-container {
    width: 303px;
    height: 50px;
    position: absolute;
    transition: 0.6s ease;
    margin-left: 45px;
}

.season-selector-tile {
    list-style: none;
    width: 100px;
    height: 50px;
    border-right: solid 1px black;
    display: inline-flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    float: left;
}
.season-selector-semester {
    background-color: green;
    margin: auto;
    width: 50px;
    height: 25px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.season-selector-tile .season-selector-semester-last {
    border-left: solid 1px black;
}

.season-selector-arrow {
    background-color: red;
    width: 10px;
    height: 10px;
    cursor: pointer;
    padding: 3px;
}

.season-selector-prev,
.season-selector-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 20px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.season-selector-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.season-selector-prev:hover,
.season-selector-next:hover {
    color: rgba(0, 0, 0, 0.8);
}

.season-selector-year {
    float: left;
    position: absolute;
    top: 10px;
    padding: 5px;
    pointer-events: none;
}
</style>