<template>
    <section class="box skill-result">
        <h2>{{$t(schema.title)}}</h2>
        <TButton label="watch_video" @click="handleToggle" v-if="source"/>
        <p v-if="showVideo">
            <video :src="source" controls/>
        </p>
        <p>
            <SkillField
                v-for="(data, index) of datasets"
                class="skills-container"
                :key="`${data.key}_${index}`"
                :form="data"
                :formData="model"
            ></SkillField>
        </p>
    </section>
</template>

<script>
import TButton from 'components/TButton'
import SkillField from 'components/SchemaForm/fields/FieldSkill'

export default {
    name: 'SkillResult',

    components: { TButton, SkillField },

    props: {
        showResult: { type: Boolean, default: false },
        max: { type: Number, default: 10 },
        min: { type: Number, default: 0 },
        model: { type: Object, required: true },
        schema: { type: Object, required: true }
    },

    data() {
        return {
            showVideo: false
        }
    },

    computed: {
        datasets() {
            return this.schema.properties.map(
                ({ key, title, description }) => ({
                    default: this.model[key],
                    title,
                    key,
                    description,
                    readonly: true
                })
            )
        },
        source() {
            try {
                console.log(this.model.videos.url)
                return this.model.videos.url
            } catch (error) {
                this.showVideo = false
            }
        }
    },

    methods: {
        handleToggle() {
            this.showVideo = !this.showVideo
        }
    }
}
</script>

<style lang="scss">
</style>