<template>
   <a-checkable-tag
        role="checkbox" 
        tabindex="0"
        :aria-label="label"
        :aria-checked="isChecked"
        :checked="isChecked"
        @keyup.enter="handleTrigger"
        @keyup:space="handleTrigger"
        @change="handleTrigger"
    >
        {{ label }}
    </a-checkable-tag>
</template>

<script>
export default {
  name: 'TagCheckable',

  props: {
      label: { type: String }, 
      isChecked: { type: Boolean }, 
  },

  mounted() { 
      this.$el.addEventListener('keyup', this.handleKeys);

  },

  unmounted() {
    this.$el.removeEventListener('keyup', this.handleKeys);
  },
  
  methods: {
    handleKeys(event) {
        switch (event.keyCode) {
            case 32:
            case 13:
                this.handleTrigger(!this.isChecked);
            break 
        }
    },
    
    handleTrigger(value) {
        this.$emit('change', { label: this.label, value });
    }
  },

}
 

</script>

<style lang="scss">


</style>