<template>
    <a-button
        :label="label"
        :type="type"
        :htmlType="htmlType"
        :icon="icon"
        :size="size"
        :disabled="disabled"
        :loading="loading"
        :block="block"
        @click="$emit('click', $event)"
        @blur="$emit('blur', $event)"
        @focus="$emit('focus', $event)"
    >
        <slot name="left"></slot>
        {{ $t(label) }}
        <slot name="right"></slot>
    </a-button>
</template>

<script>
export default {
    name: 'TButton',
    props: {
        label: { type: String, required: true },
        type: { type: String, default: 'default' },
        htmlType: { type: String, default: 'button' },
        icon: { type: String },
        size: { type: String, default: 'default' },
        disabled: { type: Boolean, default: false },
        block: { type: Boolean, default: false },
        loading: { type: Boolean, default: false }
    }
}
</script>

<style lang="scss">
</style>
 
