
/**
* Portfolio thumbs
*/

<template>
    <div class="thumb position-relative" :class="type">
        <button
            class="position-absolute to-right"
            :class="{hidden: !showEdit}"
            @click="$emit('onDeleteClicked', id)"
        >
            <span class="visuallyhidden">Delete</span>
            <span aria-hidden="true" class="ico delete">Delete</span>
        </button>
        <a :href="link" :aria-labelledby="`thumb_{$id}`">
            <img :src="source" alt class="img-ratio-width">
        </a>
        <div class="thumb-info position-absolute to-bottom">
            <v-container fluid>
                <v-layout row wrap>
                    <v-flex xs10>
                        <h2 :id="`thumb_{$id}`">{{title}}</h2>
                        <h3 v-if="total > 0">{{total}} {{type}}</h3>
                    </v-flex>
                    <v-flex xs2>
                        <img src alt="ico gallery">
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Thumb',
    props: {
        id: { type: String, required: true },
        title: { type: String, required: true },
        type: { type: String, required: true },
        source: { type: String, required: true },
        link: { type: String, required: true },
        total: { type: Number },
        showEdit: { type: Boolean },
        showTypeIcon: { type: Boolean },
        showCount: { type: Boolean }
    }
}
</script>

<style lang="scss">
.thumb {
    display: inline-block;
    width: 280px;
}
.thumb-info {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
</style>
 
