
<template>
    <div class="upload-file text-align-center margin-bottom-1" :class="classObject">
        <a-button
            v-if="source"
            class="remove-button button-icon"
            @click="handleRemoveSource($event)"
        >
            <a-icon type="close"/>
        </a-button>

        <MediaSource class="upload-file-preview" v-if="source" :source="source" :type="acceptType"/>

        <a-upload-dragger
            v-else
            name="innerfile"
            :accept="accept"
            :beforeUpload="beforeUpload"
            :showUploadList="false"
            class="upload-file-dragger"
            role="button"
        >
            <div v-if="hideButton">
                <p class="ant-upload-drag-icon color-gray-9">
                    <a-icon :type="loading ? 'loading' : 'cloud-updload'"/>
                </p>
                <p v-if="loading" class="ant-upload-text">{{$t('upload', {type: 'video'})}}</p>
                <p v-else class="ant-upload-text">{{$t(label)}}</p>
            </div>

            <a-button
                v-else
                class="vertical-middle text-align-left color-white margin-top-1"
                size="small"
                @click.stop="handleOpenNav($event)"
            >
                {{$t(label)}}
                <span class="ico color-white">
                    <a-icon :type="loading ? 'loading' : 'plus'"/>
                </span>
            </a-button>

            <div class="grid margin-top-1 nav" v-if="navOpen">
                <div class="cell-4">
                    <a-button @click="handleBrowser" class>{{$t(openLibraryLabel)}}</a-button>
                </div>
                <div class="cell-4">
                    <a-button @click.stop="handleOpenLibrary" class>{{$t(fileUploadedLabel)}}</a-button>
                </div>
                <div class="cell-4">
                    <a-button
                        @click.stop="handleOpenUrlInput"
                        :class="{active: fileUrlSelected}"
                    >{{$t(fileUrlLabel)}}</a-button>
                </div>
            </div>
        </a-upload-dragger>
        <div class="link-container full-width text-align-center" v-if="fileUrlSelected && !source">
            <a-input-search
                class="full-width fileUrlInput"
                type="text"
                @search="handleChangeInput($event)"
            >
                <a-button slot="enterButton">
                    <a-icon type="plus"/>
                </a-button>
            </a-input-search>
        </div>
        <a-modal v-model="visible" @ok="handleOk">
            <Library @select="handleSelect" :accept="accept" :active="visible" />
        </a-modal>
    </div>
</template>

<script>
import defaultPoster from 'assets/images/video-poster.jpg'
import Library from 'components/Library'
import MediaSource from 'components/MediaSource.vue'

function getBase64(source, callback) {
    const reader = new FileReader()
    reader.addEventListener('load', () => callback(reader.result))
    reader.readAsDataURL(source)
}

export const AcceptType = {
    image: 'image/png, image/jpeg',
    video: 'video/mp4'
}

export default {
    name: 'UploadFile',

    components: {
        Library,
        MediaSource
    },

    props: {
        index: { type: Number },
        minSize: { type: Number, default: 0.15 },
        maxSize: { type: Number, default: 15 },
        acceptType: { type: String, default: 'video' },
        fileUploadedLabel: { type: String, default: 'video_subido' },
        openLibraryLabel: { type: String, default: 'galeria_dipositivo' },
        fileUrlLabel: { type: String, default: 'youtube_vimeo' },
        fileUrlPlaceholder: { type: String, default: 'pegar_url' },
        value: { type: String },
        posterUrl: { type: String, default: '' },
        label: { type: String },
        hideButton: { type: Boolean, default: false },
        onUpload: { type: Function },
        action: { type: Function }
    },

    data() {
        return {
            visible: false,
            loading: false,
            opened: false,
            navOpen: false,
            fileUrlSelected: false,
            defaultPoster,
            tempSource: null,
            source: null
        }
    },

    created() {
        this.source = this.value
    },

    computed: {
        accept() {
            return AcceptType[this.acceptType]
        },

        classObject() {
            return {
                isButton: !this.hideButton
            }
        },

        url() {
            return !!!this.posterUrl ? this.defaultPoster : this.posterUrl
        }
    },

    methods: {
        open() {
            this.opened = true
            this.navOpen = false
        },

        removeFileUrl() {
            this.fileUrlSelected = false
        },

        closeName() {
            this.navOpen = false
        },

        handleOpenNav(event) {
            event.stopPropagation()
            this.navOpen = true
        },

        handleBrowser() {
            this.closeName()
            this.removeFileUrl()
        },

        handleOpenLibrary() {
            this.removeFileUrl()
            // this.tempSource = null
            this.visible = true
        },

        handleOpenUrlInput() {
            this.fileUrlSelected = true
        },

        handleSelect(video) {
            this.tempSource = video
        },

        handleRemoveSource() {
            this.source = null
            this.emitChange({
                url: ''
            })
        },

        handleChangeInput(url) {
            this.source = url
            const request = { url }
            this.upload(request, () => {
                this.emitChange(request)
            })
        },

        handleCancel() {},

        handlePreview(file) {},

        handleOk(e, data) {
            const vm = this
            this.visible = false
            this.source = this.tempSource.url
            this.emitChange({ url: this.source })
        },

        emitChange(result) {
            this.$emit('upload', result)
        },

        upload(request, callback) {
            const vm = this
            this.loading = true
            this.action(request).then(response => {
                vm.loading = false
                callback(response)
            })

            return !!this.action
        },

        beforeUpload(file) {
            const vm = this
            const size = file.size / 1024 / 1024
            let errors = 0
            if (this.minSize && size < this.minSize) {
                //TODO reemplazar por una libreria que calcule los tamanos
                const sizeKB =
                    this.minSize < 1 ? this.minSize * 1024 : this.minSize
                const unit = this.minSize < 1 ? 'KB' : 'MB'
                this.$message.error(`Video must bigger than ${sizeKB}${unit}!`)
                errors += 1
            }

            if (this.maxSize && size > this.maxSize) {
                this.$message.error(
                    `Video must smaller than ${this.maxSize}MB!`
                )
                errors += 1
            }

            if (!!!errors) {
                this.loading = true
                if (this.action) {
                    this.upload({ file }, response => {
                        try {
                            vm.source = response.status.info.response.url
                            vm.emitChange(response.status.info.response)
                        } catch (error) {
                            vm.$message.error(
                                `${file.name} file upload failed.`
                            )
                        }
                    })
                } else {
                    getBase64(file, result => {
                        vm.source = result
                        vm.loading = false
                        vm.emitChange({
                            url: result
                        })
                    })
                }
            }
        }
    }
}
</script>
<style  lang="scss" >
#{$root} .upload-file {
    position: relative;
    width: 100%;
    height: initial;

    .upload-file-preview {
        height: 175px;
        overflow: hidden;
    }

    .link-container {
        height: 40px;
        background: #000000;
        border: 3px solid #7d7979;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 12px;

        button {
            height: 30px;
        }

        input {
            color: white !important;
            font-size: inherit !important;
            border: none !important;
        }
    }

    .nav {
        margin: 0 -5px;

        > div {
            padding: 5px;
            button {
                text-align: center !important;
            }
        }
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ant-upload.ant-upload-drag .ant-upload {
        padding: 0;
    }

    .remove-button {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 5;
        padding: 10px;
    }

    &.isButton .ant-upload-drag.ant-upload {
        position: relative;
        max-height: 175px;
        background: transparent;
        border: none;
    }

    .upload-cover {
        position: absolute;
        opacity: 0.3;
        top: 25%;
        left: 0;
        text-shadow: 1px 1px gray;
    }

    .ant-upload.ant-upload-drag .anticon-plus {
        font-size: 14px;
        color: white;
    }
}
</style>