<template>
    <div
        v-if="hasPosition"
        class="info-view-behavior grid full-width"
        :class="schema.className||''"
    >
        <div class="full-width">
            <h2 class="size-2">{{$t('behavior.position')}}</h2>
            <a-select
                class="full-width"
                @change="handleChangePosition"
                :defaultValue="currentPosition"
            >
                <a-select-option
                    v-for="(position, index) of positions"
                    :value="index"
                    :key="`position_${index}`"
                >{{$t(position.label)}}</a-select-option>
            </a-select>
        </div>
        <div class="full-width margin-top-1">
            <h3 class="size-2">{{$t('behavior.title_most_time')}}</h3>
            <a-select
                class="full-width"
                @change="handleChangeQuestion"
                :defaultValue="currentQuestion"
            >
                <a-select-option
                    v-for="(question, index) of questions"
                    :value="index"
                    :key="`question_${index}`"
                >{{$t(question.label)}}</a-select-option>
            </a-select>
        </div>
        <PositionArea class="margin-top-1" :readonly="true" :value="fieldZone" :result="result"/>
        <div v-if="videoSource" class="margin-top-1 full-width text-align-right">
            <a-button
                @click="handleToggleVideo"
                :class="{'bg-green-1': showVideo}"
            >{{$t('watch_video')}}</a-button>
            <transition name="fade">
                <video v-if="showVideo" :scr="videoSource.url" controls class="full-width margin-top-1"/>
            </transition>
        </div>
    </div>
</template>

<script>
import ButtonEdition from 'components/ButtonEdition'
import PositionArea from 'components/PositionArea'

export default {
    name: 'InfoBehavior',

    components: {
        ButtonEdition,
        PositionArea
    },

    props: {
        model: { type: Object, required: true },
        schema: { type: Object, required: true }
    },

    data() {
        return {
            currentPosition: 0,
            currentQuestion: 0,
            showVideo: false
        }
    },

    computed: {
        hasPosition() {
            return this.behaviors.length
        },

        behaviors() {
            return this.model[this.schema.properties.key] || []
        },

        positions() {
            return this.behaviors.map((behavior, index) => ({
                value: index,
                label: behavior[this.schema.properties.position.key]
            }))
        },

        questions() {
            return this.schema.properties.questions.map((question, index) => ({
                value: index,
                label: question.title
            }))
        },

        videoSource() {
            const currentQuestion = this.schema.properties.questions[
                this.currentQuestion
            ]
            return this.getBehaviorProp(currentQuestion.key)[
                currentQuestion.video
            ]
        },

        fieldZone() {
            const currentQuestion = this.schema.properties.questions[
                this.currentQuestion
            ]
            return currentQuestion.zone === 'all'
                ? -1
                : this.getBehaviorProp(currentQuestion.key)[
                      currentQuestion.zone
                  ]
        },

        result() {
            const currentQuestion = this.schema.properties.questions[
                this.currentQuestion
            ]
            return currentQuestion.zone === 'all' ? this.behaviorPosition : {}
        },

        behaviorPosition() {
            return this.behaviors[this.currentPosition] || {}
        }
    },

    methods: {
        getBehaviorProp(key) {
            return this.behaviorPosition[key] || {}
        },

        handleToggleVideo() {
            this.showVideo = !this.showVideo
            // console.log(this.video)
            console.log('handleToggleVideo', this.showVideo)
        },

        handleChangePosition(value) {
            this.currentPosition = value
        },

        handleChangeQuestion(value) {
            this.currentQuestion = value
        }
    }
}
</script>


<style lang="scss">
.info-view-container {
    position: relative;
}

.info-view-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        border-bottom: 1px solid color(gray);
    }
}

.info-view-title {
    color: $info-view-title-color;
    font-weight: $info-view-title-font-weight;
    font-size: $info-view-title-font-size;
}

.info-view-description {
    margin: 0;
    text-align: right;
    color: $text-default-color;
    font-size: convertPxToRem(18);
    margin-bottom: 7px;
}

.info-view-edit {
    float: right;
}

@media screen and (min-width: 641px) {
    .info-view-title {
        font-size: convertPxToRem(18);
    }

    .info-view-description {
        font-size: convertPxToRem(24);
    }
}
</style>