<template>
    <div class="info-view-habilities grid full-width" :class="schema.className||''">
        <div class="selector">
            
            <a-popover :visible="showTooltip" @visibleChange="handleClickChange" placement="bottom">
                <template slot="content">
                    <p>{{$t('season.recent_club', {date: 'junio 18'})}}</p>
                    <p>{{$t('season.manager',{name: 'Gaizka Garitnao'})}}</p>
                    <p>{{$t('season.position',{position: 'Delanatero'})}}</p>
                    <TButton label="season.show_season_stats" @click="handleToggle(false)"/>
                </template>
                <SeasonSelector :seasons="[1979,1980,1981]" @onChange="seasonSelected"/>
            </a-popover>
        </div>

        <div class="full-width margin-top-1">
            <TButton label="season.show_globals_stats" @click="handleToggle(true)"/>
        </div>

        <h2 class="margin-top-1">{{$t(title)}}</h2>
        <template v-if="true">
            <div
                class="full-width margin-top-1 box"
                v-for="(result, index) of globalStats"
                :key="`result_${index}`"
            >
                <h3 class="margin-bottom-1">{{result.title}}</h3>
                <Bar :chartData="result.chartData"/>
            </div>
        </template>
    </div>
</template>


<script>
import moment from 'moment'
import TButton from 'components/TButton'
import ButtonEdition from 'components/ButtonEdition'
import RadarHabilities from 'components/RadarHabilities'
import SeasonSelector from 'components/SeasonSelector'
import Bar from 'components/graphs/Bar'

export default {
    name: 'InfoSeason',

    components: {
        ButtonEdition,
        RadarHabilities,
        TButton,
        SeasonSelector,
        Bar
    },

    props: {
        model: { type: Object, required: true },
        schema: { type: Object, required: true }
    },

    data() {
        return {
            showTooltip: false,
            showGlobal: true,
            currentYear: 1979,
            currentSemester: 2
        }
    },

    computed: {
        title() {
            return this.showGlobal
                ? 'season.globals_stats'
                : 'season.season_stats'
        },
        currentSchema() {
            return this.schema.properties[0]
        },

        globalStats() {
            const key = this.showGlobal ? 'year' : 'month'
            return this.currentSchema.properties
                .reduce((data, info) => {
                    const stats = (
                        this.model[this.currentSchema.key] || []
                    ).reduce((merge, season) => {
                        merge[season[key]] = merge[season[key]] || 0
                        merge[season[key]] += season[info.key] || 0

                        return merge
                    }, {})

                    let labels = Object.keys(stats)

                    if (!this.showGlobal) {
                        labels = labels.map(label =>
                            moment()
                                .month(label)
                                .format('MMMM')
                        )
                    }

                    return [
                        ...data,
                        {
                            title: info.title,
                            chartData: {
                                labels,
                                datasets: [
                                    {
                                        data: [...Object.values(stats), 0],
                                        backgroundColor: '#42B16E',
                                        borderColor: '#DC1C1C'
                                    }
                                ]
                            }
                        }
                    ]
                }, [])
                .filter(stat => {
                    return stat.chartData.datasets[0].data.length > 1
                })
        }
    },

    methods: {
        handleToggle(show) {
            this.showGlobal = show
        },

        seasonSelected(data) {
            this.currentYear = data.year
            this.currentSemester = data.semester
            this.showTooltip = true
        },

        handleClickChange(visible) {
            this.showTooltip = visible
        }
    }
}
</script>


<style lang="scss">
</style>