<template>
    <ul class="info-view-list grid full-width" :class="schema.className||''">
        <li
            class="info-view-item main-font"
            v-for="(item, index) of list"
            :key="`${item.label}_${index}`"
            :class="item.className"
        >
            <p class="info-view-title">{{ item.label }}</p>

            <template v-if="item.type === 'list'">
                <p
                    class="info-view-description main-font"
                    v-for="(description, descIndex) of item.description"
                    :key="`${item.label}_${descIndex}`"
                >{{ description }}</p>
            </template>

            <template v-else>
                <p class="info-view-description">
                    <img
                        v-if="item.source.url"
                        :src="item.source.url"
                        alt
                        :width="item.source.width"
                        :height="item.source.height"
                        :className="item.source.className"
                    >
                    {{ item.description }}
                </p>
            </template>
        </li>
    </ul>
</template>

<script>
import ButtonEdition from 'components/ButtonEdition'
import _object from 'lodash/object'

export default {
    name: 'InfoViewList',

    components: {
        ButtonEdition
    },

    props: {
        showTitle: { type: Boolean },
        model: { type: Object, required: true },
        schema: { type: Object, required: true },
        editable: { type: Boolean },
        params: { type: Object }
    },

    computed: {
        title() {
            return this.schema.title
        },

        labelEdition() {
            return `Edit ${this.title}`
        },

        list() {
            let list = []
            this.schema.properties.forEach(schema => {
                switch (schema.type) {
                    case 'array':
                        list = [
                            ...list,
                            ...(this.getModel(schema) || []).map(
                                (item, index) => this.getInfo(schema, index)
                            )
                        ]
                        break
                    default:
                        list.push(this.getInfo(schema))
                }
            })

            return list.filter(({ description }) => description.length)
        }
    },

    methods: {
        handleAction() {
            this.$emit('edit', this.model, this.params)
        },

        getInfo(schema, index = -1) {
            const label = this.getLabel(schema, index)
            const description = this.getDescription(schema, index)
            const source = this.getSource(schema, index)

            return {
                className: schema.className || 'cell-12',
                type: description === '...' ? 'string' : schema.type,
                label,
                description,
                source
            }
        },

        getLabel(schema, index) {
            let text =
                typeof schema.computeTitle === 'function'
                    ? schema.computeTitle(
                          this.model,
                          this.getModel(schema),
                          index
                      )
                    : schema.title || schema.key
            return text
        },

        getDescription(schema, index) {

            let text =
                typeof schema.compute === 'function'
                    ? schema.compute(this.model, this.getModel(schema), index)
                    : this.getModel(schema) || '...'
            return text
        },

        getSource(schema, index) {
            let text =
                typeof schema.source === 'function'
                    ? schema.source(
                          this.model,
                          this.getModel(schema),
                          index
                      )
                    : schema.source || {}
            return text
        },

        getModel(schema) {
            console.log(schema.key, this.model)
            return _object.get(this.model, schema.key)
        }

    }
}
</script>


<style lang="scss">
.info-view-container {
    position: relative;
}

.info-view-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        border-bottom: 1px solid color(gray);
    }
}

.info-view-title {
    color: $info-view-title-color;
    font-weight: $info-view-title-font-weight;
    font-size: $info-view-title-font-size;
}

.info-view-description {
    margin: 0;
    text-align: right;
    color: $text-default-color;
    font-size: convertPxToRem(18);
    margin-bottom: 7px;
}

.info-view-edit {
    float: right;
}

@media screen and (min-width: 641px) {
    .info-view-title {
        font-size: convertPxToRem(18);
    }

    .info-view-description {
        font-size: convertPxToRem(24);
    }
}
</style>