<template>
    <div class="info-view-habilities grid full-width" :class="schema.className||''">
        <RadarHabilities class="full-width" :skills="skills"></RadarHabilities>

        <div class="full-width margin-top-1">
            <TButton label="skills.show_details" @click="handleToggle"/>
        </div>

        <template v-if="openResult">
            <div
                class="full-width margin-top-1 box"
                v-for="(result, index) of schema.properties"
                :key="`result_${index}`"
            >
                <SkillResult :model="model[result.key]" :schema="result"/>
            </div>
        </template>
    </div>
</template>

<script>
import TButton from 'components/TButton'
import ButtonEdition from 'components/ButtonEdition'
import RadarHabilities from 'components/RadarHabilities'
import SkillResult from 'components/SkillResult'

export default {
    name: 'InfoBehavior',

    components: {
        ButtonEdition,
        RadarHabilities,
        TButton,
        SkillResult
    },

    props: {
        model: { type: Object, required: true },
        schema: { type: Object, required: true }
    },

    data() {
        return {
            openResult: false
        }
    },

    computed: {
        skills() {
            return this.schema.properties.map(schema => ({
                data: this.model[schema.key],
                legend: this.$t(schema.title),
                color: schema.color
            }))
        }
    },

    methods: {
        handleToggle() {
            this.openResult = !this.openResult
        }
    }
}
</script>


<style lang="scss">
</style>