<script>
import TimelineMax from 'gsap/TimelineMax'
import TweenMax from 'gsap/TweenMax'
import { Form } from 'ant-design-vue'
import DynamicForm from 'components/DynamicForm.vue'
import HeaderSign from 'components/HeaderSign.vue'
import schema from './schema'

const passwordStrength = pwd => {
    if (!pwd || !pwd.length) {
        return ''
    }

    const pwdStrength = [
        pwd.match(/[A-Z]/), // Contiene mayusculas,
        pwd.match(/[a-z]/), // Contiene minusculas,
        pwd.match(/\d/), // Contiene numnero,
        pwd.match(/[!_.-]/) // Continene caracteres especiales,
    ]

    return pwdStrength.reduce((total, regx) => (total += regx ? 1 : 0), 0)
}

export default {
    name: 'AuthSignUp',
    components: {
        DynamicForm,
        HeaderSign
    },

    data() {
        return {
            schema,
            helper: '',
            validation: {},
            isInvalid: true,
            sent: false,
            pwdStrength: ''
        }
    },

    created() {
        this.setHelperText()
        console.log('SignUp!!')
    },

    mounted() {
        this.setHelperText()
    },

    beforeRouteLeave(to, from, next) {
        const elements = document.querySelectorAll('.ant-form-item, h1, p')
        new TimelineMax({ onComplete: next })
            .staggerTo(
                elements,
                0.3,
                {
                    y: '50%',
                    opacity: 0,
                    ease: com.greensock.easing.Power2.easeOut
                },
                0.2
            )
            .to('.sign-in-section', 0.2, { opacity: 0 }, 0.5)
    },

    computed: {
        // Data store
        model() {
            return this.$store.state.Auth
        },
        // Password stength
        pwdStrengthLabel() {
            switch (passwordStrength(this.model.password.value)) {
                case 0:
                    return <span class="color-red">muy débil</span>
                case 1:
                    return <span class="color-red">muy débil</span>
                case 2:
                    return <span class="color-red">débil</span>
                case 3:
                    return <span class="color-yellow">Suficiente</span>
                case 4:
                    return <span class="color-green">parece muy segura</span>
                default:
                    return <span class="color-red" />
            }
        }
    },

    methods: {
        // Send action form
        sendForm(error, data) {
            if (!this.sent) {
                const vm = this
                this.$store.dispatch('Auth/SignUp').then(r => {
                    // TODO validar que todo paso bien antes de ir al final.
                    const twenner = new TimelineMax({
                        onComplete: () => {
                            vm.sent = true
                        }
                    })
                        .to('form', 0.2, {
                            opacity: 0,
                            onComplete: () => {
                                TweenMax.set('form', { display: 'none' })
                            },
                            ease: com.greensock.easing.Power2.easeOut
                        })
                        .to('.accountSent', 0.2, {
                            display: 'block',
                            opacity: 1,
                            ease: com.greensock.easing.Power2.easeOut
                        })

                    this.helper = 'continuar'
                })
            } else {
                this.$router.replace({ name: 'SignIn' })
            }
            this.sent = true
        },

        // Save field changes
        onFieldChange(data, error, form) {
            const newModel = { ...this.model }
            this.$store.dispatch('Auth/SetData', data)
            this.setHelperText(error)
        },

        // Change predictive text
        setHelperText(hasError) {
            const helpers = document.querySelectorAll('[data-predictible-text]')
            const input = helpers[helpers.length - 1]

            if (
                this.model.password.value.length > 7 &&
                this.model.password.value === this.model.confirmPassword.value
            ) {
                this.helper = 'crear usuario'
                this.isInvalid = false
            } else if (helpers.length) {
                this.isInvalid = true
                this.helper = helpers[helpers.length - 1].getAttribute(
                    'data-predictible-text'
                )
            }
        }
    },

    render() {
        return (
            <article class="sign-up-section full-width" aria-live="assertive">
                <HeaderSign
                    secondary={true}
                    label={this.$store.state.Auth.email.value}
                    showLegend={false}
                    class="padding-x"
                >
                    <h1 class="title text-align-center padding-top-1">
                        Crear cuenta
                    </h1>
                    <h2 class="subtitle text-align-center ">
                        restate facilmente
                    </h2>
                </HeaderSign>

                <section class="small-content padding-x margin-auto">
                    <DynamicForm
                        schema={this.schema}
                        model={this.model}
                        onFieldChange={this.onFieldChange}
                        onSubmitData={this.sendForm}
                    >
                        <p class="cell-12 strength-password">
                            <strong>{this.pwdStrengthLabel}</strong>
                        </p>
                    </DynamicForm>

                    <section class="accountSent">
                        <h1 class="title size-6 ">
                            <strong>
                                ¡Genial! ya tienes cuenta de usuario. Revisa tu
                                correo para confirmarla
                            </strong>
                        </h1>
                        <p>
                            <a-button
                                class="bg-none btn-re-send"
                                onClick={this.sendForm}
                            >
                                <strong class="color-cyan size-4 ">
                                    volver a enviar
                                </strong>
                            </a-button>
                        </p>
                    </section>

                    <a-button
                        size="small"
                        class="btn-send"
                        type="primary"
                        onClick={this.sendForm}
                        disabled={this.isInvalid}
                    >
                        {this.helper}
                    </a-button>
                </section>
            </article>
        )
    }
}
</script>

<style lang="scss" >
.sign-up-section {
    margin: 0 auto;

    .btn-re-send {
        padding: 0;
        text-decoration: underline;
        text-decoration-color: color(cyan);
    }

    .btn-send {
        margin-top: 15px;
    }

    .app-footer {
        display: none;
    }

    .accountSent {
        display: none;
        opacity: 0;
    }

    form[style='opacity: 0;'] {
        display: none;
    }
}
</style>