<template>
  <article>
    <HeaderSign :label="model.auth.email.value" class="margin-auto"/>  
    <section v-if="!model" class="small-form">
        <h1>Ingresa tu email y te enviaremos un correo para reiniciar tu contraseña</h1>
        <DynamicForm :schema="schema" @submitValid="sendForm">
          <a-form-item >
            <a-button type="primary" htmlType="submit">
              Confirmar
            </a-button>
          </a-form-item>
        </DynamicForm>
    </section>
    <section  v-else class="small-form">
        <h1>Listo! Ahora revisa tu correo para generar una nueva contraseña</h1>
    </section>
    <router-link to="/SignIn">Regresar al login</router-link>
  </article>
</template>


<script>
import { Form } from "ant-design-vue";
import DynamicForm from 'components/DynamicForm.vue';
import HeaderSign from 'components/HeaderSign.vue'
import schema from './Forgot.schema';

export default {
  name: 'AuthForgot',
  components: {
    DynamicForm,
    HeaderSign
  },
  data() {
    return {
      schema,
      model: null
    }
  },
  methods: {
    sendForm(data) {

     this.model = data;
    }
  }
};

</script>
<style scoped>

</style>