<template>
    <transition @before-enter="beforeEnter" @enter="enter" :css="false">
        <article class="sign-section app-portrait full-width" aria-live="assertive">
            <HeaderSign label="signin.entra_registrate" class="cell-12 padding-x" :showLegend="false"/>
            <section class="margin-auto">
                <DynamicForm
                    :schema="schema"
                    @submitData="sendForm"
                    @fieldChange="onFieldChange"
                    :model="model"
                >
                    <a-form-item
                        class="cell small-text-align-left text-align-center"
                        hasFeedback
                        :validateStatus="getStatus"
                    >
                        <a-button
                            class="button-submit"
                            htmlType="submit"
                            :disabled="disabledButton"
                            size="small"
                        >
                            {{helper}}
                            <span class="ico" >
                                <img class="flip-horizontal" src="app/assets/svgs/arrow-left.svg" alt>
                            </span>
                        </a-button>
                    </a-form-item>
                </DynamicForm>
            </section>
        </article>
    </transition>
</template>


<script>
import TweenMax from 'gsap/TweenMax'
import TimelineMax from 'gsap/TimelineMax'
import { Form } from 'ant-design-vue'
import DynamicForm from 'components/DynamicForm.vue'
import HeaderSign from 'components/HeaderSign.vue'
import { STATUS } from 'utils/StoreStatus'
import schema from './schema'

export default {
    name: 'AuthSign',

    components: {
        DynamicForm,
        HeaderSign
    },

    data() {
        return {
            schema,
            helper: 'siguiente',
            validation: {},
            isInvalid: true
        }
    },

    created() {
        const vm = this
        this.reset()

        if (vm.query.email != null && vm.query.email.includes('@')) {
            const email = vm.query.email
            const talentId = vm.query.talentId
            const data = {
                email: {
                    value: email,
                    name: 'email',
                    touched: true,
                    dirty: true,
                    validating: true
                }
            }

            setTimeout(function() {
                vm.setEmail(data)
            }, 100)

            setTimeout(function() {
                vm.sendData(data)
            }, 200)
        }
    },

    mounted() {
        this.reset()
        this.setHelperText(!this.model.email.value.length)
    },

    beforeRouteLeave(to, from, next) {
        const elements = document.querySelectorAll('.ant-form-item, h1, p')
        const tween = new TimelineMax({ onComplete: next }).staggerTo(
            elements,
            0.3,
            {
                y: '50%',
                opacity: 0,
                ease: com.greensock.easing.Power2.easeOut
            },
            0.2
        )
    },

    computed: {
        query() {
            return this.$route.params
        },

        model() {
            return this.$store.state.Auth
        },

        disabledButton() {
            return (
                this.isInvalid ||
                this.model.status.code > 200 ||
                this.isFetching
            )
        },

        isFetching() {
            return this.model.status.code === 0
        },

        getStatus() {
            switch (this.model.status.type) {
                case STATUS.FAILD:
                    return 'warning'
                case STATUS.FETCHING:
                    return 'validating'
            }
            return null
        }
    },

    methods: {
        reset() {
            this.$store.dispatch('Auth/CleanData')
        },

        beforeEnter(el) {
            TweenMax.set(el, {
                autoAlpha: 0
            })
        },

        enter(el, done) {
            const elements = el.querySelectorAll(
                '.ant-form-item, .sign-section'
            )
            new TimelineMax({ onComplete: done })
                .to(el, 0.2, { autoAlpha: 1 })
                .staggerFrom(
                    elements,
                    0.8,
                    {
                        y: '50%',
                        opacity: 0,
                        ease: com.greensock.easing.Power2.easeOut
                    },
                    0.2
                )
        },

        setHelperText(hasError) {
            const helpers = document.querySelectorAll('[data-predictible-text]')
            const input = helpers[helpers.length - 1]

            if (!hasError) {
                this.helper = 'enviar'
                this.isInvalid = false
            } else {
                this.isInvalid = true
                // this.helper = helpers[helpers.length - 1].getAttribute(
                //     'data-predictible-text'
                // )
            }
        },

        sendForm(error, data) {
            this.$store.dispatch('Auth/VerifyUserMail').then(response => {
                const page =
                    response.status.type === STATUS.FAILD ? 'SignUp' : 'SignIn'
                this.isInvalid = false
                this.$router.push({ name: page })
            })
        },

        onFieldChange(data, error, form) {
            const newModel = { ...this.model }
            this.$store.dispatch('Auth/SetData', data)
            this.setHelperText(error)
        },

        setEmail(data) {
            this.$store.dispatch('Auth/SetData', data)
            this.setHelperText(false)
        },

        sendData(error, data) {
            this.$store.dispatch('Auth/VerifyUserMail').then(response => {
                const page =
                    this.model.status.type === STATUS.FAILD
                        ? 'SignUp'
                        : 'SignIn'
                this.isInvalid = false
                this.$router.push({ name: page })
            })
        }
    }
}
</script>
<style lang="scss" scoped>
.sign-section {
    section {
        position: relative;
        z-index: 1;
        max-width: $content-min-width;
    }

  #{$root}.sign-in-section .ant-form-item-label label:after {
    content: '';
  }

  section {
    position: relative;
    z-index: 1;
    max-width: $content-min-width;
  }

  .ant-form-item {
    margin-bottom: 15px;
  }

}
</style>