@import 'settings.scss';


@mixin flex($props...){
    -webkit-box-flex: 0;
    -webkit-flex: $props;
        -ms-flex: $props;
            flex: $props;
       max-width: $props;
}

// Function
@mixin make-items($prefix, $items_length, $no-repeat) {
     @if ($prefix !=''){
        $prefix: '-' + $prefix;
    }
     $map: ();
     @for $i from 1 through $items_length {
        @for $x from 1 through $i{
            $percentage: percentage($x / $i);
            @if ( map-has-key($map, #{$percentage}) == false or $no-repeat == false) {
                $map: map-merge($map, (#{$percentage}:$percentage));
                 .cell-#{$x}of#{$i}#{$prefix} {
                    -ms-flex-preferred-size: $percentage;
                    @include flex( 0 0 $percentage);
                    max-width: $percentage;
                }
            };
        } 
     }
}