@import 'settings.scss';
//@import 'fractional.scss';
@import 'proportional.scss';

.grid-container {
  position: relative;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.grid-container-fluid {
    @extend .grid-container;
    max-width: 100%;
}

.grid-y,
.grid {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;

    &.nowrap {
        -moz-box-wrap: nowrap;
        -ms-flexbox-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -webkit-box-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.grid-y {
    -moz-box-direction: column;
    -ms-flexbox-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.reverse-col {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse
}

.reverse-row {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse
}

.padding-x,
.grid.padding-x > [class*='cell'] {
    padding-left:  $grid_gutter_min;
    padding-right: $grid_gutter_min;
}

.padding-y,
.grid.padding-y > [class*='cell'] {
    padding-top:  $grid_gutter_min/2;
    padding-bottom: $grid_gutter_min/2;
}


.margin-x {
    margin-left:  $grid_gutter_min;
    margin-right: $grid_gutter_min;
}

.margin-y {
    margin-top:  $grid_gutter_min;
    margin-bottom: $grid_gutter_min;
}

.margin--x {
    margin-left:  -$grid_gutter_min;
    margin-right: -$grid_gutter_min;
    padding-left:  0;
    padding-right: 0;
}

.margin--y {
    margin-top:  -$grid_gutter_min;
    margin-bottom: -$grid_gutter_min;
    padding-top:  0;
    padding-bottom: 0;
}

[class*='cell']{
    position:relative;
    max-width:  100%;
    min-height: 1px;
}

.cell {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;

   &.auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }
}

.no-gutters {
  margin-right: 0!important;
  margin-left: 0 !important;
    & > .col,
    &.grid > [class*="cell"] {
        padding-right: 0;
        padding-left: 0;
    }
}


@mixin init-creation($size, $items_length){
     @include mediaquery($size) {
        @include make-items($size, $items_length, true);
        @include alignment('item', $size);
        @include position($size);
        .#{$size}-hide {
            display:none;
        }
        .#{$size}-show {
            display: inline-block;
        }

        .#{$size}-text-align-center {
            text-align: center!important;
        }
        
        .#{$size}-text-align-right {
            text-align: right!important;
        }
        
        .#{$size}-text-align-left {
            text-align: left!important;
        }
        
        .#{$size}-text-align-justify {
            text-align: justify!important;
        }
        
        .#{$size}-text-uppercase {
            text-transform: uppercase!important;
        }
        
        .#{$size}-text-capitalize {
            text-transform: capitalize!important;
        }
        
        .#{$size}-text-lowercase {
            text-transform: lowercase!important;
        }

        .#{$size}-reverse-col {
            -ms-flex-direction: column-reverse;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            flex-direction: column-reverse
        }
        
        .#{$size}-reverse-row {
            -ms-flex-direction: row-reverse;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            flex-direction: row-reverse
        }
        
        .#{$size}-padding-x,
        .grid.#{$size}-padding-x > [class*='cell'] {
            padding-left:  $grid_gutter_min;
            padding-right: $grid_gutter_min;
        }
        
        .#{$size}-padding-y,
        .grid.#{$size}-padding-y > [class*='cell'] {
            padding-top:  $grid_gutter_min;
            padding-bottom: $grid_gutter_min;
        }

        .#{$size}-margin-x {
            margin-left:  $grid_gutter_min;
            margin-right: $grid_gutter_min;
        }
        
        .#{$size}-margin-y {
            margin-top:  $grid_gutter_min;
            margin-bottom: $grid_gutter_min;
        }
        
        .#{$size}-margin--x {
            margin-left:  -$grid_gutter_min;
            margin-right: -$grid_gutter_min;
            padding-left:  0;
            padding-right: 0;
        }

        .#{$size}-margin--y {
            margin-top:  -$grid_gutter_min;
            margin-bottom: -$grid_gutter_min;
            padding-top:  0;
            padding-bottom: 0;
        }
    }
}

@mixin make-grid($items_length, $responsive) {
    @if ( $responsive ) {
        @include init-creation('', $items_length);
        @each $key, $value in $layouts  {
           @include init-creation($key, $items_length);
        }
    } @else {
         @include init-creation('', $items_length);
    }
}

@include alignment('grid','');
@include position('');
@include make-grid(12, true);
