@import 'settings.scss';

// Function
@mixin make-items($prefix, $items_length, $no_repeat) {
       // Non-media based grid
    @if ($prefix == ''){
        $prefix: cell;
    }
    @for $i from 1 through $items_length {
        $percentage: percentage($i / $items_length);
        .#{$prefix}-#{$i} {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 $percentage;
                -ms-flex: 0 0 $percentage;
                    flex: 0 0 $percentage;
            max-width:  $percentage;
        }
        // @debug($i +' '+ $percentage);
        .#{$prefix}-offset-#{$i} {
            margin-left: $percentage!important;
        }
    } 
}
