// Grid config
$grid_gutter_min: 15px;
$grid_gutter : $grid_gutter_min * 2;

$layouts: (
    small : 640px,    
    medium : 768px,
    large : 1024px,
    xlarge :1200px,
);

$rangeLayout: ();
$lastQuery: null;

 @each $key, $value in $layouts  {
    $newItem: ($key:$lastQuery);
    $rangeLayout: map-merge($rangeLayout, $newItem );
    $lastQuery: $key;
}

@mixin mediaquery($breakpoint, $last: null) {
  @if (map-has-key($layouts, $breakpoint) ) {
    $query: map-get($layouts, $breakpoint);
    $maxBreakpoint: map-get($rangeLayout, $breakpoint);

    @if (map-has($layouts, $maxBreakpoint)) {
       /* $last: map-get($layouts, $maxBreakpoint);*/
    }

    @if ( $query ){

        @media screen and (min-width: $query)  {
            @content;
        }
       
    }
  } @else {
         @content;
    }
}

@mixin alignment($prefix, $sufix) {
    @if ($sufix != '') {
        $sufix: '-' + $sufix;
    }

    .#{$prefix}-left#{$sufix} {
        -webkit-box-pack: start !important;
        -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
         justify-content: flex-start !important;
         text-align: start;
    }

    .#{$prefix}-center#{$sufix} {
        -webkit-box-pack: center !important;
        -webkit-justify-content: center !important;
            -ms-flex-pack: center !important;
          justify-content: center !important;
    }

    .#{$prefix}-right#{$sufix} {
        -ms-flex-pack: end !important;
        -webkit-box-pack: end !important;
        -webkit-justify-content: flex-end !important;
          justify-content: flex-end !important;
          text-align: end;
    }

    .#{$prefix}-top#{$sufix} {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .#{$prefix}-middle#{$sufix} {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .#{$prefix}-equals#{$sufix} {
        -webkit-box-align: stretch !important;
        -webkit-align-items: stretch !important;
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .#{$prefix}-bottom#{$sufix} {
        -webkit-box-align: end !important;
        -webkit-align-items: flex-end !important;
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    .#{$prefix}-around#{$sufix} {
        -webkit-justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .#{$prefix}-between#{$sufix} {
        -webkit-box-pack: justify !important;
        -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .#{$prefix}-first#{$sufix} {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .#{$prefix}-last#{$sufix} {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
}

@mixin position($sufix) {
    @if ($sufix == '') {
        $sufix: 'cell';
    }

    .#{$sufix}-top {
        -webkit-align-self: flex-start !important;
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .#{$sufix}-bottom {
        -webkit-align-self: flex-end !important;
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .#{$sufix}-middle {
        -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    }

    .#{$sufix}-baseline {
        -webkit-align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    }

    .#{$sufix}-stretch {
        -webkit-align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
        -ms-grid-row-align: stretch !important;
        align-self: stretch !important;
    }
}