<template>
    <a-locale-provider id="App" :locale="locale">
        <div class="app-container full-size-inherit">
            <main class="app-content grid full-width">
                <router-view/>
            </main>
            <footer class="app-footer margin-top-1">
                Playoneer
                <span class="size-1 padding-left-1">{{ $t("todos_los_derechos") }}</span>
                <br>
                <br>
                <small>
                    <a href="#">{{ $t("politicas_privacidad") }}</a> y
                    <a href="#">{{ $t("terminos_condiciones") }}</a>
                </small>
            </footer>
        </div>
    </a-locale-provider>
</template>

<script>
import { loadLanguageAsync } from 'utils/Translator'
import ProgressBox from 'components/ProgressBox'
import es_ES from 'ant-design-vue/lib/locale-provider/es_ES'

export default {
    name: 'app',

    components: {
        ProgressBox
    },

    data() {
        return {
            locale: es_ES,
            isLoading: true
        }
    },

    created() {
        this.$store.dispatch('Locale/SetLang', 'es').then(response => {
            this.isLoading = response.status.code === 0
        })
    },

    computed: {}
}
</script>

<style lang="scss">
html,
body {
    height: auto !important;
    background-color: $content-bg-color !important;
    color: $text-default-color !important;
    font-family: $text-font-family;
    line-height: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

html body .ant-form-item {
    font-family: $text-font-family;
}

.ant-layout {
    background: $content-bg-color;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;

        &.router-link-exact-active {
            color: $primary-color;
        }
    }
}

.app-container {
    font-family: $text-font-family;
    background-color: $content-bg-color;
}

.app-header {
    padding: $header-sm-padding;
    line-height: 1;

    @media screen and (min-width: 641px) {
        margin-top: $header-margin-top;
        background: $header-bg-color;
    }
}

.app-content {
    min-height: calc(100vh - #{$footer-height});
}

.app-header.hidden + .app-content {
    min-height: calc(100vh - #{$footer-height});
}

.app-footer {
    height: $footer-height;
    padding: $footer-sm-padding;
    line-height: 1;
    text-align: $footer-align;
    background-color: $footer-bg-color;
    color: white;

    a {
        color: white !important;
    }

    @media screen and (min-width: 640px) {
        small {
            font-size: convertPxToRem($footer-small-size) !important;
        }
        span.size-1 {
            font-size: convertPxToRem($footer-span-size) !important;
        }
    }
}

.logo-footer {
    width: $footer-logo-sm-width;
    margin-right: 15px;
    @media screen and (min-width: 640px) {
        width: $footer-logo-width;
        margin-bottom: 15px;
    }
}

.logo-header {
    width: $header-logo-sm-width;
    @media screen and (min-width: 640px) {
        width: $header-logo-width;
    }
}

.cover-info-bluring {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    filter: blur(1em);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $gradient-dark-color;
        background: -moz-linear-gradient(
            180.14deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -webkit-gradient(
            180.14deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -webkit-linear-gradient(
            180.14deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -o-linear-gradient(
            180.14deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: -ms-linear-gradient(
            180.14deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        background: linear-gradient(
            180.14deg,
            $gradient-dark-color 10%,
            $gradient-light-color 99.15%
        );
        z-index: 1;
    }
}
.header-gradiant:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(
        180.14deg,
        rgba(0, 0, 0, 0.3004) 10%,
        rgba(0, 0, 0, 0) 99.15%
    );
    background: -webkit-gradient(
        180.14deg,
        rgba(0, 0, 0, 0.3004) 10%,
        rgba(0, 0, 0, 0) 99.15%
    );
    background: -webkit-linear-gradient(
        180.14deg,
        rgba(0, 0, 0, 0.3004) 10%,
        rgba(0, 0, 0, 0) 99.15%
    );
    background: -o-linear-gradient(
        180.14deg,
        rgba(0, 0, 0, 0.3004) 10%,
        rgba(0, 0, 0, 0) 99.15%
    );
    background: -ms-linear-gradient(
        180.14deg,
        rgba(0, 0, 0, 0.3004) 10%,
        rgba(0, 0, 0, 0) 99.15%
    );
    background: linear-gradient(
        180.14deg,
        rgba(0, 0, 0, 0.3004) 10%,
        rgba(0, 0, 0, 0) 99.15%
    );
    z-index: 0;
}
.header-dark {
    padding: $profile-header-padding;
    margin-bottom: 30px;
    min-height: 80px;
    text-align: center;
    background: $profile-header-bg-color;
    border-bottom: $profile-header-border-bottom;
}

%resetFocus {
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#{$root} .schema-form .ant-input {
    border-bottom: none !important;
}
#{$root} .schema-form .ant-select-selection--single {
    @extend %resetFocus;
    height: 47px;
    .ant-select-selection__rendered {
        line-height: 44px;
    }
}
</style>
