
<template>
   <Manager v-if="isManager" />
   <Tutor v-else-if="isTutor" />
   <User v-else />
</template>

<script type="text/javascript">
// @ is an alias to /src
// Helpers
import User from './User.vue'
import Tutor from './Tutor.vue'
import Manager from './Manager.vue'
import MixinUser from 'mixins/MixinUser.vue'

//
export default {
    name: 'Portfolio',

    mixins: [MixinUser],

    components: {
        User,
        Manager,
        Tutor,
    },

}
</script>

<style lang="scss" >
</style>