
<template>
    <ProgressBox :loading="loading" class="talent full-size">
        <article class="home-user">
            <header>
                <img class="cover" :src="picture">
            </header>
            <div class="home-action text-align-right margin-bottom-1">
                <img class="cursor margin-right-1" src="~/assets/svgs/ico-chat.svg">
                <img
                    class="cursor margin-right-1"
                    src="~/assets/svgs/ico-burger.svg"
                    @click="openNav"
                >
            </div>
            <div class="padding-x-1">
                <section
                    class="home-section-info bg-primary padding-x-1 padding-bottom-1 border-radius-2 margin-bottom-1"
                >
                    <header class="padding-top-1 padding-left-1 margin-bottom-1">
                        <span class="people-ico">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path
                                    d="M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z"
                                    fill="currentcolor"
                                ></path>
                            </svg>
                        </span>
                        <div class="display-inline-block vertical-middle margin-left-1">
                            <h2 class="color-white no-margin-y">{{ $t('home.info') }}</h2>
                            <p>{{ $t('home.ficha_perfil') }}</p>
                        </div>
                    </header>
                    <InfoView
                        :model="currentUser"
                        :schema="info"
                        :editable="isAuthenticated"
                        label="Info"
                        @edit="editHandle"
                    />
                    <chartjs-radar :option="myoption"></chartjs-radar>
                </section>
                <section class="margin-bottom-1">
                    <RadarHabilities :skills="skills">
                        <h2 class="habilities-title">
                            <Cycling class="habilities-ico"/>
                            {{ $t('home.habilidades') }}
                        </h2>
                    </RadarHabilities>
                </section>
                <div class="grid grid-center padding-y portfolio-nav" v-if="isAuthenticated">
                    <div class="cell-12 text-align-center">
                        <a-button
                            class="bg-disabled text-align-center"
                            @click="editHandle"
                        >{{ $t(editLabel) }}</a-button>
                    </div>
                </div>
            </div>
        </article>
    </ProgressBox>
</template>

<script type="text/javascript">
import TweenMax from 'gsap/TweenMax'
import ScrollToPlugin from 'gsap/ScrollToPlugin'
// @ is an alias to /src
import Burger from 'components/Burger.vue'
import ButtonEdition from 'components/ButtonEdition'
import ProgressBox from 'components/ProgressBox'
import InfoView from 'components/InfoView'
import RadarHabilities from 'components/RadarHabilities'
//
import Cycling from 'components/icons/IconCycling.vue'
// Helpers
import MixinMisc from 'mixins/MixinMisc.vue'
import MixinUser from 'mixins/MixinUser.vue'
// Helper para modificar la posicion de item dentro del array
import { addToPosition, plainObject } from 'utils/helpers'
import { getYearsOld } from 'utils/DateUtils'


//
const plugins = [ScrollToPlugin]
//
export default {
    name: 'HomeUser',

    mixins: [MixinMisc, MixinUser],

    components: {
        Burger,
        ButtonEdition,
        InfoView,
        ProgressBox,
        RadarHabilities,
        Cycling
    },

    data() {
        return {
            myoption: {
                responsive: true,
                maintainAspectRatio: true,
                title: {
                    display: true,
                    position: 'bottom',
                    text: 'Custom Chart Title'
                }
            },
            info: {
                title: 'Info',
                className: 'margin--x padding-x',

                properties: [
                    {
                        key: 'name',
                        title: 'Nombre',
                        className: 'cell-6'
                    },

                    {
                        key: 'team',
                        title: 'Equipo',
                        className: 'cell-6',
                        source(model, value, index) {
                            try {
                                const total = model.seasons.length
                                const info = total
                                    ? {
                                          url: model.seasons[total].clubLogo,
                                          className: '',
                                          width: 31,
                                          height: 31
                                      }
                                    : {}
                                return info
                            } catch (e) {
                                return {}
                            }
                        },
                        compute(model, value = '') {
                            try {
                                const total = model.seasons.length
                                const info = total
                                    ? model.seasons[total].clubName
                                    : '...'

                                return info
                            } catch (e) {
                                return '...'
                            }
                        }
                    },

                    {
                        key: 'nickName',
                        title: 'Apodo',
                        className: 'cell-6'
                    },

                    {
                        key: 'position',
                        title: 'Posición',
                        className: 'cell-6'
                    },

                    {
                        key: 'origen',
                        title: 'origen',
                        className: 'cell-6',
                        compute(model, value, index) {
                            return model.city || model.country
                                ? `${model.city || ''} ${model.country || ''} `
                                : '...'
                        }
                    },

                    {
                        key: 'birthday',
                        title: 'Edad',
                        className: 'cell-6',
                        compute(model, value = '') {
                            try {
                                const age = getYearsOld(value)
                                return `${age} años`
                            } catch (e) {
                                return ''
                            }
                        }
                    }
                ]
            }
        }
    },

    updated() {},

    computed: {
        skills() {
            return [
                {
                    legend: 'skills.main_skills',
                    data: this.currentUser.mainSkills || {},
                    color: '#455E34'
                },
                {
                    legend: 'skills.tactic_skills',
                    data: this.currentUser.tacticSkills || {},
                    color: '#5F8F3E'
                },
                {
                    legend: 'skills.character_skill',
                    data: this.currentUser.character || {},
                    color: '#7CB754'
                },
                {
                    legend: 'skills.athleticSkills',
                    data: this.currentUser.athleticSkills || {},
                    color: '#112404'
                }
            ]
        },

        tags() {
            return this.currentUserTags
        },

        picture() {
            return this.currentUser.picture
        },

        loading() {
            return this.currentUserIsLoading
        },

        editLabel() {
            return (this.currentUser.steps || [false]).some(item => !item)
                ? 'completar_perfil'
                : 'editar_perfil'
        },

        coverStyle() {
            return {
                backgroundImage: `url(${this.picture})`
            }
        }
    },

    methods: {
        editHandle() {
            this.$router.push({ name: 'EditProfile', step: 0 })
        },

        openNav() {
            this.$store.dispatch('Navigation/Open')
        }
    }
}
</script>

<style lang="scss" >
.home-user {
    .people-ico {
        display: inline-flex;
        padding: 11px;
        background: #61c66a;
        border: 1px solid rgba(96, 125, 139, 0.32);
        box-sizing: border-box;
        border-radius: 99px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .habilities-ico circle {
        fill: white;
    }

    .home-action {
        padding: 12px 30px;
    }

    .info-view-title,
    .info-view-description {
        font-size: 14px;
        color: white;
        text-align: left;
    }

    .info-view-title {
        margin-bottom: 0em;
    }

    .info-view-list li {
        border: none;
    }

    .info-view-edit {
        position: absolute !important;
        top: auto;
        right: -4px;
        bottom: 0px;
    }
    .hamburger-box {
        color: color(gray-3);
    }

    .cover {
        max-height: 238px;
    }

    .cover-info {
        position: relative;
        width: 100%;
        overflow: hidden;
        min-height: 153px;

        .cell {
            z-index: 2;
        }
    }

    /* clearfix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .talent-title {
        padding-top: 15px;
        padding-left: 15px;
    }

    .portfolio-tag {
        background: rgba(0, 0, 0, 0.7);
        font-weight: bold;
        color: white;
        border: transparent;
    }

    .expand-cover {
        height: calc(100vh - 311px);
    }

    .expand-extra-cover {
        height: calc(100vh - 400px);
    }

    .portfolio-nav {
        button span {
            width: 100%;
        }
    }

    .talent .edit-button {
        margin-left: -15px;
    }

    .portfolio-editable .item-portfolio {
        cursor: move;
        max-height: 250px;
        max-width: 25%;
        @media screen and (max-width: 768px) {
            padding: 5px;

            .item-portfolio-play-caret {
                width: 30px;
                height: 30px;
            }

            .title {
                font-size: 0.9125rem !important;
                line-height: 1 !important;
            }
            .item-portfolio-info {
                bottom: 15px !important;
            }
        }
    }

    .item-portfolio:focus {
        outline: transparent;
    }
    .item-portfolio.active {
        transform: scale(0.95);

        border: 2px solid white;
        border-radius: 15px;
    }

    .item-portfolio.active:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed white;
        border-radius: 15px;
    }

    .item-portfolio {
        /*transition: all .2s ease-out;*/
    }

    .item-portfolio.sortable-chosen:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 5px dashed white;
        border-radius: 15px;
    }
}
</style>