<template>
    <article
        class="work-edit-section grid full-size-inherit grid-center padding-bottom-2"
        aria-live="assertive"
    >
        <section class="cell auto">
            <h1 class="title text-align-center">{{title}}</h1>
            <h2 class="subtitle text-align-center margin-bottom-3">publica tu experiencia</h2>

            <SchemaForm
                :schema="schema"
                :form="form"
                :formData="model"
                :customMapper="mapper"
                @submitData="sendForm"
                @fieldChange="onFieldChange"
            >
                <a-form-item class="cell small-text-align-left text-align-center">
                    <a-button
                        type="primary"
                        htmlType="submit"
                        class="text-align-center"
                    >{{ this.helpText }}</a-button>
                </a-form-item>
            </SchemaForm>
        </section>
    </article>
</template>


<script>
//http://localhost:9003/#/talent/5c07d0de4b96d33344d8e675/works
import SchemaForm from 'components/SchemaForm' // builder
import FieldUploadWork from 'components/SchemaForm/fields/FieldUploadWork' //custom component
import BrandAndLogo from 'components/SchemaForm/fields/FieldBrand' //custom component
import MixinUser from 'mixins/MixinUser.vue'
import MixinWorks from 'mixins/MixinWorks.vue'
import schema from 'schemas/work' // interfaz del modelo
import form from 'config/work.form' // configuracion
import _ from 'lodash'
import { debug } from '../../config/_constants'

const mapper = {
    filesWork: FieldUploadWork,
    brandAndLogo: BrandAndLogo
}

export default {
    name: 'CreateWork',

    mixins: [MixinUser, MixinWorks],

    components: {
        SchemaForm
    },

    data() {
        return {
            schema,
            form,
            model: {},
            mapper,
            title: this.$t('actualizar_datos'),
            helpText: this.$t('actualizar_datos')
        }
    },

    updated() {},

    computed: {
        user() {
            return this.$store.state.User.me
        }
    },

    methods: {
        setHelperText(hasError) {},

        sendForm({ valid, errors }, data) {
            const vm = this

            if (valid) {
                this.$store
                    .dispatch('Works/CreateWork', data) // actualiza los datos
                    .then(response => {
                        if (response.status.code < 400) {
                            this.$router.push({
                                name: 'Work',
                                params: { workId: response.status.info.id }
                            })
                            return response
                        } else {
                            this.showNotification('errors.SERVER')
                        }
                    })
            } else {
                this.showNotification('errors.INVALID_FORM')
            }
        },

        showNotification(error) {
            this.$notification.error({
                message: this.$t(error),
                description: this.$t(this.errorText)
            })
        },

        onFieldChange({ key, value, data, validation }) {
            // console.log('key:', key)
            // console.log('value:', value)
            // console.log('data:', data)
            //console.log('onFieldChange', key, value, validation.error, data,);
        }
    }
}
</script>
<style lang="scss" scoped>
.work-edit-section {
    min-height: calc(100vh - #{$header-height + $footer-height});
    max-width: $content-min-width;
    margin: 0 auto;
}
</style>