<template>
    <article
        class="work-view-section grid full-size-inherit grid-center padding-bottom-2"
        aria-live="assertive"
    >
        <header class="cell-12">
            <div class="grid full-width padding-x">
                <div class="cell-6">
                    <ButtonBack :action="{ name: 'Works' }"/>
                </div>
                <h1 class="cell-12">{{fullname}}</h1>
                <h2 class="cell-12">{{title}}</h2>
                <h3 class="cell-12">{{description}}</h3>
                <div class="cell-12">
                    <a-tag
                        class="work-tag"
                        v-for="(tag, index) in tags"
                        :key="`${tag}_${index}`"
                    >{{ tag }}</a-tag>
                </div>
            </div>
        </header>
        <div class="cell-12 main-picture">
            <img
                v-if="picture.fileType != 'video'"
                :type="picture.fileType"
                :src="picture.url"
                class="item-picture img-size-cover"
            >
            <video
                v-if="picture.fileType == 'video'"
                :type="picture.fileType"
                :src="picture.url"
                class="item-picture img-size-cover"
            ></video>
        </div>
        <section class="cell">
            <div class="grid padding-y padding-x">
                <div
                    class="picture-container cell-12 medium-6"
                    v-for="(item, index) in items"
                    :key="`${item.name}_${index}`"
                >
                    <img
                        v-if="item.fileType != 'video'"
                        :type="item.fileType"
                        :src="item.url"
                        class="item-picture img-size-cover"
                    >
                    <video
                        v-if="item.fileType == 'video'"
                        :type="item.fileType"
                        :src="item.url"
                        class="item-picture img-size-cover"
                    ></video>
                </div>
                <div class="padding-bottom-2 cell-12">
                    <InfoView
                        v-for="(info, index) in collection"
                        :key="index"
                        :model="{}"
                        :schema="info"
                        :editable="false"
                        :title="info.title"
                    />
                </div>
            </div>
        </section>
    </article>
</template>


<script>
//http://localhost:9003/#/talent/5c07d0de4b96d33344d8e675/works
import ButtonBack from 'components/ButtonBack.vue'
import ButtonEdition from 'components/ButtonEdition'
import NavBurger from 'components/NavBurger.vue'
import InfoView from 'components/InfoView.vue'
import InfoBasic from 'config/work.info'

export default {
    name: 'WorkFile',
    components: {
        ButtonBack,
        ButtonEdition,
        NavBurger,
        InfoView
    },

    data() {
        return {
            model: this.$store.state.User.me,
            queryParams: '',
            workData: {},
            title: '',
            description: '',
            tags: [],
            photos: [],
            items: [],
            picture: {}
        }
    },

    /*
    VIEW CALL -> STORE CALL -> SERVICES CALL
    VIEW THEN <- STORE THEN <--------------|
  */
    created() {
        const data = {}
        data.idUser = this.model.id
        data.workId = this.workId

        this.$store.dispatch('Works/GetWorkById', data).then(data => {
            this.workData = data
            this.title = data.title
            this.description = data.description
            this.tags = data.work.concat(data.sector, data.rol)
            this.photos = data.photos
            this.items = [...this.photos]
            this.items.splice(0, 1)
            this.picture = this.photos[0]
        })
    },

    computed: {
        fullname() {
            return `${this.model.name} ${this.model.lastName} ${this.model
                .sndLastName || ''}`
        },

        collection() {
            return InfoBasic
        },

        workId() {
            return this.$route.params.workId
        }
    },

    methods: {
        handleChange(tag, checked) {
            return checked
        }
    }
}
</script>
<style lang="scss">
.work-view-section {
    position: relative;
    h1 {
        font-size: convertPxToRem(24) !important;
    }

    h2,
    h3 {
        font-size: convertPxToRem(18);
    }

    h3 {
        font-weight: normal !important;
    }

    & > header {
        padding-top: 10px;
        padding-bottom: 50px;
        min-height: 16.68em;
        background: linear-gradient(
            360deg,
            rgba(70, 70, 70, 0.83976) 0%,
            #151515 50.03%,
            rgba(70, 70, 70, 0.8398) 100%
        );
    }

    &:after {
        content: '';
        position: absolute;
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.0001) 0%,
            #000000 100%
        );
        z-index: 1;
        width: 100%;
        height: 60px;
    }

    .main-picture {
        max-height: 660px;
    }

    .item-picture {
        width: 100%;
        height: 100%;
    }

    .picture-container {
        max-height: 600px;
    }

    @media screen and (min-width: 641px) {
        h1 {
            font-size: convertPxToRem(48) !important;
            text-align: center;
        }

        h2,
        h3 {
            font-size: convertPxToRem(36);
        }

        & > header {
            background: transparent;
        }

        &:after {
            background: transparent;
        }
    }
}
</style>