<template>
    <article
        class="work-view-section grid full-size-inherit grid-center padding-bottom-2"
        aria-live="assertive"
    >
        <header class="cell-12">
            <div class="grid full-width padding-x">
                <div class="cell-6">
                    <ButtonBack :action="{ name: 'Works'}"/>
                </div>
                <div class="cell-6 cell-align-right text-align-right">
                    <ButtonEdition label="Editar trabajo" :handleClick="handleAction"/>
                </div>
                <h1 class="cell-12">{{userName}}</h1>
                <h2 class="cell-12">{{title}}</h2>
                <h3 class="cell-12">{{description}}</h3>
                <div class="cell-12">
                    <a-tag
                        class="work-tag margin-bottom-1"
                        v-for="(tag, index) in tags"
                        :key="`${tag}_${index}`"
                    >{{ tag }}</a-tag>
                </div>
            </div>
        </header>
        <div class="cell-12 main-picture">
            <img :src="picture.poster" @click="openGallery(-1)" class="item-picture img-size-cover">
        </div>
        <section class="cell">
            <div class="grid padding-y padding-x">
                <div
                    class="picture-container cell-12 medium-6"
                    v-for="(item, index) in items"
                    :key="`${item.name}_${index}`"
                >
                    <img
                        :src="item.poster"
                        :indeximg="index"
                        @click="openGallery(index)"
                        class="item-picture img-size-cover"
                    >
                </div>
                <div class="padding-bottom-2 cell-12" v-if="false">
                    <InfoView
                        v-for="(info, index) in collection"
                        :key="index"
                        :model="{}"
                        :schema="info"
                        :editable="false"
                        :title="info.title"
                    />
                </div>
            </div>
        </section>
        <gallery
            :images="galleryImage"
            :index="currentIndex"
            @close="currentIndex = null"
            :options="{
                    vimeoVideoIdProperty: 'vimeo',
                    vimeoPlayerIdPrefix: 'vimeo-player-',
                    vimeoClickToPlay: true
                }"
        ></gallery>
    </article>
</template>


<script>
import ButtonBack from 'components/ButtonBack.vue'
import ButtonEdition from 'components/ButtonEdition'
import NavBurger from 'components/NavBurger.vue'
import MixinUser from 'mixins/MixinUser.vue'
import MixinWorks from 'mixins/MixinWorks.vue'
import InfoView from 'components/InfoView.vue'
import InfoBasic from 'config/work.info'
import VueGallery from 'vue-gallery'
import 'blueimp-gallery/js/blueimp-gallery-vimeo'

export default {
    name: 'WorkView',

    mixins: [MixinUser, MixinWorks],

    components: {
        ButtonBack,
        ButtonEdition,
        NavBurger,
        InfoView,
        gallery: VueGallery
    },

    data() {
        return {
            model: this.$store.state.User.me,
            queryParams: '',
            workData: {},
            title: '',
            description: '',
            tags: [],
            photos: [],
            items: [],
            picture: {},
            galleryImage: [],
            currentIndex: null,
            defaultPoster: require('../../assets/images/video-poster.jpg')
        }
    },

    /*
    VIEW CALL -> STORE CALL -> SERVICES CALL
    VIEW THEN <- STORE THEN <--------------|
  */
    created() {
        const vm = this
        const data = {}
        data.idUser = this.model.id
        data.workId = this.workId

        this.$store.dispatch('Works/GetWorkById', data).then(data => {
            vm.workData = data
            vm.title = data.title
            vm.description = data.description
            vm.tags = data.work.concat(data.sector, data.rol)
            vm.galleryImage = data.photos.map((file, index) =>
                this.workCover(data.photos, index)
            )
            vm.items = [...vm.galleryImage]
            vm.picture = vm.galleryImage[0]
            vm.items.splice(0, 1)
        })
    },

    computed: {
        collection() {
            return InfoBasic
        },

        workId() {
            return this.$route.params.workId
        }
    },

    methods: {
        handleChange(tag, checked) {
            return checked
        },

        openGallery(index) {
            this.currentIndex = Number(index) + 1
            const url = this.galleryImage[this.currentIndex]
        },

        handleAction() {
            this.$router.push({ name: 'EditWork', workId: this.workId })
        }
    }
}
</script>
<style lang="scss">
.work-view-section {
    position: relative;
    h1 {
        font-size: convertPxToRem(24) !important;
    }

    h2,
    h3 {
        font-size: convertPxToRem(18);
    }

    h3 {
        font-weight: normal !important;
    }

    & > header {
        padding-top: 10px;
        padding-bottom: 50px;
        min-height: 16.68em;
        background: linear-gradient(
            360deg,
            rgba(70, 70, 70, 0.83976) 0%,
            #151515 50.03%,
            rgba(70, 70, 70, 0.8398) 100%
        );
    }

    &:after {
        content: '';
        position: absolute;
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.0001) 0%,
            #000000 100%
        );
        z-index: 1;
        width: 100%;
        height: 60px;
    }

    .main-picture {
        max-height: 660px;
        overflow: hidden;
    }

    .item-picture {
        width: 100%;
        height: 100%;
    }

    .picture-container {
        max-height: 600px;
    }

    @media screen and (min-width: 641px) {
        h1 {
            font-size: convertPxToRem(48) !important;
            text-align: center;
        }

        h2,
        h3 {
            font-size: convertPxToRem(36);
        }

        & > header {
            background: transparent;
        }

        &:after {
            background: transparent;
        }
    }
}
</style>