<template>
    <article
        class="work-list-section grid full-size-inherit grid-center padding-bottom-2"
        aria-live="assertive"
    >
        <header class="cell-12 padding-bottom-1">
            <div class="grid full-width padding-x">
                <div class="cell-6">
                    <ButtonBack />
                </div>
                <div class="cell-6 cell-align-right text-align-right">
                    <NavBurger/>
                </div>
                <h1 class="cell-6 medium-12">{{userName}}</h1>
                <div class="cell-12" v-if="workList.length">
                    <h2>Trabajos</h2>
                    <h3>Filtros</h3>
                    <div>
                        <TagCheckable
                            class="auto work-tag margin-bottom-1"
                            v-for="(tag, index) in worksTags"
                            :key="`${tag}_${index}`"
                            :isChecked="isChecked(tag)"
                            :label="tag"
                            @change="handleChange"
                        />
                    </div>
                </div>
            </div>
        </header>
        <section v-if="dataFiltered.length > 0" class="cell-12 work-list-items">
            <ItemWork
                v-for="(work, index) in dataFiltered"
                :key="`${work.id}_${index}`"
                :model="work"
            />
        </section>
        <div class="cell-12 padding-top-1 margin-bottom-2 text-align-center" v-if="canEdit">
            <router-link :to="{ name: 'CreateWork' }">
                <a-button>
                    Crear un nuevo trabajo
                    <span class="ico">
                        <img src="app/assets/svgs/Add.svg" alt>
                    </span>
                </a-button>
            </router-link>
        </div>
    </article>
</template>


<script>
//http://localhost:9003/#/talent/5c07d0de4b96d33344d8e675/works
import ButtonBack from 'components/ButtonBack.vue'
import ButtonEdition from 'components/ButtonEdition'
import MixinUser from 'mixins/MixinUser.vue'
import MixinWorks from 'mixins/MixinWorks.vue'
import NavBurger from 'components/NavBurger.vue'
import ItemWork from 'components/ItemWork.vue'
import TagCheckable from 'components/TagCheckable.vue'

export default {
    name: 'WorkList',

    mixins: [MixinUser, MixinWorks],

    components: {
        ButtonBack,
        ButtonEdition,
        NavBurger,
        ItemWork,
        TagCheckable
    },

    data() {
        return {
            init: false,
            list: [],
            checked: []
        }
    },

    created() {
        // Se obtiene la lista de trabajos del usuario
        this[this.isAuthenticated ? 'GetAllWorks' : 'GetAllWorksInWork']()
    },

    updated() {
        if (!this.init && this.worksTags.length) {
            this.init = true
            this.checked = [...this.worksTags]
        }
    },

    computed: {
        // Se obtiene el nombre completo del usuario
        fullname() {
            return `${this.currentUser.name} ${this.currentUser.lastName} ${this
                .currentUser.sndLastName || ''}`
        },

        // Se obtiene una lista de trabajos filtrados según los tags marcados
        dataFiltered() {
            const workList  = this.workList;
            return workList.filter(work => {
                let show = false
                for (let prop of this.workTags(work)) {
                    if (this.isChecked(prop)) {
                        show = true
                    }
                }
                return show
            })
        }
    },

    methods: {
        // Se modifica la marcación de los tags
        handleChange({ label }) {
            if (this.checked.includes(label)) {
                this.checked = this.checked.filter(
                    tagChecked => tagChecked != label
                )
            } else {
                this.checked.push(label)
            }
        },

        // Se verifica si un tag esta marcado
        isChecked(name) {
            return this.checked.includes(name)
        }
    }
}
</script>
<style lang="scss">
.work-list-section {
    position: relative;
    h1 {
        font-weight: normal !important;
        font-size: convertPxToRem(24) !important;
    }

    h2 {
        font-size: convertPxToRem(24);
    }

    h3 {
        font-weight: normal !important;
        font-size: convertPxToRem(12);
    }

    .work-list-items {
        padding: 15px;
    }

    & > header {
        padding-top: 10px;
        margin-bottom: 8px;
        min-height: 16.68em;
        background: linear-gradient(
            360deg,
            rgba(70, 70, 70, 0.83976) 0%,
            #151515 50.03%,
            rgba(70, 70, 70, 0.8398) 100%
        );
    }

    &:after {
        content: '';
        position: absolute;
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.0001) 0%,
            #000000 100%
        );
        z-index: 1;
        width: 100%;
        height: 60px;
    }

    .thumb {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
    }

    @media screen and (min-width: 641px) {
        h1 {
            font-size: convertPxToRem(48) !important;
            text-align: center;
        }

        h2 {
            font-size: convertPxToRem(36);
        }

        h3 {
            font-size: convertPxToRem(18);
        }

        & > header {
            background: transparent;
        }

        &:after {
            background: transparent;
        }
    }
}
</style>