<template>
    <article class="confirm-section uflow-portrait full-width" aria-live="assertive">
        <HeaderSign :label="label" class="margin-auto" :showLegend="false"/>
        <section class="cell margin-auto small-content">
            <template v-if="!disabledButton">
                <h1 class="size-3 margin-bottom-3 font-weight-5">{{ model.user.email }}</h1>
                <h2
                    class="size-6 font-weight-5 margin-bottom-3"
                >¡Listo, ya tienes tu cuenta confirmada!</h2>
            </template>
            <a-button
                class="position-absoluto"
                size="small"
                :class="{'bg-blue': isFetching, 'bg-red': hasError}"
                :loading="isFetching"
                :disabled="disabledButton"
                @click="singIn"
            >{{helper}}</a-button>
        </section>
    </article>
</template>


<script>
import HeaderSign from 'components/HeaderSign.vue'
import MixinUser from 'mixins/MixinUser.vue'
export default {
    name: 'Confirm',

    components: { HeaderSign },

    mixins: [MixinUser],

    data() {
        return {
            helper: 'Verificando'
        }
    },

    computed: {
        label() {
            return this.model.auth.email.value || 'Verificando email'
        },

        model() {
            return {
                user: this.$store.state.Auth.status.info.user,
                auth: this.$store.state.Auth
            }
        },

        disabledButton() {
            return this.model.auth.status.code !== 200
        },

        isFetching() {
            return this.model.auth.status.code === 0
        },

        hasError() {
            return this.model.auth.status.code === 400
        }
    },

    created() {
        const vm = this
        this.$store
            .dispatch('Auth/SignInWithToken', this.$route.params.token)
            .then(response => {
                if (vm.model.auth.status.code > 300) {
                    vm.helper =
                        vm.model.auth.status.info.message ||
                        'El token de verificación es inválido.'
                } else {
                    vm.helper = 'Iniciar session'
                }
            })
    },

    methods: {
        singIn(error, data) {
            const userId = this.model.user.id || this.model.user._id
            if (userId) {
                this.$router.replace({
                    name: this.isTutor ? 'Portada' : 'CreateProfile',
                    params: { id: userId }
                })
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.confirm-section {
    #{$root}.sign-in-section .ant-form-item-label label:after {
        content: '';
    }

    section {
        position: relative;
        padding-bottom: 20px;
        z-index: 1;
        width: 375px;
    }

    button {
        width: 100%;
        max-width: 100% !important;
        // margin-top: 15px;
        // bottom: 15px!important;
        // position: absolute!important;
    }
}
</style>