

<template>
    <section class="tutor-portfolio">
        <HeaderSign class="text-align-center" label="tutor.selecciona_cuenta" :showLegend="false"></HeaderSign>
        <nav class>
            <ul>
                <li class v-for="(user) of users" :key="user.id">
                    <router-link :to="{ name: 'Portada', params: {id: user.id}}">
                        <div class="link-content">
                            <a-avatar :size="67" :src="user.picture"/>
                            <p
                                class="size-4 padding-left-1 show-inline-block text-weight-normal"
                            >{{ getName(user) }}</p>
                        </div>
                    </router-link>
                </li>
            </ul>
        </nav>
    </section>
</template>


<script type="text/javascript">
import { addToPosition, plainObject } from 'utils/helpers'
import HeaderSign from 'components/HeaderSign.vue'
import MixinUser from 'mixins/MixinUser.vue'

//
export default {
    name: 'Tutor',

    mixins: [MixinUser],

    components: {
        HeaderSign
    },

    updated() {
        console.log('updating work', this.currentList)
    },

    computed: {
        users() {
            return this.currentUser.talents || []
        }
    },

    methods: {
        getName(user) {
            return user.nickName || `${user.name} ${user.lastName}`
        }
    }
}
</script>

<style lang="scss" >
.tutor-portfolio nav {
    position: relative;
    z-index: 1;

    margin: auto;

    ul {
        padding: 0;
        display: block;
        margin: -15px auto 0;
        text-align: center;
        width: 100%;
    }

    li {
        display: inline-block;
        border-top: 4px solid $secondary-color;
        padding: 0;
        width: 100%;
        text-align: center;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            p {
                color: white;
            }
        }

        .link-content {
            display: inline-block;
            text-align: left;
            padding: 24px 6px 24px 37px;
            max-width: $content-min-width;
        }

        &:last-child {
            border-bottom: 4px solid $secondary-color;
        }

        .ant-avatar {
            vertical-align: middle;
        }

        p {
            width: calc(100% - 90px);
            vertical-align: middle;
            margin: 0;
        }
    }
}
</style>