
<script type="text/javascript">
// @ is an alias to /src
// Helpers
import Portfolio from 'components/Portfolio.vue'
// Helper para modificar la posicion de item dentro del array
import { addToPosition, plainObject } from 'utils/helpers'

//
export default {
    name: 'User',

    mixins: [Portfolio],

    data() {
        return {
            editWorks: false,
            currentIndex: null,
            workEdition: [],
            pressed: null
        }
    },

    beforeRouteLeave(to, from, next) {
        // TODO: implementar que si existe algun cambio sin guardar
        // Se despliegue algun tipo de alerta  this.$confirm({})
        next()
    },

    created() {
        this.GetAllWorksInBook().then(response => {
            this.currentList = plainObject(response.collection).map(
                ({ photos, ...props }) => ({
                    ...this.workCover(photos, 0),
                    ...props,
                })
            )
        })
    },

    updated() {
        console.log('updating work', this.currentList)
    },

    computed: {
        tags() {
            return this.currentUserTags
        },

        picture() {
            return this.currentUser.picture
        },

        loading() {
            return this.currentUserIsLoading
        },

        createLabel() {
            return 'agregar_trabajos'
        },

        editLabel() {
            return (this.currentUser.steps || [false]).some(item => !item)
                ? 'completar_perfil'
                : 'editar_perfil'
        }
    },

    methods: {
        changeHandle() {
            this.SaveOrderInBook({
                book: plainObject(this.currentList).map(work => work.id)
            })
        },

        editHandle() {
            this.$router.push({ name: 'EditProfile', params: { step: 0 } })
        },

        createHandle() {
            this.$router.push({ name: 'CreateWork' })
        }
    }
}
</script>

<style lang="scss" >
</style>