<template>
    <transition @enter="enter" :css="false">
        <article class="sign-in-section app-portrait full-width" aria-live="assertive">
            <HeaderSign :label="this.email" class="cell-12 padding-x" :showLegend="false"/>
            <section class="margin-auto padding-x" v-if="!forgotPassword">
                <DynamicForm
                    :schema="schema"
                    :model="model"
                    @submitData="sendForm"
                    @fieldChange="onFieldChange"
                >
                    <a-form-item class="cell-12 small-text-align-left text-align-center">
                        <a-button
                            type="primary"
                            htmlType="submit"
                            :disabled="isInvalid"
                            size="small"
                        >
                            {{helper}}
                            <span class="ico">
                                <img
                                    class="flip-horizontal"
                                    src="app/assets/svgs/arrow-left.svg"
                                    alt
                                >
                            </span>
                        </a-button>
                    </a-form-item>
                </DynamicForm>
                <p>
                    <a-button class="bg-none btn-re-send" @click="handleForgotPassword">
                        <strong
                            class="size-1"
                            :class="highlight"
                        >{{ $t('signin.he_olvidado_mi_contraseña') }}</strong>
                    </a-button>
                </p>
            </section>
            <transition name="fade">
                <section class="forgot-password margin-bottom-3 margin-auto" v-if="forgotPassword">
                    <h1 class="title size-6">
                        <strong>{{helper}}</strong>
                    </h1>
                    <router-link class="color-cyan size-4" to="/">{{ $t('regresar_login') }}</router-link>
                </section>
            </transition>
        </article>
    </transition>
</template>


<script>
import { Form } from 'ant-design-vue'
import DynamicForm from 'components/DynamicForm.vue'
import HeaderSign from 'components/HeaderSign.vue'
import schema from './schema'

export default {
    name: 'AuthSignIn',
    components: {
        DynamicForm,
        HeaderSign
    },
    data() {
        return {
            schema,
            helper: '',
            validation: {},
            isInvalid: true,
            highlight: '',
            forgotPassword: false
        }
    },

    created() {
        const email = this.$store.state.Auth.email.value
        this.setHelperText()
    },

    mounted() {
        this.setHelperText()
    },

    beforeRouteLeave(to, from, next) {
        this.startAnimationForm(next)
    },

    computed: {
        model() {
            return this.$store.state.Auth
        },

        query() {
            return this.$route.params
        },

        talentId() {
            return this.query.talentId
        },

        email() {
            if (this.query.email != null) {
                return this.query.email
            } else {
                return this.$store.state.Auth.email.value
            }
        }
    },

    methods: {
        enter(el, done) {
            const elements = el.querySelectorAll('.ant-form-item, h1, p')
            new TimelineMax({ onComplete: done })
                .to(el, 0.2, { autoAlpha: 1 })
                .staggerFrom(
                    elements,
                    0.8,
                    {
                        y: '50%',
                        opacity: 0,
                        ease: com.greensock.easing.Power2.easeOut
                    },
                    0.2
                )
        },

        setHelperText(hasError) {
            const helpers = document.querySelectorAll('[data-predictible-text]')
            const input = helpers[helpers.length - 1]

            if (this.model.password.value.length >= 8) {
                this.helper = 'enviar'
                this.isInvalid = false
            } else {
                this.isInvalid = true
                if (helpers.length > 0) {
                    this.helper = helpers[helpers.length - 1].getAttribute(
                        'data-predictible-text'
                    )
                }
            }
        },

        sendForm(error, data) {
            const vm = this
            this.$store.dispatch('Auth/SignIn').then(response => {
                if (vm.model.status.code === 200) {
                    setTimeout(() => {
                        vm.$router.replace({
                            name: 'Portada',
                            params: { id: vm.model.status.info.user.id }
                        })
                    }, 100)
                } else {
                    vm.helper =
                        vm.model.status.info.message || 'Contraseña incorrecta.'
                    vm.highlight = 'color-pink-light size-4'
                    vm.isInvalid = true
                }
            })
        },

        handleForgotPassword() {
            this.startAnimationForm(this.sendResetPassword, false)
        },

        sendResetPassword() {
            const vm = this
            this.$store.dispatch('Auth/Forgot').then(response => {
                this.forgotPassword = true
                vm.helper =
                    'Listo! Ahora revisa tu correo para generar una nueva contraseña'
            })
        },

        onFieldChange(data, error, form) {
            const newModel = { ...this.model }
            this.$store.dispatch('Auth/SetData', data)
            this.setHelperText(error)
        },

        startAnimationForm(next, hideAll = true) {
            const elements = document.querySelectorAll(
                '.ant-form-item, form + p'
            )
            const tweener = new TimelineMax({ onComplete: next }).staggerTo(
                elements,
                0.3,
                {
                    y: '50%',
                    opacity: 0,
                    ease: com.greensock.easing.Power2.easeOut
                },
                0.2
            )

            if (hideAll) {
                tweener.to('.sign-in-section', 0.2, { opacity: 0 }, 0.5)
            }
        },

        startAnimationForgotPassword(next) {},

        leaveAnimationForgotPassword(next) {}
    }
}
</script>
<style lang="scss" >
.sign-in-section {
    section {
        position: relative;
        z-index: 1;
        max-width: $content-min-width;
    }

    .ant-form-item {
        margin-bottom: 15px;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .ant-checkbox-wrapper > span + span {
        display: inline-block;
        line-height: 1;
        width: calc(100% - 20px);
        vertical-align: middle;
    }

    
}
</style>