<template>
    <article class="about-section grid full-size-inherit grid-center" aria-live="assertive">
        <HeaderAbout />
        <section class="cell">
            <div :class="container">
                <a-collapse
                    :defaultActiveKey="smallActiveKey"
                    v-if="isSmall"
                    @change="changeActivekey"
                >
                    <a-collapse-panel
                        v-for="(info, index) in collection"
                        :key="index"
                        class="main-font"
                    >
                        <template slot="header">
                            <component :is="getIcon(info)"/>
                            {{$t(info.title)}}
                        </template>
                        <info-view
                            :model="model"
                            :schema="info"
                            :params="{id: index}"
                            :editable="true"
                            @edit="onHandleEdit"
                        />
                    </a-collapse-panel>
                </a-collapse>
                <div v-else class="padding-x">
                    <a-tabs
                        tabPosition="left"
                        :defaultActiveKey="activeKey"
                        @change="changeActivekey"
                    >
                        <a-tab-pane
                            v-for="(info, index) in collection"
                            :key="`${index}`"
                            :tab="$t(info.title)"
                        >
                            <info-view
                                :model="model"
                                :schema="info"
                                :editable="true"
                                :params="{id: index}"
                                @edit="onHandleEdit"
                            />
                        </a-tab-pane>
                    </a-tabs>
                </div>
            </div>
        </section>
    </article>
</template>


<script>
import ButtonBack from 'components/ButtonBack.vue'
import NavBurger from 'components/NavBurger.vue'
import HeaderAbout from 'components/HeaderAbout.vue'
import InfoView from 'components/InfoView.vue'
import Agend from 'components/icons/IconAgend.vue'
import Book from 'components/icons/IconBook.vue'
import Building from 'components/icons/IconBuilding.vue'
import Cycling from 'components/icons/IconCycling.vue'
import Running from 'components/icons/IconRunning.vue'
import Schedule from 'components/icons/IconSchedule.vue'
import Social from 'components/icons/IconSocial.vue'
import Sport from 'components/icons/IconSport.vue'
import MixinMisc from 'mixins/MixinMisc.vue'
import MixinUser from 'mixins/MixinUser.vue'
import InfoBasic from 'config/user.info'
import InfoManager from 'config/agent.info'

const mapper = {
    Agend,
    Book,
    Building,
    Cycling,
    Running,
    Schedule,
    Social,
    Sport
}

export default {
    name: 'About',
    mixins: [MixinMisc, MixinUser],

    components: {
        ButtonBack,
        NavBurger,
        InfoView,
        HeaderAbout,
        ...mapper
    },

    data() {
        return {
            windowWidth: window.innerWidth,
            windowHeight: window.innerHeight,
            model: this.$store.state.User.me,
            activeKey: '0',
            smallActiveKey: '0'
        }
    },

    computed: {
        container() {
            return this.isSmall
                ? 'grid-container-fluid no-padding'
                : 'grid-container no-padding'
        },

        collection() {
            return this.isManager ? InfoManager : InfoBasic
        }
    },

    methods: {
        onHandleEdit(model, { id }) {
            console.log('EditProfile', id)
            this.$router.push({ name: 'EditProfile', params: { step: id } })
        },

        changeActivekey(key) {
            // console.log(key)
            // this.activeKey = typeof key === 'array' ? key[0] : key
        },

        getIcon(info) {
            return mapper[info.icon] || mapper.Building
        }
    }
}
</script>
<style lang="scss">
.about-section {
    position: relative;
    padding-bottom: 50px;

    .ant-tabs-content,
    .ant-collapse-content-box {
        margin-top: 24px;
        padding: 0 15px !important;

        .info-view-description {
            font-size: 18px;
            text-align: left;
            color: color(gray-4) !important;
        }

        .info-view-title {
            font-size: 14px;
            margin-bottom: 0em;
            color: color(gray-4) !important;
        }

        .info-view-list li {
            border: none !important;
        }

        .info-view-edit {
            right: 15px;
            margin-bottom: 21px;
        }
    }

    .ant-tabs-tabpane {
        padding-left: 15px !important;
    }

    .ant-collapse-header {
        border-color: color(gray-9) !important;
        font-weight: bold;
    }

    .info-view-list {
        padding: 11px;
        border-radius: $border-radius-2;
        background-color: color(gray-9);
    }

   
}
</style>