
<template>
    <article class="cell-12 full-size">
        <Navigation />
        <header class="app-header grid full-width grid-middle">
            <div class="cell text-align-left">
                <router-link :to="{ name: 'Portada' }">
                    <img class="logo-header" src="~/assets/svgs/logo.svg" alt>
                </router-link>
            </div>
            <div class="cell cell-align-right text-align-right">
                <router-link :to="{ name: isUserLogged ? 'Portada' : 'Sign'}">
                    <span class="size-1" v-if="isUserLogged">
                        {{ $t('Hola') }}
                        <strong>{{User.name}}</strong>
                        <People class="color-gray-3 margin-left-1" :avatar="currentUser.picture " />
                    </span>
                    <span v-else>
                        Sign in/up
                        <People class="color-gray-3 margin-left-1"  />

                    </span>
                </router-link>
            </div>
        </header>
        <router-view></router-view>
    </article>
</template>

<script type="text/javascript">
/*
  computed para hacer getters
  created cuando se instancia
  mounted cuando se ve

*/
// @ is an alias to /src
import Navigation from 'components/Navigation.vue'
import People from 'components/icons/People.vue'
import MixinUser from 'mixins/MixinUser.vue'
import { hasUncompletedProfile } from '../router'

export default {
    name: 'Talent',

    mixins: [MixinUser],

    components: {
        Navigation,
        People
    },
    beforeRouteUpdate(to, from, next) {
        hasUncompletedProfile(to, from, next)
    },

    computed: {
        isUserLogged() {
            return this.$store.getters['Auth/isAuthenticated']
        },

        User() {
            return this.$store.state.User.me
        },
    
    }
}
</script>

<style lang="scss" scoped>
.app-sign {
    line-height: 1;
    text-align: center;
    color: white;
}
#App .app-header {
    .ant-btn {
        width: 40px!important;
        height: 40px!important;
        max-width: 40px!important;
        max-height: 40px!important;
        margin-left: 3px;
    }
}
</style>