
<template>
    <article class="cell-12 full-size">
        <h1>Page Not Found</h1>
    </article>
</template>

<script type="text/javascript">
export default {
    name: 'PageNotFound'
}
</script>

<style lang="scss" scoped>
</style>