
<template>
  <article class="talent full-size">
    <div class="grid" >
      <div class="cell-12 header-div">
        <div class="grid cover-info padding-x" >
          <div class="header-gradiant"></div>
          <div class="cell-10 talent-title">
            <h1 class="text-white headline">{{fullname}}</h1>
          </div>
          <div class="cell-2 auto">
            <NavBurger/>　
          </div>
          <div class="cell-10 talent-title">
             <a-tag class="cell auto portfolio-tag" v-for="(tag, index) in tags" :key="`${tag}_${index}`">{{ tag }}</a-tag>
          </div>
          <div class="cell-2 text-align-right">
            <ButtonEdition 
              label="Editar Perfil" 
              @clickHandle="toggleEdit"
              v-if="works.length"
            />
          </div>
        </div>

        <img class="cover" :class="expandCover" :src="picture">

        <div class="grid grid-center padding-y portfolio-nav" v-if="isAuthenticated && !this.works.length">
            <div class="cell-12 large-6 text-align-center"><a-button @click="gotToProfile" >{{ $t('talent.complete_data_profile') }}</a-button></div>
            <div class="cell-12 large-6 text-align-center"><a-button @click="gotToWorks" >{{ $t('talent.add_skills') }}</a-button></div>
        </div>
      </div>

      <div class="cell-12 gallery-div">
        <div class="grid-gallery grid medium-padding-x medium-padding-y">
            <ItemPortfolio 
              class="cell-12 medium-6"
              v-for="(work, index) in works" 
              :key="`${work.id}_${index}`"
              :link="{ name: 'Work', params: {workId: work.id }}"
              :title="work.title"
              :isVideo="work.files[0].isVideo"
              :picture="work.files[0].url"
              v-dragging="{ item: work, list: editableWorks, group: 'works' }"
            />
        </div>
      </div>
    </div>

    <router-view></router-view>
  </article>
</template>

<script type="text/javascript">

// @ is an alias to /src
import NavBurger from 'components/NavBurger.vue';
import ButtonEdition from 'components/ButtonEdition';
import ItemPortfolio from 'components/ItemPortfolio';
import MixinMisc from 'mixins/MixinMisc.vue';
import MixinUser from 'mixins/MixinUser.vue';
// Componente encargado del draggeo
import { Container, Draggable } from 'vue-smooth-dnd';
// Helper para modificar la posicion de item dentro del array
import { addToPosition } from 'utils/helpers';

export default {
  name: 'TalentPortfolio',
  
  mixins: [MixinMisc, MixinUser],

  components: {
    NavBurger,
    ButtonEdition,
    Container, 
    Draggable,
    ItemPortfolio,
  },

  beforeRouteUpdate(to, from, next) {
    next();
  },

  data() {
    const mock = new Array(6);
    const works = mock.toString().split(',').map( (empty, i) => ({ 
        id: i,
        title: `Work_${i}`,
        files: [{ name: 'People', url: `https://picsum.photos/640/${ 240 * ((i % 3) + 1)  }/?random`, isVideo: false }]
      }))

    return {
      //works, // Para pruebas
      works: [],
      //switch oara activar la galeria drageable
      editWorks: false
    };
  },

  computed: {

    fullname() {
      return `${this.model.name || ''} ${this.model.lastName || ''} ${this.model.sndLastName || ''}`;
    },

    picture() {
      return this.model.picture;
    },

    address() {
      const mainAddress = (this.model.addresses||[])[0] || {};
      return `${mainAddress.province || ''} ${mainAddress.country || ''}`;
    },

    coverStyle() {
      return { 
          //backgroundImage: `url(${this.picture})`,
      }
    },

    editableWorks() {
      return this.editWorks ? this.works : [];
    },

    /*works() {
        return this.model.Works || [];
    },**/

    model() {
      return this.$store.state.User.me;
    },
    
    tags() {
      return [
        this.model.gender ? 'Hombre' : 'Mujer',
        this.model.age,
        this.model.sector[0],
        (this.model.addresses[0] || {}).country,
      ].filter( tag => typeof tag != 'undefined');
    },

    expandCover() {
      return { 
        'expand-cover': !this.works.length,
        'expand-extra-cover': this.$store.getters['Auth/isAuthenticated']  && !this.works.length
      }
    }
  },

  methods: {

    toggleEdit() {
       this.editWorks = !this.editWorks;
       return this.editWorks 
    },

    gotToProfile() {
      this.$router.push({name: 'EditProfile', params: {step: 0}});
    },

    gotToWorks(workId) {
      this.$router.push({name: 'WorkEdit', param: {workId}});
    },

  },

};
</script>

<style lang="scss" scoped>
  .cover {
    display: block;
    width: 100%;
    max-height: 600px;
    
    object-fit: cover;
  }

  .cover-info {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 153px;
    padding-top: 15px;
  
  .cell {
    z-index: 2;
  }
}


/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.portfolio-tag {
  background: $tag-bg-color;
  font-weight: bold;
  color: white;
  border: transparent;
}

.expand-cover {
  height: calc(100vh - 311px)
}

.expand-extra-cover {
  height: calc(100vh - 400px)
}

.portfolio-nav {
  button span {width: 100%;}
}

 .edit-button { 
   margin-left: -15px;
   @media screen and (min-width: 768px) {
     margin-right: -15px;
     margin-left: 0;
   }
 
 }

</style>