
<template>
  <article class="cell-12 full-size">
     <header class="app-header grid full-width">
      <div class="cell text-align-left">
         Playoneer
      </div>
      <div class="cell cell-align-right text-align-right">
        <span v-if="isUserLogged">Hola <strong>{{User.name}}</strong></span>
        <a v-else href="/">Sign in/up</a>
      </div>
    </header>
    <router-view></router-view>
  </article>
</template>

<script type="text/javascript">
/*
  computed para hacer getters
  created cuando se instancia
  mounted cuando se ve

*/
// @ is an alias to /src
import NavBurger from 'components/NavBurger.vue';
import {hasUncompletedProfile} from '../router'

export default {
  name: 'Talent',
  components: {
    NavBurger
  },
    beforeRouteUpdate (to, from, next) {
    hasUncompletedProfile(to, from, next)
  },

  computed: {
    isUserLogged() {
      return this.$store.getters['Auth/isAuthenticated'];
    },

    User() {
      return this.$store.state.User.me;
    }
  }
};
</script>

<style lang="scss" scoped>


.app-sign {
    line-height: 1;
    text-align: center;
    color:white;
}



</style>