<template>
    <article class="profile-section grid full-size-inherit grid-center" aria-live="assertive">
        <header class="cell-12 text-white header-dark">
            <h1>{{ $t('about.about-you') }}</h1>
        </header>
        <section class="cell auto">
            <SchemaForm
                :schema="schema"
                :form="form"
                :formData="model"
                :customMapper="mapper"
                @submitData="sendForm"
                @fieldChange="onFieldChange"
            >
                <a-form-item class="cell small-text-align-left text-align-center">
                    <a-button
                        type="primary"
                        htmlType="submit"
                        class="text-align-center"
                    >{{ this.helpText }}</a-button>
                </a-form-item>
            </SchemaForm>
        </section>
    </article>
</template>


<script>
import SchemaForm from 'components/SchemaForm' //builder
import FieldChooseImage from 'components/SchemaForm/fields/FieldChooseImage' //custom
import MixinUser from 'mixins/MixinUser.vue' // heredea de esta libreria
import schemaUser from 'schemas/personal' // Interfaz del modelo
import schemaAgent from 'schemas/agent' // Interfaz del modelo
import formUser from 'config/personal.form' // editores
import formAgent from 'config/agent.form' // editores
import { range, hasLegalAge } from 'utils/helpers'
import _ from 'lodash'

const mapper = {
    chooseImage: FieldChooseImage
}

export default {
    name: 'Auth-sign-in',

    mixins: [MixinUser],

    components: {
        SchemaForm
    },

    data() {
        return {
            model: _.cloneDeep(this.$store.state.User.me),
            mapper,
            helpText: 'Crear perfil'
        }
    },

    computed: {
        user() {
            return this.$store.state.User.me
        },

        schema() {
            return this.isManager ? schemaAgent : schemaUser
        },

        form() {
            return this.isManager ? formAgent : formUser
        }
    },

    methods: {
        setHelperText(hasError) {},

        sendForm({ valid, errors }, data) {
            let checkValid = valid

            if (errors) {
                const hasErrors = errors.filter(item => {
                    let flag = true
                    if (
                        (item.schemaPath.includes('/required/5') ||
                            item.dataPath.includes('/tutor')) &&
                        hasLegalAge(data.birthday)
                    ) {
                        flag = false
                    }
                    return flag
                })
                checkValid = !!!hasErrors.length
                this.helpText =
                    'Completa los campos requeridos y volve a intentar'
            }

            if (checkValid) {
                const vm = this
                this.$store.dispatch('User/UpdateProfile', data).then(r => {
                    this.$router.push({
                        name: 'Portada',
                        params: { id: vm.model.id }
                    })
                })
            }
        },

        onFieldChange({ key, value, data, validation }) {
            //console.log('onFieldChange', key, value, validation.error, data,);
        }
    }
}
</script>
<style lang="scss" scoped>
.profile-section {
    min-height: calc(100vh - #{$header-height + $footer-height});
    max-width: $content-min-width;
    margin: 0 auto;
}
</style>