<template>
    <article
        id="Create-Profile"
        class="profile-section grid full-size-inherit grid-center"
        aria-live="assertive"
    >
        <HeaderAbout :showBack="false"/>
        <section class="cell auto">
            <SchemaForm
                :schema="schema"
                :form="form"
                :formData="model"
                :customMapper="mapper"
                @submitData="sendForm"
                @fieldChange="onFieldChange"
            >
                <a-form-item class="cell small-text-align-left text-align-center">
                    <a-button
                        type="primary"
                        htmlType="submit"
                        class="text-align-center"
                    >{{ this.helpText }}</a-button>
                </a-form-item>
            </SchemaForm>
        </section>
    </article>
</template>


<script>
import SchemaForm from 'components/SchemaForm' //builder
import FieldChooseImage from 'components/SchemaForm/fields/FieldChooseImage' //custom
import HeaderAbout from 'components/HeaderAbout.vue'
import MixinUser from 'mixins/MixinUser.vue' // heredea de esta libreria

// SCHEMA
import schemaAgent from 'schemas/agent'
import schemaUser from 'schemas/personalPlayoneer'

// FORM
import formAgent from 'config/agent.form'
import formUser from 'config/personalPlayoneer.form'

import { range, hasLegalAge } from 'utils/helpers'
import _ from 'lodash'

const mapper = {
    chooseImage: FieldChooseImage
}

export default {
    name: 'Auth-sign-in',

    mixins: [MixinUser],

    components: {
        SchemaForm,
        HeaderAbout
    },

    data() {
        return {
            model: _.cloneDeep(this.$store.state.User.me),
            mapper,
            helpText: 'Crear perfil'
        }
    },

    computed: {
        user() {
            return this.$store.state.User.me
        },

        schema() {
            return this.isManager ? schemaAgent : schemaUser
        },

        form() {
            return this.isManager ? formAgent : formUser
        }
    },

    mounted() {
        const elementList = document.querySelectorAll('input')
        const length = elementList.length
        for (var index = 0; index < length; index++) {
            elementList[index].style.borderBottom = 'none'
        }
    },

    methods: {
        setHelperText(hasError) {},

        sendForm({ valid, errors }, data) {
            let checkValid = valid

            if (errors) {
                const hasErrors = errors.filter(item => {
                    let flag = true
                    if (
                        (item.schemaPath.includes('/required/5') ||
                            item.dataPath.includes('/tutor')) &&
                        hasLegalAge(data.birthday)
                    ) {
                        flag = false
                    }
                    return flag
                })
                checkValid = !!!hasErrors.length
                this.helpText =
                    'Completa los campos requeridos y volve a intentar'
            }

            if (checkValid) {
                const vm = this
                this.$store.dispatch('User/UpdateProfile', data).then(r => {
                    this.$router.push({
                        name: 'Portada',
                        params: { id: vm.model.id }
                    })
                })
            }
        },

        onFieldChange({ key, value, data, validation }) {
            console.log('onFieldChange', key, value, validation.error, data)
        }
    }
}
</script>
<style lang="scss" scoped>
.profile-section {
    min-height: calc(100vh - #{$header-height + $footer-height});
    //max-width: $content-min-width;
    margin: 0 auto;

    & > section {
        max-width: $content-min-width;
    }
}

#App .ant-input,
#App input.ant-input,
#App #Create-Profile .ant-form-item-children .ant-input {
    border-bottom: none;
}
</style>