<template>
    <article
        class="profile-edit-section grid full-size-inherit grid-center padding-bottom-3"
        aria-live="assertive"
    >
        <HeaderAbout/>

        <section class="cell auto">
            <h2 class="title">
                <component :is="icon" class="margin-right"/>
                <strong>{{title}}</strong>
                <p v-if="currentStep === 3" class="total-points size-3">Puntaje:{{points}}</p>
            </h2>
            <p v-if="description" class="description">{{$t(description)}}</p>
            <div v-for="(stepInfo, index) of steps" :key="`form-stepinfo-${index}`">
                <SchemaForm
                    v-if="showForm(index)"
                    :schema="stepInfo.schema"
                    :form="stepInfo.form"
                    :formData="model"
                    :customMapper="mapper"
                    @submitData="sendForm"
                    @validate="onFieldChange"
                >
                    <p class="over-points" v-if="isOverMaxPoint">{{maxPointMessage}}</p>
                    <div class="cell-12 padding-y-1">
                        <p
                            class="color-gray-light font-weight-5 font-size-2"
                        >{{ currentStep + 1 }}/{{ steps.length }} pasos completados</p>
                        <a-steps progressDot :current="currentStep">
                            <a-step v-for="(step, index) of steps" :key="`form-step-${index}`"/>
                        </a-steps>
                    </div>
                    <a-form-item class="cell small-text-align-left text-align-center">
                        <a-button
                            size="small"
                            htmlType="submit"
                            class="text-align-center"
                            v-if="!isLastStep"
                        >
                            {{ helpText }}
                            <span class="ico">
                                <img src="app/assets/svgs/Chevron right.svg" alt>
                            </span>
                        </a-button>
                        <a-button
                            @click="sendForm({endProcess: true, errors: [], valid: true})"
                            id="SaveAndFinish"
                            class="text-align-center margin-top-1 btn-secondary bg-gray-5"
                        >
                            {{ helpEndText }}
                            <span class="ico">
                                <img src="app/assets/svgs/Chevron right.svg" alt>
                            </span>
                        </a-button>
                    </a-form-item>
                </SchemaForm>
            </div>
        </section>
    </article>
</template>


<script>
import SchemaForm from 'components/SchemaForm'

import FieldChooseImage from 'components/SchemaForm/fields/FieldChooseImage'
import FieldSkill from 'components/SchemaForm/fields/FieldSkill'
import FieldUploadVideo from 'components/SchemaForm/fields/FieldUploadVideo'

import FieldSeason from 'components/SchemaForm/fields/FieldSeason'

import BrandAndLogo from 'components/SchemaForm/fields/FieldBrand' //custom component
import SeasonSelector from 'components/SchemaForm/fields/FieldBrand' //custom component
import ButtonBack from 'components/ButtonBack.vue'
import HeaderAbout from 'components/HeaderAbout.vue'
import MixinUser from 'mixins/MixinUser.vue'

import stepsUser from 'config/userPlayoneer.steps.forms'
import stepsAgent from 'config/agent.steps.forms'

import { range, hasLegalAge } from 'utils/helpers'
import _ from 'lodash'

import Agend from 'components/icons/IconAgend.vue'
import Book from 'components/icons/IconBook.vue'
import Building from 'components/icons/IconBuilding.vue'
import Cycling from 'components/icons/IconCycling.vue'
import Running from 'components/icons/IconRunning.vue'
import Schedule from 'components/icons/IconSchedule.vue'
import Social from 'components/icons/IconSocial.vue'
import Sport from 'components/icons/IconSport.vue'

const iconMapper = {
    Agend,
    Book,
    Building,
    Cycling,
    Running,
    Schedule,
    Social,
    Sport
}

const mapper = {
    chooseImage: FieldChooseImage,
    sliderSkill: FieldSkill,
    uploadVideo: FieldUploadVideo,
    brandAndLogo: BrandAndLogo,
    seasonSelector: FieldSeason
}

export default {
    name: 'EditProfile',

    mixins: [MixinUser],

    components: {
        HeaderAbout,
        SchemaForm,
        ButtonBack,
        ...iconMapper
    },

    data() {
        return {
            model: _.cloneDeep(this.$store.state.User.me),
            tempModel: {},
            mapper,
            helpText: 'Siguiente',
            helpEndText: 'guardar y finalizar',
            currentStep: +this.$route.params.step || 0,
            pointsText: null,
            header: null,
            MAX_POINTS: 121,
            TOTAL_POINTS: 230,
            isOverMaxPoint: false,
            maxPointMessage:
                'Has superado la puntuación máxima. Puntéate correctamente para continuar.',
            points: '0/230'
        }
    },

    mounted() {
        this.checkStep()
        var model = this.model;
        if (this.isSkills) {
            document.body.onscroll = this.onScroll
            this.header = document.querySelectorAll('header')[1]
            this.pointsText = document.querySelector('.total-points')
        }
    },

    updated() {
        this.checkStep()
    },

    beforeRouteUpdate(to, from, next) {
        window.scrollTo(0, 0)

        this.currentStep = +to.params.step
        this.checkStep()

        next()
    },

    computed: {
        user() {
            return this.$store.state.User.me
        },

        isLastStep() {
            return this.currentStep === this.steps.length - 1
        },

        steps() {
            return this.isManager ? stepsAgent : stepsUser
        },

        info() {
            return this.steps[this.currentStep]
        },

        icon() {
            return iconMapper[this.info.icon] || mapper.Building
        },

        title() {
            return this.info.label
        },

        description() {
            return this.info.description
        },

        isSkills(){
            return this.title == 'Habilidades';
        }
    },

    methods: {
        onScroll(event) {
            if (this.pointsText) {
                if (window.pageYOffset > 201) {
                    this.pointsText.classList.add('fixed-points')
                } else {
                    this.pointsText.classList.remove('fixed-points')
                }
            }
        },

        stepCompleted(schema, object) {
            let flag = 0
            const entries = Object.entries(schema).filter(
                ([key, schemaProp]) => !!schemaProp.type
            )
            const total = entries.length
            entries.forEach(([key, schemaProp]) => {
                switch (schemaProp.type) {
                    case 'array':
                        if (
                            schemaProp.items &&
                            object[key] &&
                            object[key].length
                        ) {
                            flag += +this.stepCompleted(
                                schemaProp.items,
                                object[key][0]
                            )
                        } else {
                            flag += +(object[key] && !!object[key].length)
                        }
                        break
                    case 'object':
                        flag += +(
                            !object[key] ||
                            this.stepCompleted(
                                schemaProp.properties,
                                object[key]
                            )
                        )
                        break
                    case 'number':
                        flag += 1
                    case 'string':
                        flag += +!!object[key]
                }

                // console.log(total,'>',flag,'>>',key, schemaProp.type)
            })

            return total === flag
        },

        checkStep() {
            const totalSteps = this.steps.length - 1

            if (
                Number.isNaN(this.currentStep) ||
                this.currentStep > totalSteps ||
                this.steps.length < 0
            ) {
                 this.$router.replace({ params: { step: 0 } })
            }
        },

        setHelperText(hasError) {},

        showForm(index) {
            return index === this.currentStep
        },

        sendForm({ valid, errors, endProcess }, data, event) {
            let checkValid = valid
            if (this.isSkills && this.isOverMaxPoint) {
                this.helpText = 'Has superado la puntuación máxima.'
                return
            }

            if (errors.length) {
                const hasErrors = errors.filter(item => {
                    let flag = true
                    if (
                        this.currentStep == 0 &&
                        (item.schemaPath.includes('/required/5') ||
                            item.dataPath.includes('/tutor')) &&
                        hasLegalAge(data.birthday)
                    ) {
                        flag = false
                    }
                    return flag
                })
                checkValid = !!!hasErrors.length
                this.helpText =
                    'Completa los campos requeridos y volve a intentar'
            }

            if (checkValid) {
                const vm = this

                // Registro de etapas completadas
                this.tempModel.steps =
                    this.tempModel.steps || this.steps.map(item => false)

                // Se verifica si la etapa actual completo todos los datos
                this.tempModel.steps[this.currentStep] = this.stepCompleted(
                    this.steps[this.currentStep].schema.properties,
                    this.tempModel
                )

                this.$store
                    .dispatch('User/UpdateProfile', this.tempModel)
                    .then(r => {
                        this.helpText = 'Siguiente'
                        if (endProcess || this.isLastStep) {
                            // Fix: Al finalizar el proceso de completar los datos, te deería de dirigir a "book", y no a "about you"
                            this.$router.push({ name: 'Portada' })
                            // this.$router.push({ name: 'About' })
                        } else {
                            this.$router.push({
                                name: 'EditProfile',
                                params: { step: this.currentStep + 1 }
                            })
                        }
                    })
            }
        },

        sumPoints(dataSkill) {
            let totalPoints = 0
            for (let prop in dataSkill) {
                totalPoints += isNaN(dataSkill[prop]) ? 0 : dataSkill[prop]
            }
            return totalPoints
        },

        onFieldChange({ key, value, data, validation }) {
            this.tempModel = data
            console.log(key, data)
            if (this.isSkills) {
                if (null == this.pointsText) {
                    return
                }
                let totalPoints = 0
                totalPoints += this.sumPoints(this.tempModel.mainSkills)
                totalPoints += this.sumPoints(this.tempModel.tacticSkills)
                totalPoints += this.sumPoints(this.tempModel.athleticSkills)
                totalPoints += this.sumPoints(this.tempModel.character)

                if (this.MAX_POINTS < totalPoints) {
                    this.isOverMaxPoint = true
                    this.pointsText.classList.add('over-points')

                    this.helpEndText = this.helpText =
                        'Has superado la puntuación máxima.'
                } else {
                    this.isOverMaxPoint = false
                    this.pointsText.classList.remove('over-points')
                    this.helpText = 'Siguiente'
                    this.helpEndText = 'guardar y finalizar'
                }

                this.points = `${totalPoints}/${this.TOTAL_POINTS}`
            }
           
            //console.log('onFieldChange', key, value, validation.error, data,);
        }
    }
}
</script>
<style lang="scss" scoped>
.title {
    position: relative;
}
.over-points {
    color: red;
}

.total-points {
    position: absolute;
    right: 0px;
    top: 12px;
}

.fixed-points {
    position: fixed;
    top: 10px;
    right: 10px;
}

.exide-points {
    position: fixed;
    top: 10px;
}

.profile-edit-section {
    min-height: calc(100vh - #{$header-height + $footer-height});

    margin: 0 auto;

    & > section {
        max-width: $content-min-width;
    }

    h1 {
        width: 100%;
        padding-top: 15px;
        margin-bottom: 35px;
        height: 80px;
    }
}
</style>