<template>
    <article class="profile-edit-section grid full-size-inherit grid-center padding-bottom" aria-live="assertive">
        <HeaderAbout />
        <section class="cell auto">
            <div v-for="(stepInfo, index) of steps" :key="`form-stepinfo-${index}`">
                <SchemaForm
                    v-if="showForm(index)"
                    :schema="stepInfo.schema"
                    :form="stepInfo.form"
                    :formData="model"
                    :customMapper="mapper"
                    @submitData="sendForm"
                    @validate="onFieldChange"
                >
                    <div class="cell-12 padding-y-1">
                        <p
                            class="color-gray-light font-weight-5 font-size-2"
                        >{{ currentStep + 1 }}/{{ steps.length }} pasos completados</p>
                        <a-steps progressDot :current="currentStep">
                            <a-step v-for="(step, index) of steps" :key="`form-step-${index}`"/>
                        </a-steps>
                    </div>
                    <a-form-item class="cell small-text-align-left text-align-center">
                        <a-button htmlType="submit" class="text-align-center" size="small" v-if="!isLastStep">
                            {{ helpText }}
                            <span class="ico">
                                <img src="app/assets/svgs/Chevron right.svg" alt>
                            </span>
                        </a-button>
                        <a-button
                            @click="sendForm({endProcess: true, errors: [], valid: true})"
                            id="SaveAndFinish"
                            class="text-align-center margin-top-1 btn-secondary bg-gray-5"
                        >
                            {{ helpEndText }}
                            <span class="ico">
                                <img src="app/assets/svgs/Chevron right.svg" alt>
                            </span>
                        </a-button>
                    </a-form-item>
                </SchemaForm>
            </div>
        </section>
    </article>
</template>


<script>
import SchemaForm from 'components/SchemaForm'
import FieldChooseImage from 'components/SchemaForm/fields/FieldChooseImage'
import FieldUploadVideo from 'components/SchemaForm/fields/FieldUploadVideo'
import HeaderAbout from 'components/HeaderAbout.vue'
import ButtonBack from 'components/ButtonBack.vue'
import MixinUser from 'mixins/MixinUser.vue'
import stepsUser from 'config/user.steps.forms'
import stepsAgent from 'config/agent.steps.forms'
import { range, hasLegalAge } from 'utils/helpers'
import _ from 'lodash'

const mapper = {
    chooseImage: FieldChooseImage,
    uploadVideo: FieldUploadVideo
}

export default {
    name: 'EditProfile',

    mixins: [MixinUser],

    components: {
        HeaderAbout,
        SchemaForm,
        ButtonBack
    },

    data() {
        return {
            model: _.cloneDeep(this.$store.state.User.me),
            tempModel: {},
            mapper,
            helpText: 'Siguiente',
            helpEndText: 'guardar y finalizar',
            currentStep: +this.$route.params.step || 0
        }
    },

    mounted() {
        this.checkStep()
    },

    updated() {
        this.checkStep()
    },

    beforeRouteUpdate(to, from, next) {
        window.scrollTo(0, 0)

        this.currentStep = +to.params.step
        this.checkStep()

        next()
    },

    computed: {
        user() {
            return this.$store.state.User.me
        },

        isLastStep() {
            return this.currentStep === this.steps.length - 1
        },

        steps() {
            return this.isManager ? stepsAgent : stepsUser
        }
    },

    methods: {
        stepCompleted(schema, object) {
            let flag = 0
            const entries = Object.entries(schema).filter(
                ([key, schemaProp]) => !!schemaProp.type
            )
            const total = entries.length
            entries.forEach(([key, schemaProp]) => {
                switch (schemaProp.type) {
                    case 'array':
                        if (
                            schemaProp.items &&
                            object[key] &&
                            object[key].length
                        ) {
                            flag += +this.stepCompleted(
                                schemaProp.items,
                                object[key][0]
                            )
                        } else {
                            flag += +(object[key] && !!object[key].length)
                        }
                        break
                    case 'object':
                        flag += +(
                            !object[key] ||
                            this.stepCompleted(
                                schemaProp.properties,
                                object[key]
                            )
                        )
                        break
                    case 'number':
                        flag += 1
                    case 'string':
                        flag += +!!object[key]
                }

                // console.log(total,'>',flag,'>>',key, schemaProp.type)
            })

            return total === flag
        },

        checkStep() {
            const totalSteps = this.steps.length - 1

            if (
                Number.isNaN(this.currentStep) ||
                this.currentStep > totalSteps ||
                this.steps.length < 0
            ) {
                this.$router.push({ name: 'Page404' })
            }
        },

        setHelperText(hasError) {},

        showForm(index) {
            return index === this.currentStep
        },

        sendForm({ valid, errors, endProcess }, data, event) {
            let checkValid = valid

            if (errors.length) {
                const hasErrors = errors.filter(item => {
                    let flag = true
                    if (
                        this.currentStep == 0 &&
                        (item.schemaPath.includes('/required/5') ||
                            item.dataPath.includes('/tutor')) &&
                        hasLegalAge(data.birthday)
                    ) {
                        flag = false
                    }
                    return flag
                })
                checkValid = !!!hasErrors.length
                this.helpText =
                    'Completa los campos requeridos y volve a intentar'
            }

            if (checkValid) {
                const vm = this

                // Registro de etapas completadas
                this.tempModel.steps =
                    this.tempModel.steps || this.steps.map(item => false)

                // Se verifica si la etapa actual completo todos los datos
                this.tempModel.steps[this.currentStep] = this.stepCompleted(
                    this.steps[this.currentStep].schema.properties,
                    this.tempModel
                )

console.log( this.tempModel)
                return 

                this.$store
                    .dispatch('User/UpdateProfile', this.tempModel)
                    .then(r => {
                        this.helpText = 'Siguiente'
                        if (endProcess || this.isLastStep) {
                            // Fix: Al finalizar el proceso de completar los datos, te deería de dirigir a "book", y no a "about you"
                            this.$router.push({ name: 'Portada' })
                            // this.$router.push({ name: 'About' })
                        } else {
                            this.$router.push({
                                name: 'EditProfile',
                                params: { step: this.currentStep + 1 }
                            })
                        }
                    })
            }
        },

        onFieldChange({ key, value, data, validation }) {
            this.tempModel = data
            // console.log('onFieldChange', key, value, validation.error, data,);
        }
    }
}
</script>
<style lang="scss" scoped>
.profile-edit-section {
    min-height: calc(100vh - #{$header-height + $footer-height});

    margin: 0 auto;

    & > section {
        max-width: $content-min-width;
    }

    h1 {
        width: 100%;
        padding-top: 15px;
        margin-bottom: 35px;
        height: 80px;
        border-bottom: 4px solid #505050;
    }
}
</style>