
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg viewBox="0 0 24 24">
            <circle class="cls-1" cx="12" cy="12" r="11.04"></circle>
            <path
                d="M16 18V6H2V18H16ZM13 0H15V2H16C16.5304 2 17.0391 2.21071 17.4142 2.58579C17.7893 2.96086 18 3.46957 18 4V18C18 18.5304 17.7893 19.0391 17.4142 19.4142C17.0391 19.7893 16.5304 20 16 20H2C0.89 20 0 19.1 0 18V4C0 2.89 0.89 2 2 2H3V0H5V2H13V0Z"
                fill="currentcolor"
            ></path>
        </svg>
    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconBook',

    mixins: [IconMixin]
}
</script>
