
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle class="cls-1" cx="12" cy="12" r="11.04"></circle>
            <path
                fill="currentColor"
                d="M12,6.82c.52.57,1,1,1.41,1.56A1,1,0,0,1,13.6,9c0,.75,0,1.51,0,2.27,0,.44.16.59.59.57.69,0,1.38,0,2.08,0,.41,0,.61.1.6.56,0,1.43,0,2.86,0,4.29,0,.42-.16.54-.56.54-2.87,0-5.75,0-8.62,0-.4,0-.56-.12-.56-.54,0-2.16,0-4.33,0-6.49,0-.46.18-.57.6-.56.69,0,1.39,0,2.08,0,.42,0,.58-.12.61-.57a1.82,1.82,0,0,1,.4-.91C11.15,7.7,11.55,7.32,12,6.82Zm0,9.3c.42.08.59-.09.59-.54S12.44,15,12,15s-.58.1-.56.53S11.48,16.21,12,16.12ZM9.27,10.64a3.22,3.22,0,0,0-1,.26c-.12.09-.1.67,0,.74a2.71,2.71,0,0,0,1,.18Zm0,3.36V12.8c-.39.07-.77,0-1,.22a.77.77,0,0,0,0,.79C8.48,14,8.87,13.94,9.24,14ZM12,12.86c-.45-.09-.57.13-.58.55s.19.56.6.56.53-.15.53-.55S12.47,12.77,12,12.86Zm2.65,0a2.45,2.45,0,0,0,.2,1,.8.8,0,0,0,.79,0c.17-.21.12-.6.17-1Zm-5.41,2c-.4.09-.79.07-1,.26a.79.79,0,0,0,0,.79,2.42,2.42,0,0,0,1,.15ZM12,10.71c-.39-.06-.57.07-.57.5s.11.61.57.6.57-.17.56-.59S12.41,10.64,12,10.71Zm2.75,4.22v1.25a2.48,2.48,0,0,0,1-.22.75.75,0,0,0,0-.74C15.52,15,15.15,15,14.75,14.93ZM12,8.56c-.37-.08-.53.07-.54.49s.17.56.59.56.53-.15.53-.54S12.4,8.49,12,8.56Z"
            ></path>
        </svg>

    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconBuilding',

    mixins: [IconMixin]
}
</script>

