<script type="text/javascript">
export default {
    name: 'IconMixin',

    props: {
        background: { type: String },
        color: { type: String },
        label: { type: String }
    },

    computed: {
        styles() {
            const background = this.background ? String(this.size) : null
            const color = this.color ? String(this.color) : null

            const styles = {}
            if (background) {
                styles.background = background
            }

            if (color) {
                styles.color = color
            }

            return styles
        }
    }
}
</script>

<style lang="scss">
.icon {
    display: inline-block;
    overflow: hidden;
    color: #5e5e5e;
    width: 43px;
    height: 43px;
    vertical-align: middle;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 99px;

    circle {
        fill: none;
        stroke: #dcdcdc;
        stroke-miterlimit: 10;
    }
}
</style>
