
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg viewBox="0 0 24 24">
            <circle  cx="12" cy="12" r="11.04"></circle>
            <path
               fill="currentColor"
                d="M12.58,10l-1.11,1.15s0,.1.07.11a1.77,1.77,0,0,1,1,2.08,9,9,0,0,0,0,1.37c0,.37-.18.44-.5.45s-.45-.18-.4-.47a2.4,2.4,0,0,0-1.6-3c-.61-.25-.61-.87-.13-1.37S11,9.18,11.53,8.64s1.05-.43,1.46.21a3.5,3.5,0,0,1,.29.49,1.36,1.36,0,0,0,1.65,1c.31-.06.49.07.49.44s-.24.38-.52.41C13.87,11.32,13,11.18,12.58,10Z"
            ></path>
            <path
               fill="currentColor"
                d="M15.44,12.2a2.46,2.46,0,0,1,2.46,2.42,2.46,2.46,0,1,1-4.92,0A2.45,2.45,0,0,1,15.44,12.2Zm0,4.16a1.72,1.72,0,0,0,1.71-1.72,1.73,1.73,0,1,0-3.45,0A1.7,1.7,0,0,0,15.46,16.36Z"
            ></path>
            <path
               fill="currentColor"
                d="M8.53,12.2A2.46,2.46,0,0,1,11,14.65a2.46,2.46,0,1,1-4.92,0A2.46,2.46,0,0,1,8.53,12.2Zm0,4.16a1.68,1.68,0,0,0,1.74-1.73,1.73,1.73,0,0,0-1.71-1.71,1.76,1.76,0,0,0-1.73,1.71A1.72,1.72,0,0,0,8.53,16.36Z"
            ></path>
            <path
                class=""
                d="M14,8.65a.88.88,0,0,1,0-1.76.85.85,0,0,1,.89.89A.89.89,0,0,1,14,8.65Z"
            ></path>
        </svg>
    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconCycling',

    mixins: [IconMixin]
}
</script>
