
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="11.04"></circle>
            <path
                fill="transparent"
                d="M3.83,12a8.17,8.17,0,1,1,8.07,8.19A8.12,8.12,0,0,1,3.83,12ZM9.39,8.52l-.46,0a.82.82,0,0,0-.79.87q0,3,0,6a.77.77,0,0,0,.81.84c2,0,4.07,0,6.1,0a.76.76,0,0,0,.8-.79c0-2,0-4.07,0-6.1a.81.81,0,0,0-.74-.82c-.16,0-.32,0-.49-.05,0-.09,0-.15,0-.22,0-.26.1-.58-.37-.59s-.46.22-.49.55a.55.55,0,0,1-.39.29c-.87,0-1.74,0-2.6,0-.35,0-.5-.11-.46-.46s-.12-.4-.41-.4-.44.09-.42.4A2.19,2.19,0,0,1,9.39,8.52Z"
            ></path>
            <path
                fill="currentColor"
                d="M9.39,8.53a2.19,2.19,0,0,0,0-.42c0-.31.13-.4.42-.4s.45.09.41.4.11.47.46.46c.86,0,1.73,0,2.6,0a.52.52,0,0,0,.39-.29c0-.32,0-.57.49-.55s.34.34.37.59c0,.07,0,.13,0,.22a3.86,3.86,0,0,1,.49.06.79.79,0,0,1,.74.81c0,2,0,4.07,0,6.1a.76.76,0,0,1-.8.79c-2,0-4.07,0-6.1,0a.77.77,0,0,1-.81-.83q0-3,0-6a.83.83,0,0,1,.79-.87ZM12,15.46c.87,0,1.73,0,2.6,0,.34,0,.48-.1.47-.45,0-1.44,0-2.87,0-4.3,0-.32-.1-.45-.43-.44H9.43c-.34,0-.47.1-.47.45C9,12.16,9,13.59,9,15c0,.32.11.44.44.43C10.25,15.44,11.1,15.46,12,15.46Z"
            ></path>
            <path
                fill="transparent"
                d="M12,14.59c-.85,0-1.7,0-2.55,0-.33,0-.44-.12-.44-.44,0-1.43,0-2.87,0-4.3,0-.35.13-.46.47-.46h5.15c.33,0,.44.12.44.44,0,1.43,0,2.87,0,4.3,0,.35-.13.46-.47.46C13.69,14.58,12.82,14.59,12,14.59Z"
            ></path>
        </svg>
    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconSchedule',

    mixins: [IconMixin]
}
</script>

