
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="11.04"></circle>
            <path
                fill="currentColor"
                d="M13.34,11.18c-.06.25-.09.41-.14.56a1.14,1.14,0,0,0,.44,1.51,1.19,1.19,0,0,1,.5,1.14c0,1,0,2.05,0,3.05-1,.26-1.06.2-1.06-.68a7.94,7.94,0,0,1,0-1.38c.15-.93-.43-1.38-1.09-1.9l-.55,2.21L7.84,15,8,14l2.55.45.81-4.09c-.69,0-1,.3-.91.94,0,.18,0,.37,0,.55,0,.37-.1.54-.51.54s-.54-.15-.55-.56c0-1.85,0-1.85,1.67-2.58s1.8-.76,2.84.85a2.86,2.86,0,0,0,2.22,1.3v.93A3.78,3.78,0,0,1,13.34,11.18Z"
            ></path>
            <path
                fill="currentColor"
                d="M14.37,7.47a1.07,1.07,0,0,1-1.07,1,1,1,0,0,1-1-1.08,1,1,0,0,1,2.06.07Z"
            ></path>
        </svg>
       
    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconRunning',

    mixins: [IconMixin]
}
</script>

