
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="11.04"></circle>
            <path
                fill="currentColor"
                d="M11.09,12c-.17.44.09.62.43.79a6.09,6.09,0,0,1,.89.52,1.43,1.43,0,0,0,1.78.21,1.69,1.69,0,0,1,2.09.57,1.91,1.91,0,0,1,.06,2.2,1.85,1.85,0,0,1-2.05.74A1.78,1.78,0,0,1,13,15.28a.78.78,0,0,0-.53-.86,9,9,0,0,1-.85-.5,1.44,1.44,0,0,0-1.78-.2,1.68,1.68,0,0,1-2.14-.67,1.88,1.88,0,0,1,.17-2.31,1.81,1.81,0,0,1,2.28-.35.75.75,0,0,0,1,0c.5-.33,1-.62,1.55-.91a.55.55,0,0,0,.33-.6,1.86,1.86,0,0,1,3.46-1.09A1.91,1.91,0,0,1,16.13,10a1.81,1.81,0,0,1-2.34.23.59.59,0,0,0-.73,0c-.49.3-1,.6-1.5.87S10.91,11.55,11.09,12Z"
            ></path>
        </svg>
    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconSport',

    mixins: [IconMixin]
}
</script>

