
<template>
    <span class="icon" :style="styles" :aria-label="label">
        <svg viewBox="0 0 24 24">
            <circle class="cls-1" cx="12" cy="12" r="11.04"></circle>
            <path
                fill="currentcolor"
                d="M12,7.79a3,3,0,0,1,2.47-1c.82,0,1.65,0,2.47,0,.51,0,.75.21.75.71V14.9c0,.53-.27.75-.79.75H13.79c-.83,0-1,.21-1.28,1-.07.22-.35.37-.52.56-.18-.19-.44-.36-.5-.58-.21-.7-.46-1-1.18-1H7.11c-.65,0-.82-.17-.82-.83V7.64c0-.67.15-.8.83-.8H9.41A3,3,0,0,1,12,7.79Zm.5,6.8c1.24,0,2.4,0,3.56,0,.44,0,.59-.12.58-.57,0-1.89,0-3.78,0-5.66a4,4,0,0,0-.06-.52c-.81,0-1.59,0-2.37,0A1.57,1.57,0,0,0,12.53,9.6c0,1.48,0,3,0,4.45Zm-1.07,0a1.79,1.79,0,0,0,0-.31c0-1.57,0-3.13,0-4.7A1.59,1.59,0,0,0,9.75,7.84c-.62,0-1.25,0-1.87,0-.44,0-.54.17-.54.57q0,2.8,0,5.61c0,.45.13.6.58.58C9.08,14.57,10.24,14.59,11.45,14.59Z"
            ></path>
        </svg>
    </span>
</template>

<script type="text/javascript">
import IconMixin from './IconMixin.vue'
export default {
    name: 'IconBook',

    mixins: [IconMixin]
}
</script>
