
<template>
    <span class="icon vertical-middle" :style="styles" :aria-label="label">
        <img class="cover " :src="avatar" v-if="avatar">
        <svg v-else width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path
                d="M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z"
                fill="currentcolor"
            ></path>
        </svg>
    </span>
</template>

<script type="text/javascript">
export default {
    name: 'PeopleIcon',

    props: {
        background: { type: String, default: '#61c66a' },
        color: { type: String, default: 'white' },
        avatar: { type: String },
        label: { type: String }
    },

    computed: {
        styles() {
            const background = this.background ? String(this.size) : null
            const color = this.color ? String(this.color) : null

            const styles = {}
            if (background) {
                styles.background = background
            }

            if (color) {
                //styles.color = color
            }

            return styles
        }
    }
}
</script>

<style lang="scss" scoped>
.icon {
    display: inline-block;
    overflow: hidden;
    width: 43px;
    height: 43px;
    border: 1px solid rgba(96, 125, 139, 0.32);
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border-radius: 99px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    img {
        height: 100%;
    }

    svg {
        margin-top: 9px;
    }
}
</style>
